년도별 가공한 파일 3개 불러오기

In [1]:
import numpy as np 
import pandas as pd

In [2]:
# 파일 3개 불러오기
year22 = pd.read_csv('..//makefile2-1/year22.csv')
year23 = pd.read_csv('../makefile2-1/year23.csv')
year24 = pd.read_csv('../makefile2-1/year24.csv')

In [ ]:
# year22['기준_날짜'].dtype
# year23['기준_날짜'].dtype
# year24['기준_날짜'].dtype

dtype('O')

2022년

In [ ]:
# # 2022년 
# year22 = pd.DataFrame(year22)

# # '기준_날짜'에서 월추출
# year22['월'] = year22['기준_날짜'].str[5:7] # '2021년11월16일에서 '11' 추출

# # 각 월별로 필터링
# month22 = {month: year22[year22['월'] == month] for month in ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']}

In [ ]:
# year22

        시군구    행정동    행정동_ID      행정기관코드        기준_날짜  지하철_승객_수    연도   월
0       종로구  청운효자동  11010720  1111051500  2022년12월31일       0.0  2022  12
1       종로구  청운효자동  11010720  1111051500  2022년12월30일       0.0  2022  12
2       종로구  청운효자동  11010720  1111051500  2022년12월29일       0.0  2022  12
3       종로구  청운효자동  11010720  1111051500  2022년12월28일       0.0  2022  12
4       종로구  청운효자동  11010720  1111051500  2022년12월27일       0.0  2022  12
...     ...    ...       ...         ...          ...       ...   ...  ..
266080  강동구   둔촌2동  11250710  1174070000  2022년01월05일   10749.0  2022  01
266081  강동구   둔촌2동  11250710  1174070000  2022년01월04일   10749.0  2022  01
266082  강동구   둔촌2동  11250710  1174070000  2022년01월03일   10307.0  2022  01
266083  강동구   둔촌2동  11250710  1174070000  2022년01월02일    2746.0  2022  01
266084  강동구   둔촌2동  11250710  1174070000  2022년01월01일    2192.0  2022  01

[266085 rows x 8 columns]

In [ ]:
# year22['월'].unique()

array(['12', '11', '10', '09', '08', '07', '06', '05', '04', '03', '02',
       '01'], dtype=object)

In [ ]:
# # group by
# year22_sum = year22.groupby(['연도', '월', '행정동','시군구'])['지하철_승객_수'].sum().reset_index()
# year22_sum

        연도   월   행정동   시군구   지하철_승객_수
0     2022  01  가락1동   송파구   614458.0
1     2022  01  가락2동   송파구   337757.0
2     2022  01  가락본동   송파구        0.0
3     2022  01  가리봉동   구로구        0.0
4     2022  01   가산동   금천구  1253224.0
...    ...  ..   ...   ...        ...
5011  2022  12   효창동   용산구   256056.0
5012  2022  12   후암동   용산구        0.0
5013  2022  12  휘경1동  동대문구   541577.0
5014  2022  12  휘경2동  동대문구        0.0
5015  2022  12   흑석동   동작구   253403.0

[5016 rows x 5 columns]

년도별 분기 생성

In [ ]:
# # 분기별 생성
# def get_quarter(month):
#     if month in ['01', '02', '03']:
#         return '1-3월'
#     elif month in ['04','05','06']:
#         return '4-6월'
#     elif month in ['07','08','09']:
#         return '7-9월'
#     else:
#         return '10-12월'

# year22['분기'] = year22['월'].apply(get_quarter)

In [ ]:
# # 분기별로 groupby, 지하철 승객 수 합계 계산 
# year22_sp = year22.groupby(['연도','분기','행정동','시군구'])['지하철_승객_수'].sum().reset_index()
# year22_sp

        연도    분기   행정동   시군구   지하철_승객_수
0     2022  1-3월  가락1동   송파구  1687061.0
1     2022  1-3월  가락2동   송파구   939791.0
2     2022  1-3월  가락본동   송파구        0.0
3     2022  1-3월  가리봉동   구로구        0.0
4     2022  1-3월   가산동   금천구  3436767.0
...    ...   ...   ...   ...        ...
1667  2022  7-9월   효창동   용산구   738955.0
1668  2022  7-9월   후암동   용산구        0.0
1669  2022  7-9월  휘경1동  동대문구  1486170.0
1670  2022  7-9월  휘경2동  동대문구        0.0
1671  2022  7-9월   흑석동   동작구   720623.0

[1672 rows x 5 columns]

In [ ]:
# # '지하철_승객_수'가 0.0 확인
# zero_count = year22[year22['지하철_승객_수'] == 0.0].shape[0]
# (f"지하철 승객 수가 0.0인 행의 개수: {zero_count}")

'지하철 승객 수가 0.0인 행의 개수: 100836'

In [ ]:
# year22_sp.to_csv('y22_quarter_sum.csv', index=False)

2023년

In [ ]:
# # 2023년
# year23 = pd.DataFrame(year23)

# # '기준_날짜'에서 월추출
# year23['월'] = year23['기준_날짜'].str[5:7] # '2021년11월16일에서 '11' 추출

# # 각 월별로 필터링
# month23 = {month: year23[year23['월'] == month] for month in ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']}

In [ ]:
# year23

        시군구    행정동    행정동_ID      행정기관코드        기준_날짜  지하철_승객_수    연도   월
0       종로구  청운효자동  11010720  1111051500  2023년12월31일       0.0  2023  12
1       종로구  청운효자동  11010720  1111051500  2023년12월30일       0.0  2023  12
2       종로구  청운효자동  11010720  1111051500  2023년12월29일       0.0  2023  12
3       종로구  청운효자동  11010720  1111051500  2023년12월28일       0.0  2023  12
4       종로구  청운효자동  11010720  1111051500  2023년12월27일       0.0  2023  12
...     ...    ...       ...         ...          ...       ...   ...  ..
266080  강동구   둔촌2동  11250710  1174070000  2023년01월05일   12567.0  2023  01
266081  강동구   둔촌2동  11250710  1174070000  2023년01월04일   12474.0  2023  01
266082  강동구   둔촌2동  11250710  1174070000  2023년01월03일   12459.0  2023  01
266083  강동구   둔촌2동  11250710  1174070000  2023년01월02일   11534.0  2023  01
266084  강동구   둔촌2동  11250710  1174070000  2023년01월01일    3168.0  2023  01

[266085 rows x 8 columns]

In [ ]:
# year23['월'].unique()

array(['12', '11', '10', '09', '08', '07', '06', '05', '04', '03', '02',
       '01'], dtype=object)

In [ ]:
# year23_sum = year23.groupby(['연도', '월', '행정동','시군구'])['지하철_승객_수'].sum().reset_index()
# year23_sum

        연도   월   행정동   시군구   지하철_승객_수
0     2023  01  가락1동   송파구   695763.0
1     2023  01  가락2동   송파구   358134.0
2     2023  01  가락본동   송파구        0.0
3     2023  01  가리봉동   구로구        0.0
4     2023  01   가산동   금천구  1288869.0
...    ...  ..   ...   ...        ...
5011  2023  12   효창동   용산구   273041.0
5012  2023  12   후암동   용산구        0.0
5013  2023  12  휘경1동  동대문구   546237.0
5014  2023  12  휘경2동  동대문구        0.0
5015  2023  12   흑석동   동작구   275316.0

[5016 rows x 5 columns]

In [ ]:
# # 분기별 생성
# def get_quarter(month):
#     if month in ['01', '02', '03']:
#         return '1-3월'
#     elif month in ['04','05','06']:
#         return '4-6월'
#     elif month in ['07','08','09']:
#         return '7-9월'
#     else:
#         return '10-12월'

# year23['분기'] = year23['월'].apply(get_quarter)

In [ ]:
# # 분기별로 groupby, 지하철 승객 수 합계 계산 
# year23_sp = year23.groupby(['연도','분기','행정동','시군구'])['지하철_승객_수'].sum().reset_index()
# year23_sp

        연도    분기   행정동   시군구   지하철_승객_수
0     2023  1-3월  가락1동   송파구  2177590.0
1     2023  1-3월  가락2동   송파구  1146664.0
2     2023  1-3월  가락본동   송파구        0.0
3     2023  1-3월  가리봉동   구로구        0.0
4     2023  1-3월   가산동   금천구  4036852.0
...    ...   ...   ...   ...        ...
1667  2023  7-9월   효창동   용산구   782745.0
1668  2023  7-9월   후암동   용산구        0.0
1669  2023  7-9월  휘경1동  동대문구  1508633.0
1670  2023  7-9월  휘경2동  동대문구        0.0
1671  2023  7-9월   흑석동   동작구   752302.0

[1672 rows x 5 columns]

In [ ]:
# year23_sp.to_csv('y23_quarter_sum.csv', index=False)

2024년

In [ ]:
# # 2024년
# year24 = pd.DataFrame(year24)

# # '기준_날짜'에서 월추출
# year24['월'] = year24['기준_날짜'].str[5:7] # '2021년11월16일에서 '11' 추출

# # 각 월별로 필터링
# month24 = {month: year24[year24['월'] == month] for month in ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']}

In [ ]:
# year24

        시군구    행정동    행정동_ID      행정기관코드        기준_날짜  지하철_승객_수    연도   월
0       종로구  청운효자동  11010720  1111051500  2024년11월16일       0.0  2024  11
1       종로구  청운효자동  11010720  1111051500  2024년11월15일       0.0  2024  11
2       종로구  청운효자동  11010720  1111051500  2024년11월14일       0.0  2024  11
3       종로구  청운효자동  11010720  1111051500  2024년11월13일       0.0  2024  11
4       종로구  청운효자동  11010720  1111051500  2024년11월12일       0.0  2024  11
...     ...    ...       ...         ...          ...       ...   ...  ..
232673  강동구   둔촌2동  11250710  1174070000  2024년01월05일   13605.0  2024  01
232674  강동구   둔촌2동  11250710  1174070000  2024년01월04일   13610.0  2024  01
232675  강동구   둔촌2동  11250710  1174070000  2024년01월03일   13282.0  2024  01
232676  강동구   둔촌2동  11250710  1174070000  2024년01월02일   13117.0  2024  01
232677  강동구   둔촌2동  11250710  1174070000  2024년01월01일    3475.0  2024  01

[232678 rows x 8 columns]

In [ ]:
# year24['월'].unique()

array(['11', '10', '09', '08', '07', '06', '05', '04', '03', '02', '01'],
      dtype=object)

In [ ]:
# year24_sum = year24.groupby(['연도', '월', '행정동','시군구'])['지하철_승객_수'].sum().reset_index()
# year24_sum

        연도   월   행정동   시군구   지하철_승객_수
0     2024  01  가락1동   송파구   761634.0
1     2024  01  가락2동   송파구   394535.0
2     2024  01  가락본동   송파구        0.0
3     2024  01  가리봉동   구로구        0.0
4     2024  01   가산동   금천구  1433393.0
...    ...  ..   ...   ...        ...
4613  2024  11   효창동   용산구   158362.0
4614  2024  11   후암동   용산구        0.0
4615  2024  11  휘경1동  동대문구   309605.0
4616  2024  11  휘경2동  동대문구        0.0
4617  2024  11   흑석동   동작구   156590.0

[4618 rows x 5 columns]

In [ ]:
# # 분기별 생성
# def get_quarter(month):
#     if month in ['01', '02', '03']:
#         return '1-3월'
#     elif month in ['04','05','06']:
#         return '4-6월'
#     elif month in ['07','08','09']:
#         return '7-9월'
#     else:
#         return '10-11월'

# year24_sum['분기'] = year24_sum['월'].apply(get_quarter)

In [ ]:
# # 분기별로 groupby, 지하철 승객 수 합계 계산 
# year24_sp = year24_sum.groupby(['연도','분기','행정동','시군구'])['지하철_승객_수'].sum().reset_index()
# year24_sp

        연도    분기   행정동   시군구   지하철_승객_수
0     2024  1-3월  가락1동   송파구  2260444.0
1     2024  1-3월  가락2동   송파구  1180218.0
2     2024  1-3월  가락본동   송파구        0.0
3     2024  1-3월  가리봉동   구로구        0.0
4     2024  1-3월   가산동   금천구  4112467.0
...    ...   ...   ...   ...        ...
1677  2024  7-9월   효창동   용산구   765327.0
1678  2024  7-9월   후암동   용산구        0.0
1679  2024  7-9월  휘경1동  동대문구  1460932.0
1680  2024  7-9월  휘경2동  동대문구        0.0
1681  2024  7-9월   흑석동   동작구   738478.0

[1682 rows x 5 columns]

In [50]:
# 10-11월 확인
year24_o = year24_sp[year24_sp['분기'] == '10-11월']
year24_o

       연도      분기   행정동   시군구   지하철_승객_수
418  2024  10-11월  가락1동   송파구  1242885.0
419  2024  10-11월  가락2동   송파구   637003.0
420  2024  10-11월  가락본동   송파구        0.0
421  2024  10-11월  가리봉동   구로구        0.0
422  2024  10-11월   가산동   금천구  2128504.0
..    ...     ...   ...   ...        ...
836  2024  10-11월   효창동   용산구   460143.0
837  2024  10-11월   후암동   용산구        0.0
838  2024  10-11월  휘경1동  동대문구   873080.0
839  2024  10-11월  휘경2동  동대문구        0.0
840  2024  10-11월   흑석동   동작구   449863.0

[423 rows x 5 columns]

In [51]:
year22_sp['행정동'].unique()
# year23_sp['행정동'].unique()
# year24_sp['행정동'].unique()

array(['가락1동', '가락2동', '가락본동', '가리봉동', '가산동', '가양2동', '가양3동', '가회동',
       '갈현1동', '갈현2동', '개봉1동', '개봉2동', '개봉3동', '개포1동', '개포2동', '개포4동',
       '거여1동', '거여2동', '고덕1동', '고덕2동', '고척1동', '고척2동', '공덕동', '공릉1동',
       '공릉2동', '공항동', '광장동', '광희동', '교남동', '구로1동', '구로2동', '구로3동', '구로4동',
       '구로5동', '구산동', '구의1동', '구의2동', '구의3동', '군자동', '금호1가동', '금호2.3가동',
       '금호4가동', '길동', '길음1동', '길음2동', '낙성대동', '난곡동', '난향동', '남가좌1동',
       '남가좌2동', '남영동', '남현동', '내곡동', '노량진1동', '노량진2동', '녹번동', '논현1동',
       '논현2동', '능동', '다산동', '답십리1동', '답십리2동', '당산1동', '당산2동', '대림1동',
       '대림2동', '대림3동', '대방동', '대조동', '대치1동', '대치2동', '대치4동', '대학동', '대흥동',
       '도곡1동', '도곡2동', '도림동', '도봉1동', '도봉2동', '도화동', '독산1동', '독산2동',
       '독산3동', '독산4동', '돈암1동', '돈암2동', '동선동', '동화동', '둔촌1동', '둔촌2동',
       '등촌1동', '등촌2동', '등촌3동', '마장동', '마천1동', '마천2동', '망우3동', '망우본동',
       '망원1동', '망원2동', '면목2동', '면목3.8동', '면목4동', '면목5동', '면목7동', '면목본동',
       '명동', '명일1동', '명일2동', '목1동', '목2동', '목3동', '목4동', '목5동', '무악동',
       '묵1동', '묵2동', '문래동', '문정1동', '문정2동', '미성동', '미아동', '반포1동', '반포2동',
       '반포3동', '반포4동', '반포본동', '발산1동', '방배1동', '방배2동', '방배3동', '방배4동',
       '방배본동', '방이1동', '방이2동', '방학1동', '방학2동', '방학3동', '방화1동', '방화2동',
       '번1동', '번2동', '번3동', '보광동', '보라매동', '보문동', '부암동', '북가좌1동', '북가좌2동',
       '북아현동', '불광1동', '불광2동', '사근동', '사당1동', '사당2동', '사당3동', '사당4동',
       '사당5동', '사직동', '삼각산동', '삼선동', '삼성1동', '삼성2동', '삼성동', '삼양동', '삼전동',
       '삼청동', '상계10동', '상계1동', '상계2동', '상계3.4동', '상계5동', '상계6.7동', '상계8동',
       '상계9동', '상도1동', '상도2동', '상도3동', '상도4동', '상봉1동', '상봉2동', '상암동',
       '서강동', '서교동', '서림동', '서빙고동', '서원동', '서초1동', '서초2동', '서초3동', '서초4동',
       '석관동', '석촌동', '성내1동', '성내2동', '성내3동', '성북동', '성산1동', '성산2동',
       '성수1가1동', '성수1가2동', '성수2가1동', '성수2가3동', '성현동', '세곡동', '소공동', '송정동',
       '송중동', '송천동', '송파1동', '송파2동', '수궁동', '수색동', '수서동', '수유1동', '수유2동',
       '수유3동', '숭인1동', '숭인2동', '시흥1동', '시흥2동', '시흥3동', '시흥4동', '시흥5동',
       '신길1동', '신길3동', '신길4동', '신길5동', '신길6동', '신길7동', '신내1동', '신내2동',
       '신당5동', '신당동', '신대방1동', '신대방2동', '신도림동', '신림동', '신사1동', '신사2동',
       '신사동', '신수동', '신원동', '신월1동', '신월2동', '신월3동', '신월4동', '신월5동',
       '신월6동', '신월7동', '신정1동', '신정2동', '신정3동', '신정4동', '신정6동', '신정7동',
       '신촌동', '쌍문1동', '쌍문2동', '쌍문3동', '쌍문4동', '아현동', '안암동', '암사1동',
       '암사2동', '암사3동', '압구정동', '약수동', '양재1동', '양재2동', '양평1동', '양평2동',
       '여의동', '역삼1동', '역삼2동', '역촌동', '연남동', '연희동', '염리동', '염창동', '영등포동',
       '영등포본동', '오금동', '오류1동', '오륜동', '옥수동', '왕십리2동', '왕십리도선동', '용강동',
       '용답동', '용문동', '용산2가동', '용신동', '우이동', '우장산동', '원효로1동', '원효로2동',
       '월계1동', '월계2동', '월계3동', '월곡1동', '월곡2동', '위례동', '은천동', '을지로동',
       '응봉동', '응암1동', '응암2동', '응암3동', '이문1동', '이문2동', '이촌1동', '이촌2동',
       '이태원1동', '이태원2동', '이화동', '인수동', '인헌동', '일원1동', '일원본동', '자양1동',
       '자양2동', '자양3동', '자양4동', '잠실2동', '잠실3동', '잠실4동', '잠실6동', '잠실7동',
       '잠실본동', '잠원동', '장안1동', '장안2동', '장위1동', '장위2동', '장위3동', '장지동',
       '장충동', '전농1동', '전농2동', '정릉1동', '정릉2동', '정릉3동', '정릉4동', '제기동',
       '조원동', '종로1.2.3.4가동', '종로5.6가동', '종암동', '중계1동', '중계2.3동', '중계4동',
       '중계본동', '중곡1동', '중곡2동', '중곡3동', '중곡4동', '중림동', '중앙동', '중화1동',
       '중화2동', '증산동', '진관동', '창1동', '창2동', '창3동', '창4동', '창5동', '창신1동',
       '창신2동', '창신3동', '천연동', '천호1동', '천호2동', '천호3동', '청구동', '청담동',
       '청량리동', '청룡동', '청림동', '청운효자동', '청파동', '충현동', '평창동', '풍납1동', '풍납2동',
       '필동', '하계1동', '하계2동', '한강로동', '한남동', '합정동', '행당1동', '행당2동', '행운동',
       '혜화동', '홍은1동', '홍은2동', '홍제1동', '홍제2동', '홍제3동', '화곡1동', '화곡2동',
       '화곡3동', '화곡4동', '화곡6동', '화곡8동', '화곡본동', '화양동', '황학동', '회기동', '회현동',
       '효창동', '후암동', '휘경1동', '휘경2동', '흑석동'], dtype=object)

In [52]:
year24_sp.to_csv('y24_quarter_sum.csv', index=False)