In [78]:
import numpy as np 
import pandas as pd

In [79]:
dong_sw = pd.read_csv('dong_sw.csv')

In [80]:
dong_sw

        연도  분기   행정동   시군구  지하철_승객_수
0     2022   1  가락1동   송파구  18745.12
1     2022   1  가락2동   송파구  10442.12
2     2022   1  가락본동   송파구      0.00
3     2022   1  가리봉동   구로구      0.00
4     2022   1   가산동   금천구  38186.30
...    ...  ..   ...   ...       ...
5036  2024   4   효창동   용산구   9790.28
5037  2024   4   후암동   용산구      0.00
5038  2024   4  휘경1동  동대문구  18576.17
5039  2024   4  휘경2동  동대문구      0.00
5040  2024   4   흑석동   동작구   9571.55

[5041 rows x 5 columns]

In [81]:
# 지하철_승객_수 컬럼명 바꾸기 

# 컬럼 이름을 변경하려면 데이터프레임에서 직접 rename을 사용해야 합니다.
dong_sw.rename(columns={'지하철_승객_수': '총_승객수'}, inplace=True)

# 결과 확인
print(dong_sw)

        연도  분기   행정동   시군구     총_승객수
0     2022   1  가락1동   송파구  18745.12
1     2022   1  가락2동   송파구  10442.12
2     2022   1  가락본동   송파구      0.00
3     2022   1  가리봉동   구로구      0.00
4     2022   1   가산동   금천구  38186.30
...    ...  ..   ...   ...       ...
5036  2024   4   효창동   용산구   9790.28
5037  2024   4   후암동   용산구      0.00
5038  2024   4  휘경1동  동대문구  18576.17
5039  2024   4  휘경2동  동대문구      0.00
5040  2024   4   흑석동   동작구   9571.55

[5041 rows x 5 columns]

In [82]:
dong_sw

        연도  분기   행정동   시군구     총_승객수
0     2022   1  가락1동   송파구  18745.12
1     2022   1  가락2동   송파구  10442.12
2     2022   1  가락본동   송파구      0.00
3     2022   1  가리봉동   구로구      0.00
4     2022   1   가산동   금천구  38186.30
...    ...  ..   ...   ...       ...
5036  2024   4   효창동   용산구   9790.28
5037  2024   4   후암동   용산구      0.00
5038  2024   4  휘경1동  동대문구  18576.17
5039  2024   4  휘경2동  동대문구      0.00
5040  2024   4   흑석동   동작구   9571.55

[5041 rows x 5 columns]

In [ ]:
year22 = dong_sw[dong_sw['연도'] == 2022]
year23 = dong_sw[dong_sw['연도'] == 2023]
year24 = dong_sw[dong_sw['연도'] == 2024]

year22
year23
year24

        연도  분기   행정동   시군구     총_승객수
3349  2024   1  가락1동   송파구  25116.04
3350  2024   1  가락2동   송파구  13113.53
3351  2024   1  가락본동   송파구      0.00
3352  2024   1  가리봉동   구로구      0.00
3353  2024   1   가산동   금천구  45694.08
...    ...  ..   ...   ...       ...
5036  2024   4   효창동   용산구   9790.28
5037  2024   4   후암동   용산구      0.00
5038  2024   4  휘경1동  동대문구  18576.17
5039  2024   4  휘경2동  동대문구      0.00
5040  2024   4   흑석동   동작구   9571.55

[1692 rows x 5 columns]

In [106]:
no22 = year22[year22['총_승객수'] == 0.00]
is22 = year22[year22['총_승객수'] !=0.00]

no23 = year23[year23['총_승객수'] == 0.00]
is23 = year23[year23['총_승객수'] !=0.00]

no24 = year24[year24['총_승객수'] == 0.00]
is24 = year24[year24['총_승객수'] !=0.00]


# 각 연도별로 0.0인 행정동과 아닌 행정동을 출력
print(f"\n2022년도 - 총_승객수가 0.0인 행정동:")
print(no22['행정동'].unique())

print(f"\n2022년도 - 총_승객수가 0.0이 아닌 행정동:")
print(is22['행정동'].unique())

print(f"\n2023년도 - 총_승객수가 0.0인 행정동:")
print(no23['행정동'].unique())

print(f"\n2023년도 - 총_승객수가 0.0이 아닌 행정동:")
print(is23['행정동'].unique())

print(f"\n2024년도 - 총_승객수가 0.0인 행정동:")
print(no24['행정동'].unique())

print(f"\n2024년도 - 총_승객수가 0.0이 아닌 행정동:")
print(is24['행정동'].unique())

2022년도 - 총_승객수가 0.0인 행정동:
['가락본동' '가리봉동' '가양2동' '가양3동' '가회동' '개봉2동' '개봉3동' '개포1동' '개포4동' '거여2동'
 '고덕1동' '고덕2동' '고척1동' '고척2동' '교남동' '구로1동' '구로4동' '구산동' '군자동' '금호2.3가동'
 '길음2동' '낙성대동' '난곡동' '난향동' '남가좌2동' '노량진2동' '다산동' '답십리1동' '답십리2동' '대림1동'
 '대림2동' '대치1동' '대학동' '도림동' '도봉1동' '도화동' '독산2동' '독산3동' '독산4동' '돈암1동' '돈암2동'
 '동선동' '등촌2동' '마천2동' '망우3동' '망원1동' '망원2동' '면목2동' '면목5동' '면목7동' '목4동' '목5동'
 '무악동' '묵1동' '문정1동' '미성동' '반포3동' '방배4동' '방배본동' '방학2동' '방학3동' '번2동' '번3동'
 '보광동' '보라매동' '부암동' '북가좌1동' '북가좌2동' '북아현동' '불광2동' '사당1동' '사당3동' '사당5동'
 '삼각산동' '삼성동' '삼전동' '삼청동' '상계10동' '상계6.7동' '상계9동' '상도3동' '상도4동' '서림동'
 '서초4동' '성내3동' '성북동' '성산1동' '성수2가1동' '성현동' '세곡동' '송정동' '송중동' '송파2동' '수유3동'
 '숭인1동' '시흥2동' '시흥3동' '시흥4동' '시흥5동' '신길3동' '신길4동' '신길5동' '신내2동' '신당5동'
 '신대방1동' '신대방2동' '신림동' '신사동' '신수동' '신원동' '신월1동' '신월2동' '신월3동' '신월4동'
 '신월5동' '신월6동' '신월7동' '신정1동' '신정2동' '신정6동' '쌍문1동' '쌍문2동' '쌍문3동' '쌍문4동'
 '암사1동' '암사3동' '역삼2동' '역촌동' '연남동' '연희동' '염리동' '염창동' '왕십리도선동' '용문동' '원효로1동'
 '원효로2동' '월계1동' '월곡1동' '위례동' '은천동' '응암1동' '응암2동' '응암3동' '이촌1동' '이촌2동'
 '이태원2동' '인수동' '일원1동' '자양1동' '자양2동' '자양3동' '잠실3동' '장안1동' '장안2동' '장위1동'
 '장위3동' '전농2동' '정릉2동' '정릉3동' '조원동' '종암동' '중계1동' '중계4동' '중계본동' '중곡1동'
 '중곡2동' '중곡4동' '중림동' '중앙동' '중화1동' '창2동' '창3동' '창4동' '창신1동' '창신2동' '천호2동'
 '천호3동' '청구동' '청담동' '청량리동' '청림동' '청운효자동' '청파동' '평창동' '풍납1동' '풍납2동' '하계1동'
 '합정동' '행운동' '혜화동' '홍은1동' '홍은2동' '홍제2동' '홍제3동' '화곡2동' '화곡3동' '화곡4동' '화곡6동'
 '화곡8동' '화곡본동' '황학동' '회기동' '후암동' '휘경2동']

2022년도 - 총_승객수가 0.0이 아닌 행정동:
['가락1동' '가락2동' '가산동' '갈현1동' '갈현2동' '개봉1동' '개포2동' '거여1동' '공덕동' '공릉1동'
 '공릉2동' '공항동' '광장동' '광희동' '구로2동' '구로3동' '구로5동' '구의1동' '구의2동' '구의3동'
 '금호1가동' '금호4가동' '길동' '길음1동' '남가좌1동' '남영동' '남현동' '내곡동' '노량진1동' '녹번동'
 '논현1동' '논현2동' '능동' '당산1동' '당산2동' '대림3동' '대방동' '대조동' '대치2동' '대치4동' '대흥동'
 '도곡1동' '도곡2동' '도봉2동' '독산1동' '동화동' '둔촌1동' '둔촌2동' '등촌1동' '등촌3동' '마장동'
 '마천1동' '망우본동' '면목3.8동' '면목4동' '면목본동' '명동' '명일1동' '명일2동' '목1동' '목2동' '목3동'
 '묵2동' '문래동' '문정2동' '미아동' '반포1동' '반포2동' '반포4동' '반포본동' '발산1동' '방배1동' '방배2동'
 '방배3동' '방이1동' '방이2동' '방학1동' '방화1동' '방화2동' '번1동' '보문동' '불광1동' '사근동' '사당2동'
 '사당4동' '사직동' '삼선동' '삼성1동' '삼성2동' '삼양동' '상계1동' '상계2동' '상계3.4동' '상계5동'
 '상계8동' '상도1동' '상도2동' '상봉1동' '상봉2동' '상암동' '서강동' '서교동' '서빙고동' '서원동' '서초1동'
 '서초2동' '서초3동' '석관동' '석촌동' '성내1동' '성내2동' '성산2동' '성수1가1동' '성수1가2동' '성수2가3동'
 '소공동' '송천동' '송파1동' '수궁동' '수색동' '수서동' '수유1동' '수유2동' '숭인2동' '시흥1동' '신길1동'
 '신길6동' '신길7동' '신내1동' '신당동' '신도림동' '신사1동' '신사2동' '신사동' '신정3동' '신정4동'
 '신정7동' '신촌동' '아현동' '안암동' '암사2동' '압구정동' '약수동' '양재1동' '양재2동' '양평1동' '양평2동'
 '여의동' '역삼1동' '영등포동' '영등포본동' '오금동' '오류1동' '오륜동' '옥수동' '왕십리2동' '용강동' '용답동'
 '용산2가동' '용신동' '우이동' '우장산동' '월계2동' '월계3동' '월곡2동' '을지로동' '응봉동' '이문1동'
 '이문2동' '이태원1동' '이화동' '인헌동' '일원본동' '자양4동' '잠실2동' '잠실4동' '잠실6동' '잠실7동'
 '잠실본동' '잠원동' '장위2동' '장지동' '장충동' '전농1동' '정릉1동' '정릉4동' '제기동' '종로1.2.3.4가동'
 '종로5.6가동' '중계2.3동' '중곡3동' '중화2동' '증산동' '진관동' '창1동' '창5동' '창신3동' '천연동'
 '천호1동' '청룡동' '충현동' '필동' '하계2동' '한강로동' '한남동' '행당1동' '행당2동' '홍제1동' '화곡1동'
 '화양동' '회현동' '효창동' '휘경1동' '흑석동' '대학동' '보라매동' '서림동' '신대방2동' '신림동']

2023년도 - 총_승객수가 0.0인 행정동:
['가락본동' '가리봉동' '가양2동' '가양3동' '가회동' '개봉2동' '개봉3동' '개포1동' '개포4동' '거여2동'
 '고덕1동' '고덕2동' '고척1동' '고척2동' '교남동' '구로1동' '구로4동' '구산동' '군자동' '금호2.3가동'
 '길음2동' '낙성대동' '난곡동' '난향동' '남가좌2동' '노량진2동' '다산동' '답십리1동' '답십리2동' '대림1동'
 '대림2동' '대치1동' '도림동' '도봉1동' '도화동' '독산2동' '독산3동' '독산4동' '돈암1동' '돈암2동' '동선동'
 '등촌2동' '마천2동' '망우3동' '망원1동' '망원2동' '면목2동' '면목5동' '면목7동' '목4동' '목5동' '무악동'
 '묵1동' '문정1동' '미성동' '반포3동' '방배4동' '방배본동' '방학2동' '방학3동' '번2동' '번3동' '보광동'
 '부암동' '북가좌1동' '북가좌2동' '북아현동' '불광2동' '사당1동' '사당3동' '사당5동' '삼각산동' '삼성동'
 '삼전동' '삼청동' '상계10동' '상계6.7동' '상계9동' '상도3동' '상도4동' '서초4동' '성내3동' '성북동'
 '성산1동' '성수2가1동' '성현동' '세곡동' '송정동' '송중동' '송파2동' '수유3동' '숭인1동' '시흥2동'
 '시흥3동' '시흥4동' '시흥5동' '신길3동' '신길4동' '신길5동' '신내2동' '신당5동' '신대방1동' '신사동'
 '신수동' '신원동' '신월1동' '신월2동' '신월3동' '신월4동' '신월5동' '신월6동' '신월7동' '신정1동'
 '신정2동' '신정6동' '쌍문1동' '쌍문2동' '쌍문3동' '쌍문4동' '암사1동' '암사3동' '역삼2동' '역촌동'
 '연남동' '연희동' '염리동' '염창동' '왕십리도선동' '용문동' '원효로1동' '원효로2동' '월계1동' '월곡1동'
 '위례동' '은천동' '응암1동' '응암2동' '응암3동' '이촌1동' '이촌2동' '이태원2동' '인수동' '일원1동'
 '자양1동' '자양2동' '자양3동' '잠실3동' '장안1동' '장안2동' '장위1동' '장위3동' '전농2동' '정릉2동'
 '정릉3동' '조원동' '종암동' '중계1동' '중계4동' '중계본동' '중곡1동' '중곡2동' '중곡4동' '중림동' '중앙동'
 '중화1동' '창2동' '창3동' '창4동' '창신1동' '창신2동' '천호2동' '천호3동' '청구동' '청담동' '청량리동'
 '청림동' '청운효자동' '청파동' '평창동' '풍납1동' '풍납2동' '하계1동' '합정동' '행운동' '혜화동' '홍은1동'
 '홍은2동' '홍제2동' '홍제3동' '화곡2동' '화곡3동' '화곡4동' '화곡6동' '화곡8동' '화곡본동' '황학동'
 '회기동' '후암동' '휘경2동' '개포3동' '상일1동' '상일2동' '항동']

2023년도 - 총_승객수가 0.0이 아닌 행정동:
['가락1동' '가락2동' '가산동' '갈현1동' '갈현2동' '개봉1동' '개포2동' '거여1동' '공덕동' '공릉1동'
 '공릉2동' '공항동' '광장동' '광희동' '구로2동' '구로3동' '구로5동' '구의1동' '구의2동' '구의3동'
 '금호1가동' '금호4가동' '길동' '길음1동' '남가좌1동' '남영동' '남현동' '내곡동' '노량진1동' '녹번동'
 '논현1동' '논현2동' '능동' '당산1동' '당산2동' '대림3동' '대방동' '대조동' '대치2동' '대치4동' '대학동'
 '대흥동' '도곡1동' '도곡2동' '도봉2동' '독산1동' '동화동' '둔촌1동' '둔촌2동' '등촌1동' '등촌3동' '마장동'
 '마천1동' '망우본동' '면목3.8동' '면목4동' '면목본동' '명동' '명일1동' '명일2동' '목1동' '목2동' '목3동'
 '묵2동' '문래동' '문정2동' '미아동' '반포1동' '반포2동' '반포4동' '반포본동' '발산1동' '방배1동' '방배2동'
 '방배3동' '방이1동' '방이2동' '방학1동' '방화1동' '방화2동' '번1동' '보라매동' '보문동' '불광1동' '사근동'
 '사당2동' '사당4동' '사직동' '삼선동' '삼성1동' '삼성2동' '삼양동' '상계1동' '상계2동' '상계3.4동'
 '상계5동' '상계8동' '상도1동' '상도2동' '상봉1동' '상봉2동' '상암동' '서강동' '서교동' '서림동' '서빙고동'
 '서원동' '서초1동' '서초2동' '서초3동' '석관동' '석촌동' '성내1동' '성내2동' '성산2동' '성수1가1동'
 '성수1가2동' '성수2가3동' '소공동' '송천동' '송파1동' '수궁동' '수색동' '수서동' '수유1동' '수유2동'
 '숭인2동' '시흥1동' '신길1동' '신길6동' '신길7동' '신내1동' '신당동' '신대방2동' '신도림동' '신림동'
 '신사1동' '신사2동' '신사동' '신정3동' '신정4동' '신정7동' '신촌동' '아현동' '안암동' '암사2동' '압구정동'
 '약수동' '양재1동' '양재2동' '양평1동' '양평2동' '여의동' '역삼1동' '영등포동' '영등포본동' '오금동'
 '오류1동' '오륜동' '옥수동' '왕십리2동' '용강동' '용답동' '용산2가동' '용신동' '우이동' '우장산동' '월계2동'
 '월계3동' '월곡2동' '을지로동' '응봉동' '이문1동' '이문2동' '이태원1동' '이화동' '인헌동' '일원본동'
 '자양4동' '잠실2동' '잠실4동' '잠실6동' '잠실7동' '잠실본동' '잠원동' '장위2동' '장지동' '장충동' '전농1동'
 '정릉1동' '정릉4동' '제기동' '종로1.2.3.4가동' '종로5.6가동' '중계2.3동' '중곡3동' '중화2동' '증산동'
 '진관동' '창1동' '창5동' '창신3동' '천연동' '천호1동' '청룡동' '충현동' '필동' '하계2동' '한강로동'
 '한남동' '행당1동' '행당2동' '홍제1동' '화곡1동' '화양동' '회현동' '효창동' '휘경1동' '흑석동' '오류2동']

2024년도 - 총_승객수가 0.0인 행정동:
['가락본동' '가리봉동' '가양2동' '가양3동' '가회동' '개봉2동' '개봉3동' '개포1동' '개포3동' '개포4동'
 '거여2동' '고덕1동' '고덕2동' '고척1동' '고척2동' '교남동' '구로1동' '구로4동' '구산동' '군자동'
 '금호2.3가동' '길음2동' '낙성대동' '난곡동' '난향동' '남가좌2동' '노량진2동' '다산동' '답십리1동' '답십리2동'
 '대림1동' '대림2동' '대치1동' '도림동' '도봉1동' '도화동' '독산2동' '독산3동' '독산4동' '돈암1동'
 '돈암2동' '동선동' '등촌2동' '마천2동' '망우3동' '망원1동' '망원2동' '면목2동' '면목5동' '면목7동'
 '목4동' '목5동' '무악동' '묵1동' '문정1동' '미성동' '반포3동' '방배4동' '방배본동' '방학2동' '방학3동'
 '번2동' '번3동' '보광동' '부암동' '북가좌1동' '북가좌2동' '북아현동' '불광2동' '사당1동' '사당3동'
 '사당5동' '삼각산동' '삼성동' '삼전동' '삼청동' '상계10동' '상계6.7동' '상계9동' '상도3동' '상도4동'
 '상일1동' '상일2동' '서초4동' '성내3동' '성북동' '성산1동' '성수2가1동' '성현동' '세곡동' '송정동' '송중동'
 '송파2동' '수유3동' '숭인1동' '시흥2동' '시흥3동' '시흥4동' '시흥5동' '신길3동' '신길4동' '신길5동'
 '신내2동' '신당5동' '신대방1동' '신사동' '신수동' '신원동' '신월1동' '신월2동' '신월3동' '신월4동'
 '신월5동' '신월6동' '신월7동' '신정1동' '신정2동' '신정6동' '쌍문1동' '쌍문2동' '쌍문3동' '쌍문4동'
 '암사1동' '암사3동' '역삼2동' '역촌동' '연남동' '연희동' '염리동' '염창동' '왕십리도선동' '용문동' '원효로1동'
 '원효로2동' '월계1동' '월곡1동' '위례동' '은천동' '응암1동' '응암2동' '응암3동' '이촌1동' '이촌2동'
 '이태원2동' '인수동' '일원1동' '자양1동' '자양2동' '자양3동' '잠실3동' '장안1동' '장안2동' '장위1동'
 '장위3동' '전농2동' '정릉2동' '정릉3동' '조원동' '종암동' '중계1동' '중계4동' '중계본동' '중곡1동'
 '중곡2동' '중곡4동' '중림동' '중앙동' '중화1동' '창2동' '창3동' '창4동' '창신1동' '창신2동' '천호2동'
 '천호3동' '청구동' '청담동' '청량리동' '청림동' '청운효자동' '청파동' '평창동' '풍납1동' '풍납2동' '하계1동'
 '합정동' '항동' '행운동' '혜화동' '홍은1동' '홍은2동' '홍제2동' '홍제3동' '화곡2동' '화곡3동' '화곡4동'
 '화곡6동' '화곡8동' '화곡본동' '황학동' '회기동' '후암동' '휘경2동']

2024년도 - 총_승객수가 0.0이 아닌 행정동:
['가락1동' '가락2동' '가산동' '갈현1동' '갈현2동' '개봉1동' '개포2동' '거여1동' '공덕동' '공릉1동'
 '공릉2동' '공항동' '광장동' '광희동' '구로2동' '구로3동' '구로5동' '구의1동' '구의2동' '구의3동'
 '금호1가동' '금호4가동' '길동' '길음1동' '남가좌1동' '남영동' '남현동' '내곡동' '노량진1동' '녹번동'
 '논현1동' '논현2동' '능동' '당산1동' '당산2동' '대림3동' '대방동' '대조동' '대치2동' '대치4동' '대학동'
 '대흥동' '도곡1동' '도곡2동' '도봉2동' '독산1동' '동화동' '둔촌1동' '둔촌2동' '등촌1동' '등촌3동' '마장동'
 '마천1동' '망우본동' '면목3.8동' '면목4동' '면목본동' '명동' '명일1동' '명일2동' '목1동' '목2동' '목3동'
 '묵2동' '문래동' '문정2동' '미아동' '반포1동' '반포2동' '반포4동' '반포본동' '발산1동' '방배1동' '방배2동'
 '방배3동' '방이1동' '방이2동' '방학1동' '방화1동' '방화2동' '번1동' '보라매동' '보문동' '불광1동' '사근동'
 '사당2동' '사당4동' '사직동' '삼선동' '삼성1동' '삼성2동' '삼양동' '상계1동' '상계2동' '상계3.4동'
 '상계5동' '상계8동' '상도1동' '상도2동' '상봉1동' '상봉2동' '상암동' '서강동' '서교동' '서림동' '서빙고동'
 '서원동' '서초1동' '서초2동' '서초3동' '석관동' '석촌동' '성내1동' '성내2동' '성산2동' '성수1가1동'
 '성수1가2동' '성수2가3동' '소공동' '송천동' '송파1동' '수궁동' '수색동' '수서동' '수유1동' '수유2동'
 '숭인2동' '시흥1동' '신길1동' '신길6동' '신길7동' '신내1동' '신당동' '신대방2동' '신도림동' '신림동'
 '신사1동' '신사2동' '신사동' '신정3동' '신정4동' '신정7동' '신촌동' '아현동' '안암동' '암사2동' '압구정동'
 '약수동' '양재1동' '양재2동' '양평1동' '양평2동' '여의동' '역삼1동' '영등포동' '영등포본동' '오금동'
 '오류1동' '오류2동' '오륜동' '옥수동' '왕십리2동' '용강동' '용답동' '용산2가동' '용신동' '우이동' '우장산동'
 '월계2동' '월계3동' '월곡2동' '을지로동' '응봉동' '이문1동' '이문2동' '이태원1동' '이화동' '인헌동'
 '일원본동' '자양4동' '잠실2동' '잠실4동' '잠실6동' '잠실7동' '잠실본동' '잠원동' '장위2동' '장지동' '장충동'
 '전농1동' '정릉1동' '정릉4동' '제기동' '종로1.2.3.4가동' '종로5.6가동' '중계2.3동' '중곡3동' '중화2동'
 '증산동' '진관동' '창1동' '창5동' '창신3동' '천연동' '천호1동' '청룡동' '충현동' '필동' '하계2동'
 '한강로동' '한남동' '행당1동' '행당2동' '홍제1동' '화곡1동' '화양동' '회현동' '효창동' '휘경1동' '흑석동'
 '암사3동']

In [ ]:
is22
no22

        연도  분기   행정동   시군구      총_승객수
0     2022   1  가락1동   송파구   18745.12
1     2022   1  가락2동   송파구   10442.12
4     2022   1   가산동   금천구   38186.30
8     2022   1  갈현1동   은평구   29402.29
9     2022   1  갈현2동   은평구    5997.46
...    ...  ..   ...   ...        ...
1663  2022   4   화양동   광진구   49033.48
1666  2022   4   회현동    중구  101317.32
1667  2022   4   효창동   용산구    8878.16
1669  2022   4  휘경1동  동대문구   18346.16
1671  2022   4   흑석동   동작구    8931.13

[871 rows x 5 columns]

In [120]:
print(no22.isna().sum())
print(no23.isna().sum())
print(no24.isna().sum())

연도       0
분기       0
행정동      0
시군구      0
총_승객수    0
dtype: int64
연도       0
분기       0
행정동      0
시군구      0
총_승객수    0
dtype: int64
연도       0
분기       0
행정동      0
시군구      0
총_승객수    0
dtype: int64

In [87]:
print(is22.isna().sum())
print(is23.isna().sum())
print(is24.isna().sum())

연도       0
분기       0
행정동      0
시군구      0
총_승객수    0
dtype: int64
연도       0
분기       0
행정동      0
시군구      0
총_승객수    0
dtype: int64
연도       0
분기       0
행정동      0
시군구      0
총_승객수    0
dtype: int64

In [ ]:
# 년도별 데이터에 행정동 갯수,목록 확인

is22['행정동'].unique()
is22['행정동'].nunique()

is23['행정동'].unique()
is23['행정동'].nunique()

is24['행정동'].unique()
is24['행정동'].nunique()

# 22 : 219
# 23 : 220
# 24 : 221

221

In [94]:
print(is24.dtypes)

연도         int64
분기         int64
행정동       object
시군구       object
총_승객수    float64
dtype: object

In [116]:
is22 
no22

        연도  분기   행정동   시군구  총_승객수
2     2022   1  가락본동   송파구    0.0
3     2022   1  가리봉동   구로구    0.0
5     2022   1  가양2동   강서구    0.0
6     2022   1  가양3동   강서구    0.0
7     2022   1   가회동   종로구    0.0
...    ...  ..   ...   ...    ...
1662  2022   4  화곡본동   강서구    0.0
1664  2022   4   황학동    중구    0.0
1665  2022   4   회기동  동대문구    0.0
1668  2022   4   후암동   용산구    0.0
1670  2022   4  휘경2동  동대문구    0.0

[801 rows x 5 columns]

In [117]:
is22.groupby(['연도', '분기', '행정동', '시군구'])['총_승객수'].mean()
is23.groupby(['연도', '분기', '행정동', '시군구'])['총_승객수'].mean()
is24.groupby(['연도', '분기', '행정동', '시군구'])['총_승객수'].mean()

# is_years = [is22, is23, is24]
# results = [df.groupby(['연도','분기','행정동'])['총_승객수'].mean().reset_index() for df in is_years]

연도    분기  행정동   시군구
2024  1   가락1동  송파구      25116.04
          가락2동  송파구      13113.53
          가산동   금천구      45694.08
          갈현1동  은평구      32703.36
          갈현2동  은평구       7601.03
                          ...
      4   화양동   광진구      51204.55
          회현동   중구      114832.64
          효창동   용산구       9790.28
          휘경1동  동대문구     18576.17
          흑석동   동작구       9571.55
Name: 총_승객수, Length: 882, dtype: float64

In [125]:
# 데이터프레임 합치기 
year22_all = pd.concat([is22, no22],ignore_index=True)
year23_all = pd.concat([is23, no23],ignore_index=True)
year24_all = pd.concat([is24, no24],ignore_index=True)

print(year22_all)
print(year23_all)
print(year24_all)

        연도  분기   행정동   시군구     총_승객수
0     2022   1  가락1동   송파구  18745.12
1     2022   1  가락2동   송파구  10442.12
2     2022   1   가산동   금천구  38186.30
3     2022   1  갈현1동   은평구  29402.29
4     2022   1  갈현2동   은평구   5997.46
...    ...  ..   ...   ...       ...
1667  2022   4  화곡본동   강서구      0.00
1668  2022   4   황학동    중구      0.00
1669  2022   4   회기동  동대문구      0.00
1670  2022   4   후암동   용산구      0.00
1671  2022   4  휘경2동  동대문구      0.00

[1672 rows x 5 columns]
        연도  분기   행정동   시군구     총_승객수
0     2023   1  가락1동   송파구  24195.44
1     2023   1  가락2동   송파구  12740.71
2     2023   1   가산동   금천구  44853.91
3     2023   1  갈현1동   은평구  33102.01
4     2023   1  갈현2동   은평구   7351.62
...    ...  ..   ...   ...       ...
1672  2023   4  화곡본동   강서구      0.00
1673  2023   4   황학동    중구      0.00
1674  2023   4   회기동  동대문구      0.00
1675  2023   4   후암동   용산구      0.00
1676  2023   4  휘경2동  동대문구      0.00

[1677 rows x 5 columns]
        연도  분기   행정동   시군구     총_승객수
0     2024   1  가락1동   송파구  25116.04
1     2024   1  가락2동   송파구  13113.53
2     2024   1   가산동   금천구  45694.08
3     2024   1  갈현1동   은평구  32703.36
4     2024   1  갈현2동   은평구   7601.03
...    ...  ..   ...   ...       ...
1687  2024   4  화곡본동   강서구      0.00
1688  2024   4   황학동    중구      0.00
1689  2024   4   회기동  동대문구      0.00
1690  2024   4   후암동   용산구      0.00
1691  2024   4  휘경2동  동대문구      0.00

[1692 rows x 5 columns]

In [126]:
# year24 3,4분기 삭제 

year24_q34 = year24_all[~((year24_all['연도'] == 2024) & (year24_all['분기'].isin([3,4])))]
print(year24_q34)

        연도  분기   행정동   시군구     총_승객수
0     2024   1  가락1동   송파구  25116.04
1     2024   1  가락2동   송파구  13113.53
2     2024   1   가산동   금천구  45694.08
3     2024   1  갈현1동   은평구  32703.36
4     2024   1  갈현2동   은평구   7601.03
...    ...  ..   ...   ...       ...
1283  2024   2  화곡본동   강서구      0.00
1284  2024   2   황학동    중구      0.00
1285  2024   2   회기동  동대문구      0.00
1286  2024   2   후암동   용산구      0.00
1287  2024   2  휘경2동  동대문구      0.00

[846 rows x 5 columns]

In [ ]:
# print(year22_all.columns)
# print(year23_all.columns)
# print(year24_q34.columns)

# 각 데이터프레임의 병합 기준 컬럼에 NaN 값이 있는지 확인
# print(year22_all[['연도', '분기', '행정동', '시군구', '총_승객수']].isna().sum())
# print(year23_all[['연도', '분기', '행정동', '시군구', '총_승객수']].isna().sum())
# print(year24_q34[['연도', '분기', '행정동', '시군구', '총_승객수']].isna().sum())

연도       0
분기       0
행정동      0
시군구      0
총_승객수    0
dtype: int64
연도       0
분기       0
행정동      0
시군구      0
총_승객수    0
dtype: int64
연도       0
분기       0
행정동      0
시군구      0
총_승객수    0
dtype: int64

In [135]:
year22_23 = pd.concat([year22_all, year23_all],ignore_index=True)
year_all = pd.concat([year22_23, year24_q34],ignore_index=True)

In [138]:
year_all

        연도  분기   행정동   시군구     총_승객수
0     2022   1  가락1동   송파구  18745.12
1     2022   1  가락2동   송파구  10442.12
2     2022   1   가산동   금천구  38186.30
3     2022   1  갈현1동   은평구  29402.29
4     2022   1  갈현2동   은평구   5997.46
...    ...  ..   ...   ...       ...
4190  2024   2  화곡본동   강서구      0.00
4191  2024   2   황학동    중구      0.00
4192  2024   2   회기동  동대문구      0.00
4193  2024   2   후암동   용산구      0.00
4194  2024   2  휘경2동  동대문구      0.00

[4195 rows x 5 columns]

In [142]:
# 인덱스 삭제 , 연분기컬럼 생성
year_all['연분기'] = year_all['연도'].astype(str) + year_all['분기'].astype(str)
year_all

# 연도, 분기 컬럼 삭제 
year_all = year_all.drop(columns=['연도','분기'])

In [144]:
year_all
year_all.to_csv('year_all.csv', index=False, encoding='utf-8')