In [67]:
import pandas as pd

In [68]:
data = pd.read_csv("서울시 거주인구 (동,분기).csv")

In [69]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5448 entries, 0 to 5447
Data columns (total 27 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   동별           5448 non-null   object
 1   구분별          5448 non-null   object
 2   항목           5448 non-null   object
 3   단위           2724 non-null   object
 4   2019. 1/4    5400 non-null   float64
 5   2019. 2/4    5400 non-null   float64
 6   2019. 3/4    5400 non-null   float64
 7   2019. 4/4    5400 non-null   float64
 8   2020. 1/4    5412 non-null   float64
 9   2020. 2/4    5412 non-null   float64
 10  2020. 3/4    5412 non-null   float64
 11  2020. 4/4    5412 non-null   float64
 12  2021. 1/4    5412 non-null   float64
 13  2021. 2/4    5412 non-null   float64
 14  2021. 3/4    5424 non-null   float64
 15  2021. 4/4    5424 non-null   float64
 16  2022. 1/4    5424 non-null   float64
 17  2022. 2/4    5424 non-null   float64
 18  2022. 3/4    5424 non-null   float64
 19  2022. 4/4    5424 non-null   float64
 20  2023. 1/4    5424 non-null   float64
 21  2023. 2/4    5424 non-null   float64
 22  2023. 3/4    5424 non-null   float64
 23  2023. 4/4    5424 non-null   float64
 24  2024. 1/4    5424 non-null   float64
 25  2024. 2/4    5424 non-null   float64
 26  Unnamed: 26  0 non-null      float64
dtypes: float64(23), object(4)
memory usage: 1.1+ MB

In [70]:
data.iloc[40:60,:]

,동별,구분별,항목,단위,2019. 1/4,2019. 2/4,2019. 3/4,2019. 4/4,2020. 1/4,2020. 2/4,...,2022. 2/4,2022. 3/4,2022. 4/4,2023. 1/4,2023. 2/4,2023. 3/4,2023. 4/4,2024. 1/4,2024. 2/4,Unnamed: 26
40,삼청동,한국인,주민등록인구(동별),명,2804.00,2803.00,2771.00,2758.00,2749.00,2707.00000,...,2386.00,2349.00,2331.00,2313.00,2277.00,2252.00,2248.00,2233.0,2226.0,NaN
41,삼청동,남자,주민등록인구(동별),NaN,1322.00,1335.00,1327.00,1326.00,1320.00,1301.00000,...,1130.00,1118.00,1112.00,1101.00,1089.00,1075.00,1075.00,1061.0,1061.0,NaN
42,삼청동,여자,주민등록인구(동별),NaN,1482.00,1468.00,1444.00,1432.00,1429.00,1406.00000,...,1256.00,1231.00,1219.00,1212.00,1188.00,1177.00,1173.00,1172.0,1165.0,NaN
43,삼청동,등록외국인,주민등록인구(동별),명,241.00,227.00,242.00,239.00,244.00,266.00000,...,306.00,310.00,311.00,303.00,299.00,243.00,209.00,217.0,223.0,NaN
44,삼청동,남자,주민등록인구(동별),NaN,123.00,111.00,116.00,113.00,115.00,126.00000,...,148.00,150.00,151.00,147.00,148.00,121.00,105.00,109.0,113.0,NaN
45,삼청동,여자,주민등록인구(동별),NaN,118.00,116.00,126.00,126.00,129.00,140.00000,...,158.00,160.00,160.00,156.00,151.00,122.00,104.00,108.0,110.0,NaN
46,삼청동,세대당인구,주민등록인구(동별),명,2.00,2.00,1.98,1.98,2.00,1.97591,...,2.00,2.03,2.03,2.02,2.02,2.02,2.01,2.0,2.0,NaN
47,삼청동,65세이상고령자,주민등록인구(동별),명,636.00,635.00,650.00,664.00,679.00,683.00000,...,634.00,624.00,626.00,632.00,636.00,627.00,632.00,648.0,647.0,NaN
48,부암동,세대,주민등록인구(동별),세대,4295.00,4287.00,4268.00,4298.00,4346.00,4346.00000,...,4235.00,4177.00,4144.00,4122.00,4128.00,4141.00,4133.00,4129.0,4115.0,NaN
49,부암동,계,주민등록인구(동별),명,10523.00,10477.00,10525.00,10551.00,10597.00,10421.00000,...,9683.00,9590.00,9536.00,9460.00,9377.00,9443.00,9389.00,9400.0,9346.0,NaN
50,부암동,남자,주민등록인구(동별),NaN,5012.00,4989.00,5002.00,5045.00,5042.00,4953.00000,...,4630.00,4578.00,4545.00,4485.00,4463.00,4483.00,4466.00,4456.0,4415.0,NaN
51,부암동,여자,주민등록인구(동별),NaN,5511.00,5488.00,5523.00,5506.00,5555.00,5468.00000,...,5053.00,5012.00,4991.00,4975.00,4914.00,4960.00,4923.00,4944.0,4931.0,NaN
52,부암동,한국인,주민등록인구(동별),명,10111.00,10068.00,10017.00,10100.00,10164.00,10050.00000,...,9432.00,9314.00,9241.00,9148.00,9112.00,9136.00,9085.00,9072.0,9042.0,NaN
53,부암동,남자,주민등록인구(동별),NaN,4832.00,4801.00,4765.00,4826.00,4835.00,4769.00000,...,4490.00,4430.00,4382.00,4319.00,4315.00,4326.00,4303.00,4287.0,4251.0,NaN
54,부암동,여자,주민등록인구(동별),NaN,5279.00,5267.00,5252.00,5274.00,5329.00,5281.00000,...,4942.00,4884.00,4859.00,4829.00,4797.00,4810.00,4782.00,4785.0,4791.0,NaN
55,부암동,등록외국인,주민등록인구(동별),명,412.00,409.00,508.00,451.00,433.00,371.00000,...,251.00,276.00,295.00,312.00,265.00,307.00,304.00,328.0,304.0,NaN
56,부암동,남자,주민등록인구(동별),NaN,180.00,188.00,237.00,219.00,207.00,184.00000,...,140.00,148.00,163.00,166.00,148.00,157.00,163.00,169.0,164.0,NaN
57,부암동,여자,주민등록인구(동별),NaN,232.00,221.00,271.00,232.00,226.00,187.00000,...,111.00,128.00,132.00,146.00,117.00,150.00,141.00,159.0,140.0,NaN
58,부암동,세대당인구,주민등록인구(동별),명,2.35,2.35,2.35,2.35,2.34,2.31247,...,2.23,2.23,2.23,2.22,2.21,2.21,2.20,2.2,2.2,NaN
59,부암동,65세이상고령자,주민등록인구(동별),명,1752.00,1747.00,1754.00,1762.00,1799.00,1802.00000,...,1819.00,1806.00,1814.00,1830.00,1839.00,1859.00,1879.00,1924.0,1939.0,NaN

In [71]:
data.columns

Index(['동별', '구분별', '항목', '단위', '2019. 1/4', '2019. 2/4', '2019. 3/4',
       '2019. 4/4', '2020. 1/4', '2020. 2/4', '2020. 3/4', '2020. 4/4',
       '2021. 1/4', '2021. 2/4', '2021. 3/4', '2021. 4/4', '2022. 1/4',
       '2022. 2/4', '2022. 3/4', '2022. 4/4', '2023. 1/4', '2023. 2/4',
       '2023. 3/4', '2023. 4/4', '2024. 1/4', '2024. 2/4', 'Unnamed: 26'],
      dtype='object')

In [72]:
#사용할 컬럼 선별
data2 = data[['동별', '구분별', '2019. 1/4', '2019. 2/4', '2019. 3/4',
       '2019. 4/4', '2020. 1/4', '2020. 2/4', '2020. 3/4', '2020. 4/4',
       '2021. 1/4', '2021. 2/4', '2021. 3/4', '2021. 4/4', '2022. 1/4',
       '2022. 2/4', '2022. 3/4', '2022. 4/4', '2023. 1/4', '2023. 2/4',
       '2023. 3/4', '2023. 4/4', '2024. 1/4', '2024. 2/4']]

In [73]:
# 새 컬럼 이름 리스트
new_columns = ['동별', '구분별', '20191', '20192', '20193', '20194',
               '20201', '20202', '20203', '20204', '20211', '20212',
               '20213', '20214', '20221', '20222', '20223', '20224',
               '20231', '20232', '20233', '20234', '20241', '20242']

# 데이터프레임의 열 이름 변경
data2.columns = new_columns

In [74]:
data2.head(1)

,동별,구분별,20191,20192,20193,20194,20201,20202,20203,20204,...,20221,20222,20223,20224,20231,20232,20233,20234,20241,20242
0,합계,세대,4290922.0,4304243.0,4315921.0,4327605.0,4354006.0,4384076.0,4405833.0,4417954.0,...,4451444.0,4464840.0,4450525.0,4446296.0,4463385.0,4469158.0,4475726.0,4469417.0,4485819.0,4486014.0

In [75]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5448 entries, 0 to 5447
Data columns (total 24 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   동별      5448 non-null   object
 1   구분별     5448 non-null   object
 2   20191   5400 non-null   float64
 3   20192   5400 non-null   float64
 4   20193   5400 non-null   float64
 5   20194   5400 non-null   float64
 6   20201   5412 non-null   float64
 7   20202   5412 non-null   float64
 8   20203   5412 non-null   float64
 9   20204   5412 non-null   float64
 10  20211   5412 non-null   float64
 11  20212   5412 non-null   float64
 12  20213   5424 non-null   float64
 13  20214   5424 non-null   float64
 14  20221   5424 non-null   float64
 15  20222   5424 non-null   float64
 16  20223   5424 non-null   float64
 17  20224   5424 non-null   float64
 18  20231   5424 non-null   float64
 19  20232   5424 non-null   float64
 20  20233   5424 non-null   float64
 21  20234   5424 non-null   float64
 22  20241   5424 non-null   float64
 23  20242   5424 non-null   float64
dtypes: float64(22), object(2)
memory usage: 1021.6+ KB

In [76]:
data2.iloc[5423:, [0] + list(range(5, data2.shape[1]))]

,동별,20194,20201,20202,20203,20204,20211,20212,20213,20214,20221,20222,20223,20224,20231,20232,20233,20234,20241,20242
5423,강일동,4527.0,4640.0,4686.0,4757.0,5323.0,6077.0,6409.0,5177.00,5321.00,5437.00,5595.00,5691.00,5784.00,5937.00,6005.00,6100.00,6231.00,6349.00,6454.00
5424,상일1동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13486.00,13496.00,13477.00,13563.00,13547.00,13570.00,13601.00,13618.00,13608.00,13610.00,13592.00,13585.00
5425,상일1동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39036.00,38929.00,38832.00,39022.00,39038.00,39178.00,39435.00,39407.00,39412.00,39440.00,39322.00,39379.00
5426,상일1동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19259.00,19197.00,19137.00,19213.00,19199.00,19276.00,19380.00,19347.00,19356.00,19393.00,19319.00,19353.00
5427,상일1동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19777.00,19732.00,19695.00,19809.00,19839.00,19902.00,20055.00,20060.00,20056.00,20047.00,20003.00,20026.00
5428,상일1동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38940.00,38834.00,38713.00,38880.00,38895.00,39036.00,39285.00,39283.00,39288.00,39317.00,39206.00,39261.00
5429,상일1동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19215.00,19154.00,19082.00,19149.00,19137.00,19212.00,19312.00,19294.00,19302.00,19338.00,19267.00,19303.00
5430,상일1동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19725.00,19680.00,19631.00,19731.00,19758.00,19824.00,19973.00,19989.00,19986.00,19979.00,19939.00,19958.00
5431,상일1동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96.00,95.00,119.00,142.00,143.00,142.00,150.00,124.00,124.00,123.00,116.00,118.00
5432,상일1동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44.00,43.00,55.00,64.00,62.00,64.00,68.00,53.00,54.00,55.00,52.00,50.00
5433,상일1동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52.00,52.00,64.00,78.00,81.00,78.00,82.00,71.00,70.00,68.00,64.00,68.00
5434,상일1동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.89,2.88,2.87,2.87,2.87,2.88,2.89,2.88,2.89,2.89,2.88,2.89
5435,상일1동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4326.00,4396.00,4561.00,4632.00,4730.00,4839.00,4956.00,5022.00,5120.00,5224.00,5290.00,5361.00
5436,상일2동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3861.00,3944.00,4028.00,4653.00,4774.00,4776.00,4856.00,4857.00,4832.00,4807.00,5152.00,5371.00
5437,상일2동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10092.00,10200.00,10254.00,11736.00,11971.00,11933.00,12018.00,11976.00,11872.00,11786.00,12959.00,13683.00
5438,상일2동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4749.00,4782.00,4812.00,5497.00,5579.00,5571.00,5598.00,5568.00,5512.00,5471.00,6032.00,6385.00
5439,상일2동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5343.00,5418.00,5442.00,6239.00,6392.00,6362.00,6420.00,6408.00,6360.00,6315.00,6927.00,7298.00
5440,상일2동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10053.00,10166.00,10219.00,11692.00,11922.00,11882.00,11963.00,11923.00,11822.00,11736.00,12904.00,13627.00
5441,상일2동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4737.00,4773.00,4803.00,5485.00,5564.00,5554.00,5578.00,5549.00,5495.00,5454.00,6013.00,6368.00
5442,상일2동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5316.00,5393.00,5416.00,6207.00,6358.00,6328.00,6385.00,6374.00,6327.00,6282.00,6891.00,7259.00
5443,상일2동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.00,34.00,35.00,44.00,49.00,51.00,55.00,53.00,50.00,50.00,55.00,56.00
5444,상일2동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.00,9.00,9.00,12.00,15.00,17.00,20.00,19.00,17.00,17.00,19.00,17.00
5445,상일2동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.00,25.00,26.00,32.00,34.00,34.00,35.00,34.00,33.00,33.00,36.00,39.00
5446,상일2동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.60,2.58,2.54,2.51,2.50,2.49,2.46,2.45,2.45,2.44,2.50,2.54
5447,상일2동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1449.00,1496.00,1547.00,1806.00,1888.00,1913.00,1941.00,1945.00,1956.00,1978.00,2057.00,2101.00

In [77]:
data2[data2['동별'] == '상일동']

,동별,구분별,20191,20192,20193,20194,20201,20202,20203,20204,...,20221,20222,20223,20224,20231,20232,20233,20234,20241,20242
5208,상일동,세대,4185.00,4192.00,4154.00,4109.0,9586.00,11349.00000,11524.000000,11609.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5209,상일동,계,11127.00,11113.00,10943.00,10773.0,27636.00,32624.00000,33151.000000,33345.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5210,상일동,남자,5560.00,5540.00,5455.00,5356.0,13669.00,16137.00000,16333.000000,16438.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5211,상일동,여자,5567.00,5573.00,5488.00,5417.0,13967.00,16487.00000,16818.000000,16907.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5212,상일동,한국인,11038.00,11026.00,10853.00,10690.0,27516.00,32478.00000,33026.000000,33222.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5213,상일동,남자,5512.00,5496.00,5411.00,5322.0,13611.00,16066.00000,16276.000000,16379.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5214,상일동,여자,5526.00,5530.00,5442.00,5368.0,13905.00,16412.00000,16750.000000,16843.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5215,상일동,등록외국인,89.00,87.00,90.00,83.0,120.00,146.00000,125.000000,123.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5216,상일동,남자,48.00,44.00,44.00,34.0,58.00,71.00000,57.000000,59.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5217,상일동,여자,41.00,43.00,46.00,49.0,62.00,75.00000,68.000000,64.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5218,상일동,세대당인구,2.64,2.63,2.61,2.6,2.87,2.86175,2.865845,2.86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5219,상일동,65세이상고령자,1524.00,1553.00,1584.00,1579.0,2878.00,3473.00000,3569.000000,3659.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [78]:
data2[data2['동별'] == '항동']

,동별,구분별,20191,20192,20193,20194,20201,20202,20203,20204,...,20221,20222,20223,20224,20231,20232,20233,20234,20241,20242
3516,항동,세대,NaN,NaN,NaN,NaN,5464.00,5864.00000,6104.000000,6139.00,...,6262.00,6284.00,6285.00,6263.00,6279.00,6282.00,6286.00,6253.00,6268.0,6286.00
3517,항동,계,NaN,NaN,NaN,NaN,14363.00,15540.00000,16277.000000,16404.00,...,16561.00,16641.00,16594.00,16551.00,16574.00,16556.00,16534.00,16480.00,16417.0,16420.00
3518,항동,남자,NaN,NaN,NaN,NaN,7060.00,7660.00000,8015.000000,8086.00,...,8091.00,8105.00,8071.00,8031.00,8045.00,8026.00,8007.00,7966.00,7927.0,7934.00
3519,항동,여자,NaN,NaN,NaN,NaN,7303.00,7880.00000,8262.000000,8318.00,...,8470.00,8536.00,8523.00,8520.00,8529.00,8530.00,8527.00,8514.00,8490.0,8486.00
3520,항동,한국인,NaN,NaN,NaN,NaN,14342.00,15498.00000,16233.000000,16284.00,...,16441.00,16498.00,16459.00,16407.00,16439.00,16415.00,16395.00,16335.00,16281.0,16265.00
3521,항동,남자,NaN,NaN,NaN,NaN,7055.00,7643.00000,7997.000000,8036.00,...,8036.00,8048.00,8016.00,7973.00,7986.00,7966.00,7948.00,7906.00,7872.0,7872.00
3522,항동,여자,NaN,NaN,NaN,NaN,7287.00,7855.00000,8236.000000,8248.00,...,8405.00,8450.00,8443.00,8434.00,8453.00,8449.00,8447.00,8429.00,8409.0,8393.00
3523,항동,등록외국인,NaN,NaN,NaN,NaN,21.00,42.00000,44.000000,120.00,...,120.00,143.00,135.00,144.00,135.00,141.00,139.00,145.00,136.0,155.00
3524,항동,남자,NaN,NaN,NaN,NaN,5.00,17.00000,18.000000,50.00,...,55.00,57.00,55.00,58.00,59.00,60.00,59.00,60.00,55.0,62.00
3525,항동,여자,NaN,NaN,NaN,NaN,16.00,25.00000,26.000000,70.00,...,65.00,86.00,80.00,86.00,76.00,81.00,80.00,85.00,81.0,93.00
3526,항동,세대당인구,NaN,NaN,NaN,NaN,2.62,2.64291,2.659404,2.65,...,2.63,2.63,2.62,2.62,2.62,2.61,2.61,2.61,2.6,2.59
3527,항동,65세이상고령자,NaN,NaN,NaN,NaN,1328.00,1398.00000,1451.000000,1456.00,...,1695.00,1714.00,1762.00,1792.00,1846.00,1879.00,1910.00,1939.00,1989.0,2022.00