In [1]:
import pandas as pd

In [2]:
data_01 = pd.read_csv('서울시_상권분석서비스(점포-행정동)_2020년.csv', encoding='EUC-KR')
data_02 = pd.read_csv(r'D:\Work\team_project\project2\oos\data\거주인구\Resident_Population_Dong424.csv')

In [3]:
data_01.info(0)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140538 entries, 0 to 140537
Data columns (total 12 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   기준_년분기_코드    140538 non-null  int64
 1   행정동_코드       140538 non-null  int64
 2   행정동_코드_명     140538 non-null  object
 3   서비스_업종_코드    140538 non-null  object
 4   서비스_업종_코드_명  140538 non-null  object
 5   점포_수         140538 non-null  int64
 6   유사_업종_점포_수   140538 non-null  int64
 7   개업_율         140538 non-null  int64
 8   개업_점포_수      140538 non-null  int64
 9   폐업_률         140538 non-null  int64
 10  폐업_점포_수      140538 non-null  int64
 11  프랜차이즈_점포_수   140538 non-null  int64
dtypes: int64(9), object(3)
memory usage: 12.9+ MB

In [4]:
set_a = set(data_01['행정동_코드_명'])
set_b = set(data_02['동별'])
common_values = set_a & set_b  # A와 B에 모두 있는 값
only_in_a = set_a - set_b  # A에만 있는 값
only_in_b = set_b - set_a  # B에만 있는 값

In [5]:
# 결과 출력
print("A와 B에 모두 있는 값:")
print(common_values)

print("\nA에만 있는 값:")
print(only_in_a)

print("\nB에만 있는 값:")
print(only_in_b)

A와 B에 모두 있는 값:
{'천호1동', '수궁동', '자양3동', '공릉2동', '개봉1동', '종로5·6가동', '상계2동', '성수1가1동', '상계6·7동', '구의3동', '가락1동', '대림1동', '남영동', '쌍문1동', '암사2동', '도곡1동', '신길5동', '오금동', '방이2동', '역삼2동', '목5동', '정릉2동', '공덕동', '가락2동', '회기동', '이문1동', '자양1동', '난향동', '신사1동', '아현동', '청구동', '개포1동', '신정3동', '금호2·3가동', '북가좌1동', '청림동', '월계2동', '거여2동', '구로4동', '효창동', '전농2동', '중계본동', '상계5동', '구로2동', '문정2동', '상도4동', '신당동', '신정1동', '상도3동', '군자동', '삼청동', '상계10동', '면목4동', '보광동', '가락본동', '하계2동', '중화1동', '자양4동', '논현2동', '홍제2동', '불광1동', '수유2동', '사당1동', '창신3동', '독산4동', '사당3동', '상암동', '황학동', '신대방2동', '목3동', '창5동', '방배2동', '삼각산동', '서초3동', '화곡2동', '청량리동', '등촌2동', '면목7동', '성북동', '화곡3동', '오류2동', '도곡2동', '화곡8동', '시흥5동', '송파1동', '신정4동', '풍납2동', '풍납1동', '명동', '구의1동', '중림동', '중계4동', '공항동', '응암2동', '장안1동', '성산1동', '돈암1동', '수유1동', '쌍문3동', '대치1동', '남가좌1동', '중곡2동', '가양1동', '성현동', '송중동', '부암동', '석관동', '시흥4동', '송천동', '묵2동', '충현동', '난곡동', '둔촌2동', '공릉1동', '양평1동', '신정6동', '전농1동', '반포1동', '창3동', '천호2동', '신길3동', '신월2동', '망원2동', '용답동', '혜화동', '양재1동', '합정동', '송파2동', '고덕1동', '방학3동', '장안2동', '인헌동', '금호1가동', '화곡4동', '방이1동', '삼전동', '당산2동', '영등포본동', '이태원1동', '개포2동', '화곡본동', '반포본동', '신당5동', '양평2동', '상일동', '삼양동', '사근동', '미성동', '역삼1동', '한남동', '도림동', '목4동', '무악동', '서빙고동', '성수2가1동', '북아현동', '수서동', '수색동', '둔촌1동', '상계3·4동', '잠실6동', '장위1동', '후암동', '길동', '쌍문2동', '세곡동', '대흥동', '역촌동', '망우3동', '서림동', '동화동', '구로3동', '상봉1동', '번3동', '중계2·3동', '약수동', '숭인1동', '한강로동', '압구정동', '잠실2동', '가양3동', '신월7동', '방배3동', '대림2동', '정릉1동', '독산1동', '잠원동', '창1동', '이태원2동', '월곡1동', '용신동', '삼성동', '장지동', '신길4동', '삼성1동', '휘경2동', '성내1동', '가산동', '성내2동', '일원2동', '길음2동', '신월5동', '이촌1동', '창4동', '정릉3동', '대치2동', '신원동', '마천1동', '상도1동', '남가좌2동', '월계3동', '양재2동', '번1동', '원효로1동', '자양2동', '장충동', '천연동', '상봉2동', '동선동', '능동', '홍은2동', '신수동', '청운효자동', '교남동', '종로1·2·3·4가동', '홍은1동', '고척1동', '홍제3동', '가리봉동', '잠실7동', '마천2동', '낙성대동', '면목5동', '흑석동', '구로1동', '노량진1동', '신월4동', '방배1동', '천호3동', '등촌1동', '염리동', '신정2동', '사당5동', '시흥2동', '서초4동', '삼선동', '성수2가3동', '숭인2동', '성수1가2동', '정릉4동', '응봉동', '석촌동', '광장동', '녹번동', '사직동', '평창동', '방화1동', '옥수동', '왕십리도선동', '가회동', '내곡동', '일원1동', '돈암2동', '삼성2동', '망원1동', '발산1동', '청담동', '신사2동', '사당4동', '독산3동', '위례동', '서교동', '증산동', '왕십리2동', '면목본동', '번2동', '송정동', '중계1동', '상계8동', '쌍문4동', '행당1동', '신촌동', '서초1동', '휘경1동', '보문동', '개포4동', '북가좌2동', '응암3동', '성산2동', '명일1동', '도화동', '용문동', '문래동', '반포4동', '반포3동', '명일2동', '오류1동', '답십리1동', '신정7동', '대조동', '중앙동', '당산1동', '응암1동', '갈현1동', '소공동', '장위3동', '신월6동', '신림동', '진관동', '갈현2동', '염창동', '청파동', '이문2동', '고덕2동', '창신2동', '을지로동', '화곡6동', '거여1동', '미아동', '논현1동', '신길1동', '강일동', '도봉2동', '상계1동', '사당2동', '이화동', '우장산동', '금호4가동', '신길6동', '상계9동', '행운동', '개봉2동', '창2동', '잠실4동', '중곡1동', '불광2동', '방배4동', '암사1동', '다산동', '인수동', '목1동', '등촌3동', '신길7동', '회현동', '노량진2동', '문정1동', '서강동', '대방동', '시흥3동', '방학2동', '고척2동', '제기동', '시흥1동', '잠실본동', '신월3동', '연남동', '방화2동', '중화2동', '창신1동', '구로5동', '종암동', '면목2동', '마장동', '암사3동', '대학동', '방배본동', '일원본동', '방화3동', '독산2동', '신대방1동', '구의2동', '도봉1동', '대림3동', '하계1동', '중곡3동', '신내2동', '행당2동', '가양2동', '은천동', '성내3동', '청룡동', '장위2동', '보라매동', '서초2동', '용강동', '홍제1동', '화양동', '반포2동', '영등포동', '신사동', '방학1동', '오륜동', '상도2동', '구산동', '원효로2동', '월곡2동', '필동', '우이동', '중곡4동', '목2동', '수유3동', '잠실3동', '면목3·8동', '신내1동', '조원동', '연희동', '화곡1동', '대치4동', '신도림동', '길음1동', '안암동', '망우본동', '신월1동', '여의동', '광희동', '용산2가동', '월계1동', '이촌2동', '묵1동', '답십리2동', '서원동', '개봉3동', '남현동'}

A에만 있는 값:
{'항동'}

B에만 있는 값:
{'관악구 신사동'}

In [6]:
data_01.loc[data_01['행정동_코드'] == 11620685, '행정동_코드_명'] = '관악구 신사동'

In [7]:
data_01[data_01['행정동_코드_명'] == '관악구 신사동'][:1]

,기준_년분기_코드,행정동_코드,행정동_코드_명,서비스_업종_코드,서비스_업종_코드_명,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,폐업_률,폐업_점포_수,프랜차이즈_점포_수
27302,20201,11620685,관악구 신사동,CS100001,한식음식점,106,116,9,10,7,8,10

In [8]:
dong_check = data_01[data_01['행정동_코드_명'] == '신사동']

In [9]:
dong_check.head(1)

,기준_년분기_코드,행정동_코드,행정동_코드_명,서비스_업종_코드,서비스_업종_코드_명,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,폐업_률,폐업_점포_수,프랜차이즈_점포_수
29539,20201,11680510,신사동,CS100001,한식음식점,270,308,3,9,3,10,38

In [10]:
set_a = set(data_01['행정동_코드_명'])
set_b = set(data_02['동별'])
common_values = set_a & set_b  # A와 B에 모두 있는 값
only_in_a = set_a - set_b  # A에만 있는 값
only_in_b = set_b - set_a  # B에만 있는 값

# 결과 출력
print("A와 B에 모두 있는 값:")
print(common_values)

print("\nA에만 있는 값:")
print(only_in_a)

print("\nB에만 있는 값:")
print(only_in_b)

A와 B에 모두 있는 값:
{'천호1동', '수궁동', '자양3동', '공릉2동', '개봉1동', '종로5·6가동', '상계2동', '성수1가1동', '상계6·7동', '구의3동', '가락1동', '대림1동', '남영동', '쌍문1동', '암사2동', '도곡1동', '신길5동', '오금동', '방이2동', '역삼2동', '목5동', '정릉2동', '공덕동', '가락2동', '회기동', '이문1동', '자양1동', '난향동', '신사1동', '아현동', '청구동', '개포1동', '신정3동', '금호2·3가동', '북가좌1동', '청림동', '월계2동', '거여2동', '구로4동', '효창동', '전농2동', '중계본동', '상계5동', '구로2동', '문정2동', '상도4동', '신당동', '신정1동', '상도3동', '군자동', '삼청동', '상계10동', '면목4동', '보광동', '가락본동', '하계2동', '중화1동', '자양4동', '논현2동', '홍제2동', '불광1동', '수유2동', '사당1동', '창신3동', '독산4동', '사당3동', '상암동', '황학동', '신대방2동', '목3동', '창5동', '방배2동', '삼각산동', '서초3동', '화곡2동', '청량리동', '등촌2동', '면목7동', '성북동', '화곡3동', '오류2동', '도곡2동', '화곡8동', '시흥5동', '송파1동', '신정4동', '풍납2동', '풍납1동', '명동', '구의1동', '중림동', '중계4동', '공항동', '응암2동', '장안1동', '성산1동', '돈암1동', '수유1동', '쌍문3동', '대치1동', '남가좌1동', '중곡2동', '가양1동', '성현동', '송중동', '부암동', '석관동', '시흥4동', '송천동', '묵2동', '충현동', '난곡동', '둔촌2동', '공릉1동', '양평1동', '신정6동', '전농1동', '반포1동', '창3동', '천호2동', '신길3동', '신월2동', '망원2동', '용답동', '혜화동', '양재1동', '합정동', '송파2동', '고덕1동', '방학3동', '장안2동', '인헌동', '금호1가동', '화곡4동', '방이1동', '삼전동', '당산2동', '영등포본동', '이태원1동', '개포2동', '화곡본동', '반포본동', '신당5동', '양평2동', '상일동', '삼양동', '사근동', '미성동', '역삼1동', '한남동', '도림동', '목4동', '무악동', '서빙고동', '성수2가1동', '북아현동', '수서동', '수색동', '둔촌1동', '상계3·4동', '잠실6동', '장위1동', '후암동', '길동', '쌍문2동', '세곡동', '대흥동', '역촌동', '망우3동', '서림동', '동화동', '구로3동', '상봉1동', '번3동', '중계2·3동', '약수동', '숭인1동', '한강로동', '압구정동', '잠실2동', '가양3동', '신월7동', '방배3동', '대림2동', '정릉1동', '독산1동', '잠원동', '창1동', '이태원2동', '월곡1동', '용신동', '삼성동', '장지동', '신길4동', '삼성1동', '휘경2동', '성내1동', '가산동', '성내2동', '일원2동', '길음2동', '신월5동', '이촌1동', '창4동', '정릉3동', '대치2동', '신원동', '마천1동', '상도1동', '남가좌2동', '월계3동', '양재2동', '번1동', '원효로1동', '자양2동', '장충동', '천연동', '상봉2동', '동선동', '능동', '홍은2동', '신수동', '청운효자동', '교남동', '종로1·2·3·4가동', '홍은1동', '고척1동', '홍제3동', '가리봉동', '잠실7동', '마천2동', '낙성대동', '면목5동', '흑석동', '구로1동', '노량진1동', '신월4동', '방배1동', '천호3동', '등촌1동', '염리동', '신정2동', '사당5동', '시흥2동', '서초4동', '삼선동', '성수2가3동', '숭인2동', '성수1가2동', '정릉4동', '응봉동', '석촌동', '광장동', '녹번동', '사직동', '평창동', '방화1동', '옥수동', '왕십리도선동', '가회동', '내곡동', '일원1동', '돈암2동', '삼성2동', '망원1동', '발산1동', '청담동', '신사2동', '사당4동', '독산3동', '위례동', '서교동', '증산동', '왕십리2동', '면목본동', '번2동', '송정동', '중계1동', '상계8동', '쌍문4동', '행당1동', '신촌동', '서초1동', '휘경1동', '보문동', '개포4동', '북가좌2동', '응암3동', '성산2동', '명일1동', '도화동', '용문동', '문래동', '반포4동', '반포3동', '명일2동', '오류1동', '답십리1동', '신정7동', '대조동', '중앙동', '당산1동', '응암1동', '갈현1동', '소공동', '장위3동', '신월6동', '신림동', '진관동', '갈현2동', '염창동', '청파동', '이문2동', '고덕2동', '창신2동', '을지로동', '화곡6동', '거여1동', '미아동', '논현1동', '신길1동', '강일동', '도봉2동', '상계1동', '사당2동', '이화동', '우장산동', '금호4가동', '신길6동', '상계9동', '행운동', '개봉2동', '창2동', '잠실4동', '중곡1동', '불광2동', '방배4동', '암사1동', '다산동', '인수동', '목1동', '등촌3동', '신길7동', '회현동', '노량진2동', '문정1동', '서강동', '대방동', '시흥3동', '방학2동', '고척2동', '제기동', '시흥1동', '잠실본동', '신월3동', '연남동', '방화2동', '중화2동', '창신1동', '구로5동', '종암동', '면목2동', '마장동', '암사3동', '대학동', '방배본동', '일원본동', '방화3동', '독산2동', '신대방1동', '구의2동', '도봉1동', '대림3동', '하계1동', '중곡3동', '신내2동', '행당2동', '가양2동', '은천동', '성내3동', '청룡동', '장위2동', '보라매동', '서초2동', '용강동', '홍제1동', '화양동', '반포2동', '영등포동', '관악구 신사동', '신사동', '방학1동', '오륜동', '상도2동', '구산동', '원효로2동', '월곡2동', '필동', '우이동', '중곡4동', '목2동', '수유3동', '잠실3동', '면목3·8동', '신내1동', '조원동', '연희동', '화곡1동', '대치4동', '신도림동', '길음1동', '안암동', '망우본동', '신월1동', '여의동', '광희동', '용산2가동', '월계1동', '이촌2동', '묵1동', '답십리2동', '서원동', '개봉3동', '남현동'}

A에만 있는 값:
{'항동'}

B에만 있는 값:
set()

In [11]:
data_01.loc[data_01['행정동_코드_명'] == '항동', '행정동_코드_명'] = '오류2동'

In [12]:
set_a = set(data_01['행정동_코드_명'])
set_b = set(data_02['동별'])
common_values = set_a & set_b  # A와 B에 모두 있는 값
only_in_a = set_a - set_b  # A에만 있는 값
only_in_b = set_b - set_a  # B에만 있는 값

# 결과 출력
print("A와 B에 모두 있는 값:")
print(common_values)

print("\nA에만 있는 값:")
print(only_in_a)

print("\nB에만 있는 값:")
print(only_in_b)

A와 B에 모두 있는 값:
{'천호1동', '수궁동', '자양3동', '공릉2동', '개봉1동', '종로5·6가동', '상계2동', '성수1가1동', '상계6·7동', '구의3동', '가락1동', '대림1동', '남영동', '쌍문1동', '암사2동', '도곡1동', '신길5동', '오금동', '방이2동', '역삼2동', '목5동', '정릉2동', '공덕동', '가락2동', '회기동', '이문1동', '자양1동', '난향동', '신사1동', '아현동', '청구동', '개포1동', '신정3동', '금호2·3가동', '북가좌1동', '청림동', '월계2동', '거여2동', '구로4동', '효창동', '전농2동', '중계본동', '상계5동', '구로2동', '문정2동', '상도4동', '신당동', '신정1동', '상도3동', '군자동', '삼청동', '상계10동', '면목4동', '보광동', '가락본동', '하계2동', '중화1동', '자양4동', '논현2동', '홍제2동', '불광1동', '수유2동', '사당1동', '창신3동', '독산4동', '사당3동', '상암동', '황학동', '신대방2동', '목3동', '창5동', '방배2동', '삼각산동', '서초3동', '화곡2동', '청량리동', '등촌2동', '면목7동', '성북동', '화곡3동', '오류2동', '도곡2동', '화곡8동', '시흥5동', '송파1동', '신정4동', '풍납2동', '풍납1동', '명동', '구의1동', '중림동', '중계4동', '공항동', '응암2동', '장안1동', '성산1동', '돈암1동', '수유1동', '쌍문3동', '대치1동', '남가좌1동', '중곡2동', '가양1동', '성현동', '송중동', '부암동', '석관동', '시흥4동', '송천동', '묵2동', '충현동', '난곡동', '둔촌2동', '공릉1동', '양평1동', '신정6동', '전농1동', '반포1동', '창3동', '천호2동', '신길3동', '신월2동', '망원2동', '용답동', '혜화동', '양재1동', '합정동', '송파2동', '고덕1동', '방학3동', '장안2동', '인헌동', '금호1가동', '화곡4동', '방이1동', '삼전동', '당산2동', '영등포본동', '이태원1동', '개포2동', '화곡본동', '반포본동', '신당5동', '양평2동', '상일동', '삼양동', '사근동', '미성동', '역삼1동', '한남동', '도림동', '목4동', '무악동', '서빙고동', '성수2가1동', '북아현동', '수서동', '수색동', '둔촌1동', '상계3·4동', '잠실6동', '장위1동', '후암동', '길동', '쌍문2동', '세곡동', '대흥동', '역촌동', '망우3동', '서림동', '동화동', '구로3동', '상봉1동', '번3동', '중계2·3동', '약수동', '숭인1동', '한강로동', '압구정동', '잠실2동', '가양3동', '신월7동', '방배3동', '대림2동', '정릉1동', '독산1동', '잠원동', '창1동', '이태원2동', '월곡1동', '용신동', '삼성동', '장지동', '신길4동', '삼성1동', '휘경2동', '성내1동', '가산동', '성내2동', '일원2동', '길음2동', '신월5동', '이촌1동', '창4동', '정릉3동', '대치2동', '신원동', '마천1동', '상도1동', '남가좌2동', '월계3동', '양재2동', '번1동', '원효로1동', '자양2동', '장충동', '천연동', '상봉2동', '동선동', '능동', '홍은2동', '신수동', '청운효자동', '교남동', '종로1·2·3·4가동', '홍은1동', '고척1동', '홍제3동', '가리봉동', '잠실7동', '마천2동', '낙성대동', '면목5동', '흑석동', '구로1동', '노량진1동', '신월4동', '방배1동', '천호3동', '등촌1동', '염리동', '신정2동', '사당5동', '시흥2동', '서초4동', '삼선동', '성수2가3동', '숭인2동', '성수1가2동', '정릉4동', '응봉동', '석촌동', '광장동', '녹번동', '사직동', '평창동', '방화1동', '옥수동', '왕십리도선동', '가회동', '내곡동', '일원1동', '돈암2동', '삼성2동', '망원1동', '발산1동', '청담동', '신사2동', '사당4동', '독산3동', '위례동', '서교동', '증산동', '왕십리2동', '면목본동', '번2동', '송정동', '중계1동', '상계8동', '쌍문4동', '행당1동', '신촌동', '서초1동', '휘경1동', '보문동', '개포4동', '북가좌2동', '응암3동', '성산2동', '명일1동', '도화동', '용문동', '문래동', '반포4동', '반포3동', '명일2동', '오류1동', '답십리1동', '신정7동', '대조동', '중앙동', '당산1동', '응암1동', '갈현1동', '소공동', '장위3동', '신월6동', '신림동', '진관동', '갈현2동', '염창동', '청파동', '이문2동', '고덕2동', '창신2동', '을지로동', '화곡6동', '거여1동', '미아동', '논현1동', '신길1동', '강일동', '도봉2동', '상계1동', '사당2동', '이화동', '우장산동', '금호4가동', '신길6동', '상계9동', '행운동', '개봉2동', '창2동', '잠실4동', '중곡1동', '불광2동', '방배4동', '암사1동', '다산동', '인수동', '목1동', '등촌3동', '신길7동', '회현동', '노량진2동', '문정1동', '서강동', '대방동', '시흥3동', '방학2동', '고척2동', '제기동', '시흥1동', '잠실본동', '신월3동', '연남동', '방화2동', '중화2동', '창신1동', '구로5동', '종암동', '면목2동', '마장동', '암사3동', '대학동', '방배본동', '일원본동', '방화3동', '독산2동', '신대방1동', '구의2동', '도봉1동', '대림3동', '하계1동', '중곡3동', '신내2동', '행당2동', '가양2동', '은천동', '성내3동', '청룡동', '장위2동', '보라매동', '서초2동', '용강동', '홍제1동', '화양동', '반포2동', '영등포동', '관악구 신사동', '신사동', '방학1동', '오륜동', '상도2동', '구산동', '원효로2동', '월곡2동', '필동', '우이동', '중곡4동', '목2동', '수유3동', '잠실3동', '면목3·8동', '신내1동', '조원동', '연희동', '화곡1동', '대치4동', '신도림동', '길음1동', '안암동', '망우본동', '신월1동', '여의동', '광희동', '용산2가동', '월계1동', '이촌2동', '묵1동', '답십리2동', '서원동', '개봉3동', '남현동'}

A에만 있는 값:
set()

B에만 있는 값:
set()

In [13]:
data_01.columns

Index(['기준_년분기_코드', '행정동_코드', '행정동_코드_명', '서비스_업종_코드', '서비스_업종_코드_명', '점포_수',
       '유사_업종_점포_수', '개업_율', '개업_점포_수', '폐업_률', '폐업_점포_수', '프랜차이즈_점포_수'],
      dtype='object')

서비스 명 통일작업

In [14]:
# 매출액 데이터에 나오는 업종 종류
sale_list = ['한식음식점', '일식음식점', '양식음식점', '제과점', '패스트푸드점', '분식전문점', '호프-간이주점',
       '커피-음료', '일반교습학원', '예술학원', '스포츠 강습', '일반의원', '치과의원', '자동차미용',
       '미용실', '피부관리실', '세탁소', '슈퍼마켓', '편의점', '미곡판매', '육류판매', '수산물판매',
       '청과상', '반찬가게', '일반의류', '신발', '안경', '시계및귀금속', '의약품', '서적', '섬유제품',
       '화초', '인테리어', '전자상거래업', '중식음식점', '치킨전문점', '한의원', '당구장', '스포츠클럽',
       '자동차수리', '네일숍', '여관', '노래방', '가방', '의료기기', '문구', '화장품', '외국어학원',
       '철물점', '골프연습장', '가전제품수리', '고시원', '컴퓨터및주변장치판매', '핸드폰', '가전제품',
       '조명용품', '운동/경기용품', 'PC방', '가구', '애완동물', '부동산중개업', '완구',
       '자전거 및 기타운송장비']

In [15]:
data_01['서비스_업종_코드_명'].unique()

array(['한식음식점', '중식음식점', '일식음식점', '양식음식점', '제과점', '패스트푸드점', '치킨전문점',
       '분식전문점', '호프-간이주점', '커피-음료', '일반교습학원', '외국어학원', '예술학원', '스포츠 강습',
       '일반의원', '치과의원', '한의원', '변호사사무소', '기타법무서비스', '세무사사무소', '당구장',
       '골프연습장', 'PC방', '전자게임장', '자동차수리', '자동차미용', '미용실', '네일숍', '피부관리실',
       '세탁소', '가전제품수리', '부동산중개업', '여관', '게스트하우스', '고시원', '노래방', '녹음실',
       '사진관', '통번역서비스', '건축물청소', '여행사', '비디오/서적임대', '의류임대', '슈퍼마켓', '편의점',
       '컴퓨터및주변장치판매', '핸드폰', '주류도매', '미곡판매', '육류판매', '수산물판매', '청과상',
       '반찬가게', '일반의류', '유아의류', '신발', '가방', '안경', '시계및귀금속', '의약품', '의료기기',
       '서적', '문구', '화장품', '미용재료', '운동/경기용품', '완구', '섬유제품', '화초', '애완동물',
       '가구', '가전제품', '철물점', '인테리어', '조명용품', '자동차부품', '모터사이클및부품',
       '재생용품 판매점', '예술품', '전자상거래업', '컴퓨터학원', '동물병원', '변리사사무소', '법무사사무소',
       '회계사사무소', '볼링장', '기타오락장', '복권방', '통신기기수리', '스포츠클럽', '독서실',
       '가정용품임대', '한복점', '악기', '주유소', 'DVD방', '모터사이클수리', '중고차판매',
       '자전거 및 기타운송장비', '중고가구'], dtype=object)

In [16]:
set_a = set(data_01['서비스_업종_코드_명'])
set_b = set(sale_list)
common_values = set_a & set_b  # A와 B에 모두 있는 값
only_in_a = set_a - set_b  # A에만 있는 값
only_in_b = set_b - set_a  # B에만 있는 값

# 결과 출력
print("A와 B에 모두 있는 값:")
print(common_values)

print("\nA에만 있는 값:")
print(only_in_a)

print("\nB에만 있는 값:")
print(only_in_b)

A와 B에 모두 있는 값:
{'패스트푸드점', '컴퓨터및주변장치판매', '한식음식점', '슈퍼마켓', '호프-간이주점', 'PC방', '일반교습학원', '미곡판매', '제과점', '중식음식점', '철물점', '청과상', '가전제품수리', '의약품', '여관', '가방', '자전거 및 기타운송장비', '골프연습장', '반찬가게', '가구', '고시원', '부동산중개업', '운동/경기용품', '일식음식점', '양식음식점', '치과의원', '화장품', '편의점', '자동차수리', '노래방', '외국어학원', '안경', '핸드폰', '예술학원', '분식전문점', '화초', '육류판매', '가전제품', '당구장', '미용실', '인테리어', '신발', '섬유제품', '일반의류', '전자상거래업', '일반의원', '수산물판매', '문구', '조명용품', '한의원', '스포츠클럽', '세탁소', '시계및귀금속', '애완동물', '의료기기', '커피-음료', '피부관리실', '치킨전문점', '완구', '자동차미용', '네일숍', '스포츠 강습', '서적'}

A에만 있는 값:
{'DVD방', '복권방', '의류임대', '기타법무서비스', '건축물청소', '중고가구', '사진관', '변리사사무소', '독서실', '재생용품 판매점', '회계사사무소', '기타오락장', '중고차판매', '변호사사무소', '비디오/서적임대', '여행사', '전자게임장', '법무사사무소', '볼링장', '예술품', '미용재료', '세무사사무소', '동물병원', '가정용품임대', '한복점', '통신기기수리', '자동차부품', '녹음실', '컴퓨터학원', '주류도매', '주유소', '게스트하우스', '유아의류', '모터사이클수리', '통번역서비스', '악기', '모터사이클및부품'}

B에만 있는 값:
set()

In [17]:
# 삭제할 항목 제외
df_cleaned = data_01[~data_01['서비스_업종_코드_명'].isin(only_in_a)]

In [18]:
set_a = set(df_cleaned['서비스_업종_코드_명'])
set_b = set(sale_list)
common_values = set_a & set_b  # A와 B에 모두 있는 값
only_in_a = set_a - set_b  # A에만 있는 값
only_in_b = set_b - set_a  # B에만 있는 값

# 결과 출력
print("A와 B에 모두 있는 값:")
print(common_values)

print("\nA에만 있는 값:")
print(only_in_a)

print("\nB에만 있는 값:")
print(only_in_b)

A와 B에 모두 있는 값:
{'패스트푸드점', '컴퓨터및주변장치판매', '한식음식점', '슈퍼마켓', '호프-간이주점', 'PC방', '일반교습학원', '미곡판매', '제과점', '중식음식점', '철물점', '청과상', '가전제품수리', '의약품', '여관', '가방', '자전거 및 기타운송장비', '골프연습장', '반찬가게', '가구', '고시원', '부동산중개업', '운동/경기용품', '일식음식점', '양식음식점', '치과의원', '화장품', '편의점', '자동차수리', '노래방', '외국어학원', '안경', '핸드폰', '예술학원', '분식전문점', '화초', '육류판매', '가전제품', '당구장', '미용실', '인테리어', '신발', '섬유제품', '일반의류', '전자상거래업', '일반의원', '수산물판매', '문구', '조명용품', '한의원', '스포츠클럽', '세탁소', '시계및귀금속', '애완동물', '의료기기', '커피-음료', '피부관리실', '치킨전문점', '완구', '자동차미용', '네일숍', '스포츠 강습', '서적'}

A에만 있는 값:
set()

B에만 있는 값:
set()



컬럼정리

In [19]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 101716 entries, 0 to 140537
Data columns (total 12 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   기준_년분기_코드    101716 non-null  int64
 1   행정동_코드       101716 non-null  int64
 2   행정동_코드_명     101716 non-null  object
 3   서비스_업종_코드    101716 non-null  object
 4   서비스_업종_코드_명  101716 non-null  object
 5   점포_수         101716 non-null  int64
 6   유사_업종_점포_수   101716 non-null  int64
 7   개업_율         101716 non-null  int64
 8   개업_점포_수      101716 non-null  int64
 9   폐업_률         101716 non-null  int64
 10  폐업_점포_수      101716 non-null  int64
 11  프랜차이즈_점포_수   101716 non-null  int64
dtypes: int64(9), object(3)
memory usage: 10.1+ MB

In [21]:
df_cleaned.columns

Index(['기준_년분기_코드', '행정동_코드', '행정동_코드_명', '서비스_업종_코드', '서비스_업종_코드_명', '점포_수',
       '유사_업종_점포_수', '개업_율', '개업_점포_수', '폐업_률', '폐업_점포_수', '프랜차이즈_점포_수'],
      dtype='object')

In [22]:
df_cleaned = df_cleaned[['기준_년분기_코드', '행정동_코드_명', '서비스_업종_코드_명', '점포_수', '개업_점포_수', '폐업_점포_수', '프랜차이즈_점포_수']]

In [23]:
# 새로운 컬럼명 리스트
new_columns = ['년분기', '행정동', '업종명', '점포_수', '개업_점포_수', '폐업_점포_수', '프랜차이즈_점포_수']  # 원하는 컬럼명으로 변경

# 컬럼명 변경
df_cleaned.columns = new_columns

In [24]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 101716 entries, 0 to 140537
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   년분기         101716 non-null  int64
 1   행정동         101716 non-null  object
 2   업종명         101716 non-null  object
 3   점포_수        101716 non-null  int64
 4   개업_점포_수     101716 non-null  int64
 5   폐업_점포_수     101716 non-null  int64
 6   프랜차이즈_점포_수  101716 non-null  int64
dtypes: int64(5), object(2)
memory usage: 6.2+ MB

In [25]:
df_cleaned.head(2)

     년분기    행정동    업종명  점포_수  개업_점포_수  폐업_점포_수  프랜차이즈_점포_수
0  20201  청운효자동  한식음식점    82        1        7           1
1  20201  청운효자동  중식음식점     4        0        0           0

In [ ]:
#데이터 저장
#df_cleaned.to_csv('Number of Stores_20.csv',index=False)