In [79]:
import pandas as pd

In [80]:
data_01 = pd.read_csv('서울시_상권분석서비스(점포-행정동)_2019년.csv', encoding='EUC-KR')
data_02 = pd.read_csv(r'D:\Work\team_project\project2\oos\data\거주인구\Resident_Population_Dong425.csv')

In [81]:
data_01.info(0)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139799 entries, 0 to 139798
Data columns (total 12 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   기준_년분기_코드    139799 non-null  int64
 1   행정동_코드       139799 non-null  int64
 2   행정동_코드_명     139799 non-null  object
 3   서비스_업종_코드    139799 non-null  object
 4   서비스_업종_코드_명  139799 non-null  object
 5   점포_수         139799 non-null  int64
 6   유사_업종_점포_수   139799 non-null  int64
 7   개업_율         139799 non-null  int64
 8   개업_점포_수      139799 non-null  int64
 9   폐업_률         139799 non-null  int64
 10  폐업_점포_수      139799 non-null  int64
 11  프랜차이즈_점포_수   139799 non-null  int64
dtypes: int64(9), object(3)
memory usage: 12.8+ MB

In [82]:
set_a = set(data_01['행정동_코드_명'])
set_b = set(data_02['동별'])
common_values = set_a & set_b  # A와 B에 모두 있는 값
only_in_a = set_a - set_b  # A에만 있는 값
only_in_b = set_b - set_a  # B에만 있는 값

In [83]:
# 결과 출력
print("A와 B에 모두 있는 값:")
print(common_values)

print("\nA에만 있는 값:")
print(only_in_a)

print("\nB에만 있는 값:")
print(only_in_b)

A와 B에 모두 있는 값:
{'서림동', '신사동', '이문2동', '잠실3동', '대학동', '공항동', '신대방1동', '개포4동', '방이2동', '응암2동', '돈암1동', '공릉1동', '면목2동', '천연동', '청림동', '대조동', '등촌2동', '정릉2동', '원효로2동', '쌍문3동', '망원1동', '왕십리도선동', '성산1동', '신월6동', '필동', '반포4동', '오류2동', '남가좌1동', '금호2·3가동', '노량진1동', '암사3동', '창5동', '행당2동', '삼성2동', '가리봉동', '방배1동', '상계10동', '사당2동', '수유1동', '쌍문2동', '중림동', '망우3동', '삼선동', '도림동', '노량진2동', '면목본동', '성수1가1동', '은천동', '남현동', '잠실4동', '사당5동', '서빙고동', '남가좌2동', '교남동', '청구동', '강일동', '양평2동', '대치1동', '신월2동', '목5동', '서초2동', '가산동', '능동', '목1동', '신길6동', '염리동', '장충동', '영등포본동', '정릉1동', '서교동', '시흥1동', '송파1동', '방배2동', '내곡동', '대림2동', '명일2동', '하계2동', '개봉3동', '보문동', '신당동', '도봉2동', '사당3동', '역삼2동', '장위3동', '전농1동', '원효로1동', '오금동', '방배본동', '홍제1동', '화곡4동', '구로5동', '화곡3동', '용강동', '중계4동', '북가좌2동', '합정동', '난향동', '화곡1동', '용답동', '행당1동', '홍은1동', '일원2동', '신월5동', '당산1동', '도봉1동', '북아현동', '송파2동', '장안2동', '서초1동', '신도림동', '염창동', '종로1·2·3·4가동', '증산동', '삼성1동', '영등포동', '문정2동', '사당1동', '월곡2동', '상계5동', '신정3동', '자양4동', '길동', '상계8동', '일원1동', '회기동', '신길1동', '구로4동', '창1동', '둔촌2동', '개포1동', '반포본동', '상계2동', '신길5동', '가락2동', '무악동', '청량리동', '화곡2동', '구로1동', '다산동', '목3동', '소공동', '수색동', '도화동', '발산1동', '사근동', '잠실2동', '방학3동', '시흥2동', '평창동', '답십리2동', '휘경2동', '월계1동', '화곡8동', '가락1동', '개포2동', '숭인1동', '성수2가3동', '상일동', '광희동', '미아동', '가양2동', '진관동', '공덕동', '혜화동', '암사2동', '길음2동', '가양3동', '양평1동', '중앙동', '성수2가1동', '용문동', '마천2동', '이문1동', '신대방2동', '문래동', '일원본동', '도곡2동', '종암동', '당산2동', '오륜동', '번2동', '용신동', '우장산동', '상봉2동', '흑석동', '신길3동', '천호1동', '신당5동', '방화2동', '등촌3동', '반포2동', '압구정동', '여의동', '화곡본동', '보광동', '자양2동', '면목4동', '송천동', '갈현2동', '신월3동', '잠실6동', '창4동', '성산2동', '삼성동', '창신1동', '신정2동', '명동', '광장동', '쌍문4동', '응암1동', '신월1동', '동화동', '중화1동', '면목7동', '방화3동', '명일1동', '월계2동', '서초4동', '반포1동', '송정동', '신월7동', '가회동', '상암동', '신사1동', '신내1동', '청운효자동', '등촌1동', '우이동', '상봉1동', '중화2동', '중계1동', '구로2동', '대림3동', '제기동', '양재1동', '신림동', '신월4동', '창신3동', '이촌1동', '용산2가동', '한남동', '오류1동', '신정1동', '독산2동', '신길4동', '가락본동', '청담동', '청파동', '응암3동', '미성동', '사직동', '자양3동', '개봉1동', '연남동', '고척1동', '논현1동', '신수동', '인수동', '종로5·6가동', '홍제2동', '수궁동', '동선동', '정릉4동', '금호1가동', '인헌동', '가양1동', '묵1동', '번3동', '보라매동', '잠실7동', '시흥3동', '고덕1동', '수서동', '삼전동', '이태원2동', '수유3동', '양재2동', '창3동', '석관동', '세곡동', '구로3동', '상계1동', '망우본동', '성현동', '반포3동', '정릉3동', '고덕2동', '천호2동', '아현동', '마장동', '대치2동', '방배3동', '이태원1동', '구의1동', '삼각산동', '상계6·7동', '연희동', '장지동', '문정1동', '왕십리2동', '고척2동', '도곡1동', '성내3동', '부암동', '상도4동', '휘경1동', '방학2동', '녹번동', '석촌동', '자양1동', '역삼1동', '한강로동', '전농2동', '사당4동', '신정4동', '돈암2동', '대치4동', '대림1동', '효창동', '북가좌1동', '대흥동', '난곡동', '신정7동', '구의2동', '대방동', '옥수동', '화곡6동', '시흥4동', '방학1동', '후암동', '송중동', '삼청동', '중곡4동', '목4동', '상도1동', '신사2동', '상계9동', '행운동', '중곡3동', '이화동', '화양동', '갈현1동', '성내2동', '중곡2동', '시흥5동', '숭인2동', '논현2동', '청룡동', '하계1동', '충현동', '이촌2동', '신촌동', '중계2·3동', '성북동', '불광1동', '잠실본동', '월계3동', '거여2동', '군자동', '상도3동', '신정6동', '풍납2동', '쌍문1동', '방배4동', '서강동', '풍납1동', '남영동', '약수동', '암사1동', '방화1동', '홍은2동', '금호4가동', '삼양동', '방이1동', '상계3·4동', '을지로동', '장위1동', '창2동', '불광2동', '답십리1동', '개봉2동', '묵2동', '서원동', '신내2동', '천호3동', '독산3동', '수유2동', '독산4동', '월곡1동', '목2동', '창신2동', '낙성대동', '신길7동', '홍제3동', '독산1동', '위례동', '중계본동', '중곡1동', '장안1동', '성수1가2동', '장위2동', '안암동', '회현동', '구의3동', '서초3동', '성내1동', '조원동', '번1동', '역촌동', '잠원동', '황학동', '응봉동', '면목5동', '공릉2동', '거여1동', '구산동', '신원동', '망원2동', '둔촌1동', '마천1동', '길음1동', '상도2동', '면목3·8동'}

A에만 있는 값:
{'항동'}

B에만 있는 값:
{'관악구 신사동'}

In [84]:
data_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139799 entries, 0 to 139798
Data columns (total 12 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   기준_년분기_코드    139799 non-null  int64
 1   행정동_코드       139799 non-null  int64
 2   행정동_코드_명     139799 non-null  object
 3   서비스_업종_코드    139799 non-null  object
 4   서비스_업종_코드_명  139799 non-null  object
 5   점포_수         139799 non-null  int64
 6   유사_업종_점포_수   139799 non-null  int64
 7   개업_율         139799 non-null  int64
 8   개업_점포_수      139799 non-null  int64
 9   폐업_률         139799 non-null  int64
 10  폐업_점포_수      139799 non-null  int64
 11  프랜차이즈_점포_수   139799 non-null  int64
dtypes: int64(9), object(3)
memory usage: 12.8+ MB

In [85]:
data_01.loc[data_01['행정동_코드'] == 11620685, '행정동_코드_명'] = '관악구 신사동'

In [86]:
data_01[data_01['행정동_코드_명'] == '관악구 신사동']

,기준_년분기_코드,행정동_코드,행정동_코드_명,서비스_업종_코드,서비스_업종_코드_명,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,폐업_률,폐업_점포_수,프랜차이즈_점포_수
27118,20191,11620685,관악구 신사동,CS100001,한식음식점,94,103,5,5,7,7,9
27119,20191,11620685,관악구 신사동,CS100002,중식음식점,17,17,0,0,12,2,0
27120,20191,11620685,관악구 신사동,CS100003,일식음식점,3,4,0,0,0,0,1
27121,20191,11620685,관악구 신사동,CS100004,양식음식점,2,2,0,0,0,0,0
27122,20191,11620685,관악구 신사동,CS100005,제과점,8,11,27,3,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...
132111,20194,11620685,관악구 신사동,CS300039,모터사이클및부품,2,2,0,0,0,0,0
132112,20194,11620685,관악구 신사동,CS300040,재생용품 판매점,2,2,0,0,0,0,0
132113,20194,11620685,관악구 신사동,CS300041,예술품,1,1,0,0,0,0,0
132114,20194,11620685,관악구 신사동,CS300042,주유소,2,2,0,0,0,0,0
132115,20194,11620685,관악구 신사동,CS300043,전자상거래업,52,52,12,6,0,0,0

In [87]:
dong_check = data_01[data_01['행정동_코드_명'] == '신사동']

In [88]:
dong_check

,기준_년분기_코드,행정동_코드,행정동_코드_명,서비스_업종_코드,서비스_업종_코드_명,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,폐업_률,폐업_점포_수,프랜차이즈_점포_수
29347,20191,11680510,신사동,CS100001,한식음식점,252,293,3,10,3,9,41
29348,20191,11680510,신사동,CS100002,중식음식점,31,34,12,4,0,0,3
29349,20191,11680510,신사동,CS100003,일식음식점,69,85,4,3,5,4,16
29350,20191,11680510,신사동,CS100004,양식음식점,134,148,6,9,7,11,14
29351,20191,11680510,신사동,CS100005,제과점,44,50,0,0,2,1,6
...,...,...,...,...,...,...,...,...,...,...,...,...
134351,20194,11680510,신사동,CS300038,자동차부품,4,4,0,0,0,0,0
134352,20194,11680510,신사동,CS300040,재생용품 판매점,3,3,0,0,0,0,0
134353,20194,11680510,신사동,CS300041,예술품,31,31,3,1,0,0,0
134354,20194,11680510,신사동,CS300042,주유소,7,7,0,0,0,0,0
134355,20194,11680510,신사동,CS300043,전자상거래업,148,149,6,9,0,0,1

In [89]:
set_a = set(data_01['행정동_코드_명'])
set_b = set(data_02['동별'])
common_values = set_a & set_b  # A와 B에 모두 있는 값
only_in_a = set_a - set_b  # A에만 있는 값
only_in_b = set_b - set_a  # B에만 있는 값

# 결과 출력
print("A와 B에 모두 있는 값:")
print(common_values)

print("\nA에만 있는 값:")
print(only_in_a)

print("\nB에만 있는 값:")
print(only_in_b)

A와 B에 모두 있는 값:
{'서림동', '신사동', '이문2동', '잠실3동', '대학동', '공항동', '신대방1동', '개포4동', '방이2동', '응암2동', '돈암1동', '공릉1동', '면목2동', '천연동', '청림동', '대조동', '등촌2동', '정릉2동', '원효로2동', '쌍문3동', '망원1동', '왕십리도선동', '성산1동', '신월6동', '필동', '반포4동', '오류2동', '남가좌1동', '금호2·3가동', '노량진1동', '암사3동', '창5동', '행당2동', '삼성2동', '가리봉동', '방배1동', '상계10동', '사당2동', '수유1동', '쌍문2동', '중림동', '망우3동', '삼선동', '도림동', '노량진2동', '면목본동', '성수1가1동', '은천동', '남현동', '잠실4동', '사당5동', '서빙고동', '남가좌2동', '교남동', '청구동', '강일동', '양평2동', '대치1동', '신월2동', '목5동', '서초2동', '가산동', '능동', '목1동', '신길6동', '염리동', '장충동', '영등포본동', '정릉1동', '서교동', '시흥1동', '송파1동', '방배2동', '내곡동', '대림2동', '명일2동', '하계2동', '개봉3동', '보문동', '신당동', '도봉2동', '사당3동', '역삼2동', '장위3동', '전농1동', '원효로1동', '오금동', '방배본동', '홍제1동', '화곡4동', '구로5동', '화곡3동', '용강동', '중계4동', '북가좌2동', '합정동', '난향동', '화곡1동', '용답동', '행당1동', '홍은1동', '일원2동', '신월5동', '당산1동', '도봉1동', '북아현동', '송파2동', '장안2동', '서초1동', '신도림동', '염창동', '종로1·2·3·4가동', '증산동', '삼성1동', '영등포동', '문정2동', '사당1동', '월곡2동', '상계5동', '신정3동', '자양4동', '길동', '상계8동', '일원1동', '회기동', '신길1동', '구로4동', '창1동', '둔촌2동', '개포1동', '반포본동', '상계2동', '신길5동', '가락2동', '무악동', '청량리동', '화곡2동', '구로1동', '다산동', '목3동', '소공동', '수색동', '도화동', '발산1동', '사근동', '잠실2동', '방학3동', '시흥2동', '평창동', '답십리2동', '휘경2동', '월계1동', '화곡8동', '가락1동', '개포2동', '숭인1동', '성수2가3동', '관악구 신사동', '상일동', '광희동', '미아동', '가양2동', '진관동', '공덕동', '혜화동', '암사2동', '길음2동', '가양3동', '양평1동', '중앙동', '성수2가1동', '용문동', '마천2동', '이문1동', '신대방2동', '문래동', '일원본동', '도곡2동', '종암동', '당산2동', '오륜동', '번2동', '용신동', '우장산동', '상봉2동', '흑석동', '신길3동', '천호1동', '신당5동', '방화2동', '등촌3동', '반포2동', '압구정동', '여의동', '화곡본동', '보광동', '자양2동', '면목4동', '송천동', '갈현2동', '신월3동', '잠실6동', '창4동', '성산2동', '삼성동', '창신1동', '신정2동', '명동', '광장동', '쌍문4동', '응암1동', '신월1동', '동화동', '중화1동', '면목7동', '방화3동', '명일1동', '월계2동', '서초4동', '반포1동', '송정동', '신월7동', '가회동', '상암동', '신사1동', '신내1동', '청운효자동', '등촌1동', '우이동', '상봉1동', '중화2동', '중계1동', '구로2동', '대림3동', '제기동', '양재1동', '신림동', '신월4동', '창신3동', '이촌1동', '용산2가동', '한남동', '오류1동', '신정1동', '독산2동', '신길4동', '가락본동', '청담동', '청파동', '응암3동', '미성동', '사직동', '자양3동', '개봉1동', '연남동', '고척1동', '논현1동', '신수동', '인수동', '종로5·6가동', '홍제2동', '수궁동', '동선동', '정릉4동', '금호1가동', '인헌동', '가양1동', '묵1동', '번3동', '보라매동', '잠실7동', '시흥3동', '고덕1동', '수서동', '삼전동', '이태원2동', '수유3동', '양재2동', '창3동', '석관동', '세곡동', '구로3동', '상계1동', '망우본동', '성현동', '반포3동', '정릉3동', '고덕2동', '천호2동', '아현동', '마장동', '대치2동', '방배3동', '이태원1동', '구의1동', '삼각산동', '상계6·7동', '연희동', '장지동', '문정1동', '왕십리2동', '고척2동', '도곡1동', '성내3동', '부암동', '상도4동', '휘경1동', '방학2동', '녹번동', '석촌동', '자양1동', '역삼1동', '한강로동', '전농2동', '사당4동', '신정4동', '돈암2동', '대치4동', '대림1동', '효창동', '북가좌1동', '대흥동', '난곡동', '신정7동', '구의2동', '대방동', '옥수동', '화곡6동', '시흥4동', '방학1동', '후암동', '송중동', '삼청동', '중곡4동', '목4동', '상도1동', '신사2동', '상계9동', '행운동', '중곡3동', '이화동', '화양동', '갈현1동', '성내2동', '중곡2동', '시흥5동', '숭인2동', '논현2동', '청룡동', '하계1동', '충현동', '이촌2동', '신촌동', '중계2·3동', '성북동', '불광1동', '잠실본동', '월계3동', '거여2동', '군자동', '상도3동', '신정6동', '풍납2동', '쌍문1동', '방배4동', '서강동', '풍납1동', '남영동', '약수동', '암사1동', '방화1동', '홍은2동', '금호4가동', '삼양동', '방이1동', '상계3·4동', '을지로동', '장위1동', '창2동', '불광2동', '답십리1동', '개봉2동', '묵2동', '서원동', '신내2동', '천호3동', '독산3동', '수유2동', '독산4동', '월곡1동', '목2동', '창신2동', '낙성대동', '신길7동', '홍제3동', '독산1동', '위례동', '중계본동', '중곡1동', '장안1동', '성수1가2동', '장위2동', '안암동', '회현동', '구의3동', '서초3동', '성내1동', '조원동', '번1동', '역촌동', '잠원동', '황학동', '응봉동', '면목5동', '공릉2동', '거여1동', '구산동', '신원동', '망원2동', '둔촌1동', '마천1동', '길음1동', '상도2동', '면목3·8동'}

A에만 있는 값:
{'항동'}

B에만 있는 값:
set()

In [90]:
data_01.loc[data_01['행정동_코드_명'] == '항동', '행정동_코드_명'] = '오류2동'

In [94]:
set_a = set(data_01['행정동_코드_명'])
set_b = set(data_02['동별'])
common_values = set_a & set_b  # A와 B에 모두 있는 값
only_in_a = set_a - set_b  # A에만 있는 값
only_in_b = set_b - set_a  # B에만 있는 값

# 결과 출력
print("A와 B에 모두 있는 값:")
print(common_values)

print("\nA에만 있는 값:")
print(only_in_a)

print("\nB에만 있는 값:")
print(only_in_b)

A와 B에 모두 있는 값:
{'서림동', '신사동', '이문2동', '잠실3동', '대학동', '공항동', '신대방1동', '개포4동', '방이2동', '응암2동', '돈암1동', '공릉1동', '면목2동', '천연동', '청림동', '대조동', '등촌2동', '정릉2동', '원효로2동', '쌍문3동', '망원1동', '왕십리도선동', '성산1동', '신월6동', '필동', '반포4동', '오류2동', '남가좌1동', '금호2·3가동', '노량진1동', '암사3동', '창5동', '행당2동', '삼성2동', '가리봉동', '방배1동', '상계10동', '사당2동', '수유1동', '쌍문2동', '중림동', '망우3동', '삼선동', '도림동', '노량진2동', '면목본동', '성수1가1동', '은천동', '남현동', '잠실4동', '사당5동', '서빙고동', '남가좌2동', '교남동', '청구동', '강일동', '양평2동', '대치1동', '신월2동', '목5동', '서초2동', '가산동', '능동', '목1동', '신길6동', '염리동', '장충동', '영등포본동', '정릉1동', '서교동', '시흥1동', '송파1동', '방배2동', '내곡동', '대림2동', '명일2동', '하계2동', '개봉3동', '보문동', '신당동', '도봉2동', '사당3동', '역삼2동', '장위3동', '전농1동', '원효로1동', '오금동', '방배본동', '홍제1동', '화곡4동', '구로5동', '화곡3동', '용강동', '중계4동', '북가좌2동', '합정동', '난향동', '화곡1동', '용답동', '행당1동', '홍은1동', '일원2동', '신월5동', '당산1동', '도봉1동', '북아현동', '송파2동', '장안2동', '서초1동', '신도림동', '염창동', '종로1·2·3·4가동', '증산동', '삼성1동', '영등포동', '문정2동', '사당1동', '월곡2동', '상계5동', '신정3동', '자양4동', '길동', '상계8동', '일원1동', '회기동', '신길1동', '구로4동', '창1동', '둔촌2동', '개포1동', '반포본동', '상계2동', '신길5동', '가락2동', '무악동', '청량리동', '화곡2동', '구로1동', '다산동', '목3동', '소공동', '수색동', '도화동', '발산1동', '사근동', '잠실2동', '방학3동', '시흥2동', '평창동', '답십리2동', '휘경2동', '월계1동', '화곡8동', '가락1동', '개포2동', '숭인1동', '성수2가3동', '관악구 신사동', '상일동', '광희동', '미아동', '가양2동', '진관동', '공덕동', '혜화동', '암사2동', '길음2동', '가양3동', '양평1동', '중앙동', '성수2가1동', '용문동', '마천2동', '이문1동', '신대방2동', '문래동', '일원본동', '도곡2동', '종암동', '당산2동', '오륜동', '번2동', '용신동', '우장산동', '상봉2동', '흑석동', '신길3동', '천호1동', '신당5동', '방화2동', '등촌3동', '반포2동', '압구정동', '여의동', '화곡본동', '보광동', '자양2동', '면목4동', '송천동', '갈현2동', '신월3동', '잠실6동', '창4동', '성산2동', '삼성동', '창신1동', '신정2동', '명동', '광장동', '쌍문4동', '응암1동', '신월1동', '동화동', '중화1동', '면목7동', '방화3동', '명일1동', '월계2동', '서초4동', '반포1동', '송정동', '신월7동', '가회동', '상암동', '신사1동', '신내1동', '청운효자동', '등촌1동', '우이동', '상봉1동', '중화2동', '중계1동', '구로2동', '대림3동', '제기동', '양재1동', '신림동', '신월4동', '창신3동', '이촌1동', '용산2가동', '한남동', '오류1동', '신정1동', '독산2동', '신길4동', '가락본동', '청담동', '청파동', '응암3동', '미성동', '사직동', '자양3동', '개봉1동', '연남동', '고척1동', '논현1동', '신수동', '인수동', '종로5·6가동', '홍제2동', '수궁동', '동선동', '정릉4동', '금호1가동', '인헌동', '가양1동', '묵1동', '번3동', '보라매동', '잠실7동', '시흥3동', '고덕1동', '수서동', '삼전동', '이태원2동', '수유3동', '양재2동', '창3동', '석관동', '세곡동', '구로3동', '상계1동', '망우본동', '성현동', '반포3동', '정릉3동', '고덕2동', '천호2동', '아현동', '마장동', '대치2동', '방배3동', '이태원1동', '구의1동', '삼각산동', '상계6·7동', '연희동', '장지동', '문정1동', '왕십리2동', '고척2동', '도곡1동', '성내3동', '부암동', '상도4동', '휘경1동', '방학2동', '녹번동', '석촌동', '자양1동', '역삼1동', '한강로동', '전농2동', '사당4동', '신정4동', '돈암2동', '대치4동', '대림1동', '효창동', '북가좌1동', '대흥동', '난곡동', '신정7동', '구의2동', '대방동', '옥수동', '화곡6동', '시흥4동', '방학1동', '후암동', '송중동', '삼청동', '중곡4동', '목4동', '상도1동', '신사2동', '상계9동', '행운동', '중곡3동', '이화동', '화양동', '갈현1동', '성내2동', '중곡2동', '시흥5동', '숭인2동', '논현2동', '청룡동', '하계1동', '충현동', '이촌2동', '신촌동', '중계2·3동', '성북동', '불광1동', '잠실본동', '월계3동', '거여2동', '군자동', '상도3동', '신정6동', '풍납2동', '쌍문1동', '방배4동', '서강동', '풍납1동', '남영동', '약수동', '암사1동', '방화1동', '홍은2동', '금호4가동', '삼양동', '방이1동', '상계3·4동', '을지로동', '장위1동', '창2동', '불광2동', '답십리1동', '개봉2동', '묵2동', '서원동', '신내2동', '천호3동', '독산3동', '수유2동', '독산4동', '월곡1동', '목2동', '창신2동', '낙성대동', '신길7동', '홍제3동', '독산1동', '위례동', '중계본동', '중곡1동', '장안1동', '성수1가2동', '장위2동', '안암동', '회현동', '구의3동', '서초3동', '성내1동', '조원동', '번1동', '역촌동', '잠원동', '황학동', '응봉동', '면목5동', '공릉2동', '거여1동', '구산동', '신원동', '망원2동', '둔촌1동', '마천1동', '길음1동', '상도2동', '면목3·8동'}

A에만 있는 값:
set()

B에만 있는 값:
set()

In [97]:
data_01.columns

Index(['기준_년분기_코드', '행정동_코드', '행정동_코드_명', '서비스_업종_코드', '서비스_업종_코드_명', '점포_수',
       '유사_업종_점포_수', '개업_율', '개업_점포_수', '폐업_률', '폐업_점포_수', '프랜차이즈_점포_수'],
      dtype='object')