In [17]:
import pandas as pd

In [18]:
sales = pd.read_csv(r'D:\Work\project\project2\oos\Merged_Sales_data_v2.1.csv')
parking = pd.read_csv('parking_end.csv')
school = pd.read_csv('school_end.csv')
bus = pd.read_csv('bus_counts_end.csv')

In [19]:
def Data_Comparison(a, b, c):
    """
    a = 데이터A
    b = 데이터B
    c = 비교할컬럼
    """
    set_a = set(a[c])
    set_b = set(b[c])
    common_values = set_a & set_b  # A와 B에 모두 있는 값
    only_in_a = set_a - set_b  # A에만 있는 값
    only_in_b = set_b - set_a  # B에만 있는 값

    # 결과 출력
    print("A와 B에 모두 있는 값:")
    print(common_values)

    print("\nA에만 있는 값:")
    print(only_in_a)

    print("\nB에만 있는 값:")
    print(only_in_b)

In [20]:
Data_Comparison(sales, parking, '행정동')

A와 B에 모두 있는 값:
{'가락본동', '청운효자동', '일원본동', '합정동', '노량진2동', '월계3동', '금호4가동', '불광2동', '신월7동', '돈암1동', '구로2동', '수유3동', '가산동', '문정2동', '성산1동', '번1동', '등촌2동', '구로1동', '반포1동', '구로3동', '대치1동', '홍제1동', '응암1동', '사근동', '충현동', '흑석동', '남가좌1동', '시흥1동', '쌍문2동', '시흥2동', '서초4동', '신사2동', '중곡4동', '신촌동', '방배1동', '쌍문4동', '미아동', '오륜동', '용신동', '난곡동', '상봉1동', '창1동', '필동', '상도2동', '망원2동', '서원동', '구의1동', '송파1동', '가락1동', '양재1동', '중곡1동', '대조동', '논현2동', '중화2동', '방배4동', '행당2동', '상도3동', '신월5동', '우장산동', '상일동', '잠실6동', '방학3동', '자양1동', '신길6동', '삼청동', '노량진1동', '상계8동', '암사3동', '대흥동', '방화3동', '보라매동', '시흥4동', '문정1동', '응봉동', '금호1가동', '상계1동', '장지동', '청룡동', '신길4동', '시흥3동', '마장동', '청량리동', '쌍문3동', '창3동', '서초3동', '장위3동', '신길1동', '중앙동', '영등포동', '대림1동', '삼각산동', '중림동', '미성동', '석관동', '번2동', '숭인1동', '독산4동', '반포4동', '성수2가3동', '상봉2동', '신사1동', '논현1동', '신월6동', '신내2동', '정릉2동', '홍은1동', '고척1동', '천연동', '우이동', '용강동', '잠원동', '내곡동', '신길7동', '삼선동', '청구동', '도림동', '은천동', '낙성대동', '응암2동', '중계4동', '중계본동', '길음2동', '장안2동', '가락2동', '중화1동', '구산동', '중곡3동', '대치4동', '역삼2동', '원효로2동', '증산동', '서강동', '방이1동', '무악동', '방배3동', '독산1동', '연남동', '신정7동', '일원1동', '월곡2동', '홍제2동', '이문1동', '양재2동', '잠실4동', '신정3동', '여의동', '용답동', '중곡2동', '삼전동', '대림3동', '구의3동', '방화1동', '상계9동', '방배2동', '신원동', '가양2동', '서초1동', '성내1동', '망우본동', '왕십리2동', '용문동', '당산1동', '휘경2동', '상계5동', '북가좌2동', '연희동', '행운동', '개봉2동', '역삼1동', '창신2동', '방학2동', '신월4동', '창5동', '잠실7동', '개봉3동', '거여2동', '성수1가1동', '암사2동', '남가좌2동', '성북동', '답십리2동', '홍제3동', '도봉2동', '돈암2동', '북아현동', '도화동', '신당동', '장안1동', '풍납2동', '신정6동', '장위2동', '이문2동', '신월2동', '이촌2동', '성산2동', '수유2동', '아현동', '창4동', '화곡2동', '갈현1동', '화곡8동', '신림동', '도봉1동', '인헌동', '면목본동', '개포2동', '신월3동', '정릉1동', '신대방2동', '수궁동', '마천1동', '망우3동', '수서동', '청림동', '회기동', '응암3동', '사당4동', '성내3동', '명일2동', '일원2동', '가리봉동', '압구정동', '창신1동', '목2동', '사당2동', '왕십리도선동', '소공동', '한강로동', '동화동', '천호2동', '전농1동', '사당5동', '상도1동', '효창동', '갈현2동', '상도4동', '남현동', '녹번동', '홍은2동', '영등포본동', '안암동', '신정4동', '화곡6동', '월계2동', '공릉1동', '풍납1동', '양평2동', '군자동', '방배본동', '공릉2동', '면목2동', '상계10동', '이화동', '자양2동', '사당3동', '강일동', '역촌동', '자양4동', '목1동', '장위1동', '하계1동', '고덕2동', '휘경1동', '광장동', '잠실본동', '행당1동', '도곡2동', '신길5동', '보문동', '독산2동', '성내2동', '길동', '당산2동', '청파동', '망원1동', '전농2동', '신월1동', '평창동', '대림2동', '수유1동', '등촌3동', '북가좌1동', '명일1동', '화곡4동', '위례동', '면목5동', '화양동', '사직동', '동선동', '숭인2동', '황학동', '제기동', '창2동', '성수1가2동', '쌍문1동', '잠실2동', '교남동', '대치2동', '방학1동', '오류2동', '회현동', '반포본동', '서초2동', '상암동', '성현동', '능동', '오금동', '발산1동', '다산동', '중계1동', '이촌1동', '잠실3동', '남영동', '문래동', '신정2동', '한남동', '송천동', '상계2동', '답십리1동', '삼성동', '독산3동', '불광1동', '공덕동', '묵1동', '자양3동', '신당5동', '청담동', '정릉4동', '목5동', '조원동', '염창동', '마천2동', '화곡1동', '묵2동', '을지로동', '부암동', '가양3동', '종암동', '화곡3동', '송파2동', '양평1동', '하계2동', '구로4동', '인수동', '구의2동', '보광동', '고척2동', '목4동', '혜화동', '후암동', '면목7동', '면목4동', '등촌1동', '난향동', '서빙고동', '오류1동', '수색동', '반포3동', '천호3동', '옥수동', '대학동', '가양1동', '목3동', '세곡동', '사당1동', '고덕1동', '신정1동', '신도림동', '성수2가1동', '둔촌2동', '신사동', '구로5동', '정릉3동', '송정동', '도곡1동', '화곡본동', '거여1동', '방이2동', '원효로1동', '신길3동', '신대방1동', '석촌동', '개봉1동', '대방동', '개포1동', '명동', '창신3동', '이태원2동', '가회동', '광희동', '약수동', '천호1동', '송중동', '월계1동', '길음1동', '공항동', '서림동', '개포4동', '진관동', '삼양동', '시흥5동', '염리동', '용산2가동', '신수동', '번3동', '삼성2동', '반포2동', '삼성1동', '장충동', '월곡1동', '이태원1동', '방화2동', '신내1동', '암사1동', '서교동'}

A에만 있는 값:
{'면목3·8동', '종로1·2·3·4가동', '상계3·4동', '금호2·3가동', '중계2·3동', '관악구 신사동', '상계6·7동', '종로5·6가동'}

B에만 있는 값:
{'상계3.4동', '종로1.2.3.4가동', '항동', '은평구', '종로5.6가동', '개포3동', '둔촌1동', '금호2.3가동', '면목3.8동', '중계2.3동', '상일2동', '상계6.7동', '관악신사동', '양천구', '상일1동'}

parking data 동 삭제 및 전처리

In [21]:
# 행정동 컬럼에서 . 을 ·으로 변경
parking["행정동"] = parking["행정동"].str.replace(".", "·", )

In [22]:
parking["행정동"] = parking["행정동"].str.replace("관악신사동", "관악구 신사동", )
parking["행정동"] = parking["행정동"].str.replace(r"\b항동\b", "오류2동", regex=True)
parking["행정동"] = parking["행정동"].str.replace("개포3동", "일원2동", )
parking["행정동"] = parking["행정동"].str.replace("상일1동", "상일동", )
parking["행정동"] = parking["행정동"].str.replace("상일2동", "강일동", )

In [23]:
parking = parking[parking["행정동"] != ("은평구")]
parking = parking[parking["행정동"] != ("둔촌1동")]
parking = parking[parking["행정동"] != ("양천구")]

In [24]:
Data_Comparison(sales, parking, '행정동')

A와 B에 모두 있는 값:
{'가락본동', '일원본동', '청운효자동', '합정동', '노량진2동', '월계3동', '금호4가동', '불광2동', '신월7동', '돈암1동', '구로2동', '수유3동', '가산동', '문정2동', '성산1동', '번1동', '등촌2동', '구로1동', '반포1동', '구로3동', '대치1동', '사근동', '응암1동', '홍제1동', '충현동', '흑석동', '남가좌1동', '시흥1동', '중계2·3동', '쌍문2동', '서초4동', '시흥2동', '신사2동', '중곡4동', '신촌동', '방배1동', '쌍문4동', '미아동', '오륜동', '용신동', '난곡동', '상봉1동', '창1동', '필동', '상도2동', '망원2동', '서원동', '구의1동', '송파1동', '가락1동', '양재1동', '중곡1동', '대조동', '논현2동', '중화2동', '방배4동', '행당2동', '상도3동', '신월5동', '우장산동', '상일동', '잠실6동', '방학3동', '자양1동', '신길6동', '삼청동', '노량진1동', '상계8동', '암사3동', '면목3·8동', '대흥동', '방화3동', '보라매동', '문정1동', '시흥4동', '응봉동', '금호1가동', '상계1동', '장지동', '청룡동', '신길4동', '시흥3동', '마장동', '청량리동', '쌍문3동', '창3동', '서초3동', '장위3동', '신길1동', '중앙동', '영등포동', '대림1동', '삼각산동', '중림동', '미성동', '석관동', '번2동', '숭인1동', '독산4동', '반포4동', '상봉2동', '성수2가3동', '신사1동', '논현1동', '신월6동', '신내2동', '정릉2동', '홍은1동', '고척1동', '천연동', '용강동', '우이동', '잠원동', '내곡동', '신길7동', '삼선동', '청구동', '종로5·6가동', '도림동', '은천동', '낙성대동', '응암2동', '중계4동', '중계본동', '길음2동', '장안2동', '가락2동', '중화1동', '구산동', '중곡3동', '대치4동', '역삼2동', '원효로2동', '증산동', '서강동', '무악동', '방이1동', '방배3동', '독산1동', '연남동', '신정7동', '일원1동', '월곡2동', '홍제2동', '이문1동', '양재2동', '잠실4동', '신정3동', '여의동', '용답동', '중곡2동', '삼전동', '대림3동', '구의3동', '방화1동', '상계9동', '금호2·3가동', '방배2동', '가양2동', '신원동', '서초1동', '성내1동', '망우본동', '왕십리2동', '용문동', '당산1동', '상계5동', '휘경2동', '북가좌2동', '연희동', '행운동', '개봉2동', '역삼1동', '창신2동', '방학2동', '신월4동', '종로1·2·3·4가동', '창5동', '잠실7동', '개봉3동', '거여2동', '성수1가1동', '암사2동', '남가좌2동', '북아현동', '답십리2동', '성북동', '도봉2동', '돈암2동', '홍제3동', '도화동', '신당동', '장안1동', '풍납2동', '신정6동', '장위2동', '이문2동', '신월2동', '이촌2동', '성산2동', '수유2동', '아현동', '창4동', '화곡2동', '갈현1동', '신림동', '화곡8동', '도봉1동', '인헌동', '면목본동', '개포2동', '신월3동', '정릉1동', '신대방2동', '마천1동', '수궁동', '망우3동', '수서동', '청림동', '회기동', '관악구 신사동', '응암3동', '사당4동', '명일2동', '성내3동', '일원2동', '가리봉동', '압구정동', '창신1동', '목2동', '사당2동', '왕십리도선동', '소공동', '한강로동', '동화동', '천호2동', '사당5동', '전농1동', '갈현2동', '상도1동', '효창동', '상도4동', '남현동', '녹번동', '홍은2동', '영등포본동', '안암동', '신정4동', '화곡6동', '월계2동', '공릉1동', '풍납1동', '양평2동', '군자동', '방배본동', '공릉2동', '면목2동', '상계10동', '이화동', '자양2동', '사당3동', '강일동', '역촌동', '목1동', '자양4동', '장위1동', '하계1동', '고덕2동', '휘경1동', '광장동', '잠실본동', '행당1동', '도곡2동', '신길5동', '보문동', '독산2동', '성내2동', '길동', '당산2동', '청파동', '망원1동', '전농2동', '신월1동', '평창동', '대림2동', '수유1동', '등촌3동', '북가좌1동', '명일1동', '화곡4동', '위례동', '면목5동', '화양동', '사직동', '동선동', '숭인2동', '제기동', '창2동', '황학동', '성수1가2동', '쌍문1동', '잠실2동', '교남동', '대치2동', '방학1동', '상계3·4동', '오류2동', '회현동', '반포본동', '서초2동', '상암동', '성현동', '능동', '오금동', '다산동', '발산1동', '중계1동', '이촌1동', '잠실3동', '남영동', '문래동', '송천동', '신정2동', '한남동', '상계2동', '답십리1동', '삼성동', '독산3동', '불광1동', '상계6·7동', '공덕동', '묵1동', '자양3동', '신당5동', '청담동', '목5동', '정릉4동', '조원동', '마천2동', '염창동', '화곡1동', '묵2동', '을지로동', '부암동', '가양3동', '종암동', '화곡3동', '송파2동', '양평1동', '하계2동', '구로4동', '인수동', '구의2동', '보광동', '고척2동', '목4동', '혜화동', '후암동', '면목7동', '면목4동', '등촌1동', '난향동', '서빙고동', '오류1동', '수색동', '반포3동', '천호3동', '옥수동', '대학동', '가양1동', '목3동', '세곡동', '사당1동', '고덕1동', '신정1동', '신도림동', '성수2가1동', '둔촌2동', '신사동', '구로5동', '정릉3동', '송정동', '도곡1동', '화곡본동', '거여1동', '방이2동', '원효로1동', '신길3동', '신대방1동', '석촌동', '개봉1동', '대방동', '개포1동', '명동', '창신3동', '이태원2동', '가회동', '광희동', '약수동', '천호1동', '송중동', '월계1동', '길음1동', '공항동', '개포4동', '서림동', '진관동', '삼양동', '시흥5동', '염리동', '용산2가동', '번3동', '신수동', '삼성2동', '반포2동', '삼성1동', '장충동', '월곡1동', '이태원1동', '방화2동', '신내1동', '암사1동', '서교동'}

A에만 있는 값:
set()

B에만 있는 값:
set()

school & bus 데이터 동 삭제 및 전처리

In [25]:
school["행정동"] = school["행정동"].apply(lambda v: v if "관악구 신사동" in v else v.split()[-1])
bus["행정동"] = bus["행정동"].apply(lambda v: v if "관악구 신사동" in v else v.split()[-1])

In [26]:
school["행정동"] = school["행정동"].str.replace("서울특별시 관악구 신사동", "관악구 신사동", )
school = school[school["행정동"] != ("둔촌1동")]
bus["행정동"] = bus["행정동"].str.replace("서울특별시 관악구 신사동", "관악구 신사동", )
bus = bus[bus["행정동"] != ("둔촌1동")]

In [27]:
Data_Comparison(sales, school, '행정동')

A와 B에 모두 있는 값:
{'가락본동', '일원본동', '청운효자동', '합정동', '월계3동', '금호4가동', '불광2동', '신월7동', '돈암1동', '구로2동', '수유3동', '문정2동', '성산1동', '번1동', '등촌2동', '구로1동', '반포1동', '구로3동', '대치1동', '홍제1동', '사근동', '응암1동', '충현동', '흑석동', '시흥1동', '남가좌1동', '중계2·3동', '쌍문2동', '시흥2동', '서초4동', '신사2동', '중곡4동', '신촌동', '방배1동', '쌍문4동', '미아동', '오륜동', '용신동', '난곡동', '상봉1동', '창1동', '필동', '상도2동', '망원2동', '서원동', '구의1동', '송파1동', '가락1동', '양재1동', '대조동', '논현2동', '방배4동', '행당2동', '상도3동', '신월5동', '우장산동', '상일동', '잠실6동', '방학3동', '자양1동', '신길6동', '삼청동', '상계8동', '노량진1동', '암사3동', '면목3·8동', '대흥동', '방화3동', '보라매동', '시흥4동', '응봉동', '문정1동', '금호1가동', '상계1동', '장지동', '청룡동', '신길4동', '시흥3동', '마장동', '청량리동', '쌍문3동', '창3동', '서초3동', '장위3동', '신길1동', '중앙동', '영등포동', '대림1동', '삼각산동', '중림동', '미성동', '석관동', '번2동', '독산4동', '반포4동', '성수2가3동', '신사1동', '논현1동', '신월6동', '정릉2동', '신내2동', '홍은1동', '고척1동', '천연동', '우이동', '용강동', '잠원동', '내곡동', '신길7동', '삼선동', '청구동', '종로5·6가동', '은천동', '낙성대동', '중계4동', '응암2동', '중계본동', '장안2동', '가락2동', '중화1동', '구산동', '중곡3동', '대치4동', '역삼2동', '원효로2동', '증산동', '서강동', '방이1동', '무악동', '방배3동', '독산1동', '연남동', '신정7동', '일원1동', '월곡2동', '양재2동', '잠실4동', '신정3동', '여의동', '용답동', '중곡2동', '삼전동', '대림3동', '구의3동', '방화1동', '상계9동', '금호2·3가동', '방배2동', '가양2동', '신원동', '서초1동', '성내1동', '망우본동', '왕십리2동', '상계5동', '휘경2동', '연희동', '행운동', '역삼1동', '방학2동', '신월4동', '종로1·2·3·4가동', '창5동', '잠실7동', '개봉3동', '거여2동', '성수1가1동', '암사2동', '남가좌2동', '성북동', '답십리2동', '북아현동', '도봉2동', '홍제3동', '돈암2동', '도화동', '신당동', '장안1동', '풍납2동', '신정6동', '장위2동', '이문2동', '신월2동', '성산2동', '아현동', '창4동', '화곡2동', '도봉1동', '인헌동', '면목본동', '개포2동', '신월3동', '신대방2동', '수궁동', '마천1동', '망우3동', '수서동', '회기동', '관악구 신사동', '응암3동', '사당4동', '명일2동', '일원2동', '가리봉동', '압구정동', '창신1동', '목2동', '사당2동', '왕십리도선동', '소공동', '한강로동', '동화동', '천호2동', '전농1동', '사당5동', '상도1동', '효창동', '갈현2동', '상도4동', '남현동', '녹번동', '홍은2동', '영등포본동', '안암동', '신정4동', '화곡6동', '월계2동', '공릉1동', '풍납1동', '양평2동', '군자동', '방배본동', '공릉2동', '면목2동', '상계10동', '이화동', '자양2동', '사당3동', '강일동', '역촌동', '자양4동', '목1동', '장위1동', '하계1동', '고덕2동', '광장동', '잠실본동', '행당1동', '도곡2동', '신길5동', '보문동', '독산2동', '길동', '당산2동', '청파동', '전농2동', '평창동', '대림2동', '수유1동', '등촌3동', '북가좌1동', '명일1동', '화곡4동', '위례동', '화양동', '사직동', '동선동', '숭인2동', '창2동', '제기동', '성수1가2동', '쌍문1동', '잠실2동', '교남동', '대치2동', '방학1동', '상계3·4동', '오류2동', '반포본동', '서초2동', '성현동', '상암동', '능동', '오금동', '발산1동', '다산동', '중계1동', '이촌1동', '잠실3동', '송천동', '신정2동', '문래동', '한남동', '상계2동', '답십리1동', '삼성동', '독산3동', '불광1동', '상계6·7동', '공덕동', '묵1동', '자양3동', '신당5동', '청담동', '정릉4동', '목5동', '조원동', '염창동', '마천2동', '화곡1동', '묵2동', '부암동', '가양3동', '종암동', '송파2동', '양평1동', '하계2동', '구로4동', '인수동', '구의2동', '보광동', '고척2동', '목4동', '혜화동', '후암동', '면목7동', '면목4동', '등촌1동', '난향동', '서빙고동', '오류1동', '수색동', '반포3동', '천호3동', '옥수동', '대학동', '가양1동', '목3동', '세곡동', '사당1동', '고덕1동', '신정1동', '신도림동', '성수2가1동', '둔촌2동', '신사동', '구로5동', '정릉3동', '송정동', '도곡1동', '화곡본동', '거여1동', '방이2동', '원효로1동', '신길3동', '신대방1동', '석촌동', '개봉1동', '대방동', '개포1동', '명동', '창신3동', '이태원2동', '가회동', '광희동', '천호1동', '송중동', '월계1동', '길음1동', '공항동', '개포4동', '서림동', '진관동', '삼양동', '시흥5동', '염리동', '용산2가동', '번3동', '신수동', '삼성2동', '반포2동', '삼성1동', '장충동', '월곡1동', '이태원1동', '방화2동', '신내1동', '암사1동', '서교동'}

A에만 있는 값:
{'숭인1동', '남영동', '청림동', '중곡1동', '상봉2동', '약수동', '노량진2동', '면목5동', '중화2동', '휘경1동', '이촌2동', '수유2동', '황학동', '성내3동', '용문동', '당산1동', '갈현1동', '화곡8동', '신림동', '가산동', '회현동', '북가좌2동', '성내2동', '을지로동', '개봉2동', '창신2동', '홍제2동', '이문1동', '정릉1동', '도림동', '망원1동', '길음2동', '화곡3동', '신월1동'}

B에만 있는 값:
set()

In [28]:
Data_Comparison(sales, bus, '행정동')

A와 B에 모두 있는 값:
{'가락본동', '일원본동', '청운효자동', '합정동', '노량진2동', '월계3동', '금호4가동', '불광2동', '신월7동', '돈암1동', '구로2동', '수유3동', '가산동', '문정2동', '성산1동', '번1동', '등촌2동', '구로1동', '반포1동', '구로3동', '대치1동', '홍제1동', '사근동', '응암1동', '충현동', '흑석동', '시흥1동', '남가좌1동', '중계2·3동', '쌍문2동', '시흥2동', '서초4동', '신사2동', '중곡4동', '신촌동', '방배1동', '쌍문4동', '미아동', '오륜동', '용신동', '난곡동', '상봉1동', '창1동', '필동', '상도2동', '망원2동', '서원동', '구의1동', '송파1동', '가락1동', '양재1동', '중곡1동', '대조동', '논현2동', '중화2동', '방배4동', '행당2동', '상도3동', '신월5동', '우장산동', '상일동', '잠실6동', '방학3동', '자양1동', '신길6동', '삼청동', '상계8동', '노량진1동', '암사3동', '면목3·8동', '대흥동', '방화3동', '보라매동', '시흥4동', '응봉동', '문정1동', '금호1가동', '상계1동', '장지동', '청룡동', '신길4동', '시흥3동', '마장동', '청량리동', '쌍문3동', '창3동', '서초3동', '장위3동', '신길1동', '중앙동', '영등포동', '대림1동', '삼각산동', '중림동', '미성동', '석관동', '번2동', '숭인1동', '독산4동', '반포4동', '성수2가3동', '상봉2동', '신사1동', '논현1동', '신월6동', '정릉2동', '신내2동', '홍은1동', '고척1동', '천연동', '우이동', '용강동', '잠원동', '내곡동', '신길7동', '삼선동', '청구동', '종로5·6가동', '도림동', '은천동', '낙성대동', '중계4동', '응암2동', '중계본동', '길음2동', '장안2동', '가락2동', '중화1동', '구산동', '중곡3동', '대치4동', '역삼2동', '원효로2동', '증산동', '서강동', '방이1동', '무악동', '방배3동', '독산1동', '연남동', '신정7동', '일원1동', '월곡2동', '홍제2동', '이문1동', '양재2동', '잠실4동', '신정3동', '여의동', '용답동', '중곡2동', '삼전동', '대림3동', '구의3동', '방화1동', '상계9동', '금호2·3가동', '방배2동', '가양2동', '신원동', '서초1동', '성내1동', '망우본동', '왕십리2동', '용문동', '당산1동', '상계5동', '휘경2동', '북가좌2동', '연희동', '행운동', '역삼1동', '개봉2동', '창신2동', '방학2동', '신월4동', '종로1·2·3·4가동', '창5동', '잠실7동', '개봉3동', '거여2동', '성수1가1동', '암사2동', '남가좌2동', '성북동', '답십리2동', '북아현동', '도봉2동', '홍제3동', '돈암2동', '도화동', '신당동', '장안1동', '풍납2동', '신정6동', '장위2동', '이문2동', '신월2동', '이촌2동', '성산2동', '수유2동', '아현동', '창4동', '화곡2동', '갈현1동', '화곡8동', '신림동', '도봉1동', '인헌동', '면목본동', '개포2동', '신월3동', '정릉1동', '신대방2동', '수궁동', '마천1동', '망우3동', '수서동', '청림동', '회기동', '관악구 신사동', '응암3동', '사당4동', '명일2동', '성내3동', '일원2동', '가리봉동', '압구정동', '창신1동', '목2동', '사당2동', '왕십리도선동', '소공동', '한강로동', '동화동', '천호2동', '전농1동', '사당5동', '상도1동', '효창동', '갈현2동', '상도4동', '남현동', '녹번동', '홍은2동', '영등포본동', '안암동', '신정4동', '화곡6동', '월계2동', '공릉1동', '풍납1동', '양평2동', '군자동', '방배본동', '공릉2동', '면목2동', '상계10동', '이화동', '자양2동', '사당3동', '강일동', '역촌동', '자양4동', '목1동', '장위1동', '하계1동', '고덕2동', '휘경1동', '광장동', '잠실본동', '행당1동', '도곡2동', '신길5동', '보문동', '독산2동', '성내2동', '길동', '당산2동', '청파동', '망원1동', '전농2동', '신월1동', '평창동', '대림2동', '수유1동', '등촌3동', '북가좌1동', '명일1동', '화곡4동', '위례동', '면목5동', '화양동', '사직동', '동선동', '숭인2동', '창2동', '제기동', '황학동', '성수1가2동', '쌍문1동', '잠실2동', '교남동', '대치2동', '방학1동', '상계3·4동', '오류2동', '회현동', '반포본동', '서초2동', '성현동', '상암동', '능동', '오금동', '발산1동', '다산동', '중계1동', '이촌1동', '잠실3동', '남영동', '송천동', '신정2동', '문래동', '한남동', '상계2동', '답십리1동', '삼성동', '독산3동', '불광1동', '상계6·7동', '공덕동', '묵1동', '자양3동', '신당5동', '청담동', '정릉4동', '목5동', '조원동', '염창동', '마천2동', '화곡1동', '묵2동', '을지로동', '부암동', '가양3동', '종암동', '화곡3동', '송파2동', '양평1동', '하계2동', '구로4동', '인수동', '구의2동', '보광동', '고척2동', '목4동', '혜화동', '후암동', '면목7동', '면목4동', '등촌1동', '난향동', '서빙고동', '오류1동', '수색동', '반포3동', '천호3동', '옥수동', '대학동', '가양1동', '목3동', '세곡동', '사당1동', '고덕1동', '신정1동', '신도림동', '성수2가1동', '둔촌2동', '신사동', '구로5동', '정릉3동', '송정동', '도곡1동', '화곡본동', '거여1동', '방이2동', '원효로1동', '신길3동', '신대방1동', '석촌동', '개봉1동', '대방동', '개포1동', '명동', '창신3동', '이태원2동', '가회동', '광희동', '약수동', '천호1동', '송중동', '월계1동', '길음1동', '공항동', '개포4동', '서림동', '진관동', '삼양동', '시흥5동', '염리동', '용산2가동', '번3동', '신수동', '삼성2동', '반포2동', '삼성1동', '장충동', '월곡1동', '이태원1동', '방화2동', '신내1동', '암사1동', '서교동'}

A에만 있는 값:
set()

B에만 있는 값:
set()

모든 데이터 merged_sales 데이터에 병합

In [29]:
from functools import reduce
merged_df = reduce(lambda x,y: pd.merge(x,y, on=['행정동', '년분기'], how="outer"), [sales, parking, school, bus])

In [30]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374581 entries, 0 to 374580
Data columns (total 17 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   년분기        374581 non-null  int64
 1   행정동_코드     374581 non-null  int64
 2   행정동        374581 non-null  object
 3   업종명        374581 non-null  object
 4   월매출        374581 non-null  int64
 5   주중매출       374581 non-null  int64
 6   주말매출       374581 non-null  int64
 7   인구수        374581 non-null  int64
 8   점포수        374581 non-null  int64
 9   지역생활인구     374581 non-null  int64
 10  장기외국인      374581 non-null  int64
 11  단기외국인      374581 non-null  int64
 12  주차장면적(면)   374581 non-null  float64
 13  주차장개수(개소)  374581 non-null  float64
 14  학교수        314052 non-null  float64
 15  학생수        314052 non-null  float64
 16  버스정류장수     374581 non-null  int64
dtypes: float64(4), int64(11), object(2)
memory usage: 48.6+ MB

빈 데이터는 NAN값 확인

In [31]:
a = merged_df[merged_df['행정동'] == "관악구 신사동"]
a.head(3)

,년분기,행정동_코드,행정동,업종명,월매출,주중매출,주말매출,인구수,점포수,지역생활인구,장기외국인,단기외국인,주차장면적(면),주차장개수(개소),학교수,학생수,버스정류장수
25928,20191,11620685,관악구 신사동,인테리어,14987007,14987007,0,17761,20,545980,63742,4391,6704.0,1883.0,1.0,528.0,18
25929,20191,11620685,관악구 신사동,커피-음료,120861528,79647980,41213548,17761,13,545980,63742,4391,6704.0,1883.0,1.0,528.0,18
25930,20191,11620685,관악구 신사동,안경,440606957,267723866,172883091,17761,2,545980,63742,4391,6704.0,1883.0,1.0,528.0,18

In [32]:
a = merged_df[merged_df['행정동'] == "당산1동"]
a.head(3)

,년분기,행정동_코드,행정동,업종명,월매출,주중매출,주말매출,인구수,점포수,지역생활인구,장기외국인,단기외국인,주차장면적(면),주차장개수(개소),학교수,학생수,버스정류장수
58601,20191,11560550,당산1동,커피-음료,1003725278,838922716,164802562,21400,55,588995,22215,2295,9622.0,376.0,NaN,NaN,19
58602,20191,11560550,당산1동,수산물판매,132480389,114614587,17865802,21400,12,588995,22215,2295,9622.0,376.0,NaN,NaN,19
58603,20191,11560550,당산1동,부동산중개업,25868958,25868958,0,21400,105,588995,22215,2295,9622.0,376.0,NaN,NaN,19

In [34]:
merged_df[['학교수', '학생수']] = merged_df[['학교수', '학생수']].fillna(0)

In [36]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374581 entries, 0 to 374580
Data columns (total 17 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   년분기        374581 non-null  int64
 1   행정동_코드     374581 non-null  int64
 2   행정동        374581 non-null  object
 3   업종명        374581 non-null  object
 4   월매출        374581 non-null  int64
 5   주중매출       374581 non-null  int64
 6   주말매출       374581 non-null  int64
 7   인구수        374581 non-null  int64
 8   점포수        374581 non-null  int64
 9   지역생활인구     374581 non-null  int64
 10  장기외국인      374581 non-null  int64
 11  단기외국인      374581 non-null  int64
 12  주차장면적(면)   374581 non-null  float64
 13  주차장개수(개소)  374581 non-null  float64
 14  학교수        374581 non-null  float64
 15  학생수        374581 non-null  float64
 16  버스정류장수     374581 non-null  int64
dtypes: float64(4), int64(11), object(2)
memory usage: 48.6+ MB

In [ ]:
#merged_df.to_csv("Merged_Sales_data_v2.2.csv", index=False)