데이터 확인 및 전처리<br>
데이터 저장 컬럼 주석처리

In [19]:
import pandas as pd

In [20]:
dong = pd.read_csv(r'D:\Work\project\project2\oos\data\거주인구\Resident_Population_Dong423.csv')

data = pd.read_csv('sales_2023,2024.csv')

In [21]:
data.info()
print('년분기 갯수 : ', data['기준_년분기_코드'].nunique())
print('업종명 갯수 : ', data['서비스_업종_코드_명'].nunique())
print('행정동 갯수 : ', data['행정동_코드_명'].nunique())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101139 entries, 0 to 101138
Data columns (total 53 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   기준_년분기_코드        101139 non-null  int64
 1   행정동_코드           101139 non-null  int64
 2   행정동_코드_명         101139 non-null  object
 3   서비스_업종_코드        101139 non-null  object
 4   서비스_업종_코드_명      101139 non-null  object
 5   당월_매출_금액         101139 non-null  int64
 6   당월_매출_건수         101139 non-null  int64
 7   주중_매출_금액         101139 non-null  int64
 8   주말_매출_금액         101139 non-null  int64
 9   월요일_매출_금액        101139 non-null  int64
 10  화요일_매출_금액        101139 non-null  int64
 11  수요일_매출_금액        101139 non-null  int64
 12  목요일_매출_금액        101139 non-null  int64
 13  금요일_매출_금액        101139 non-null  int64
 14  토요일_매출_금액        101139 non-null  int64
 15  일요일_매출_금액        101139 non-null  int64
 16  시간대_00~06_매출_금액  101139 non-null  int64
 17  시간대_06~11_매출_금액  101139 non-null  int64
 18  시간대_11~14_매출_금액  101139 non-null  int64
 19  시간대_14~17_매출_금액  101139 non-null  int64
 20  시간대_17~21_매출_금액  101139 non-null  int64
 21  시간대_21~24_매출_금액  101139 non-null  int64
 22  남성_매출_금액         101139 non-null  int64
 23  여성_매출_금액         101139 non-null  int64
 24  연령대_10_매출_금액     101139 non-null  int64
 25  연령대_20_매출_금액     101139 non-null  int64
 26  연령대_30_매출_금액     101139 non-null  int64
 27  연령대_40_매출_금액     101139 non-null  int64
 28  연령대_50_매출_금액     101139 non-null  int64
 29  연령대_60_이상_매출_금액  101139 non-null  int64
 30  주중_매출_건수         101139 non-null  int64
 31  주말_매출_건수         101139 non-null  int64
 32  월요일_매출_건수        101139 non-null  int64
 33  화요일_매출_건수        101139 non-null  int64
 34  수요일_매출_건수        101139 non-null  int64
 35  목요일_매출_건수        101139 non-null  int64
 36  금요일_매출_건수        101139 non-null  int64
 37  토요일_매출_건수        101139 non-null  int64
 38  일요일_매출_건수        101139 non-null  int64
 39  시간대_건수~06_매출_건수  101139 non-null  int64
 40  시간대_건수~11_매출_건수  101139 non-null  int64
 41  시간대_건수~14_매출_건수  101139 non-null  int64
 42  시간대_건수~17_매출_건수  101139 non-null  int64
 43  시간대_건수~21_매출_건수  101139 non-null  int64
 44  시간대_건수~24_매출_건수  101139 non-null  int64
 45  남성_매출_건수         101139 non-null  int64
 46  여성_매출_건수         101139 non-null  int64
 47  연령대_10_매출_건수     101139 non-null  int64
 48  연령대_20_매출_건수     101139 non-null  int64
 49  연령대_30_매출_건수     101139 non-null  int64
 50  연령대_40_매출_건수     101139 non-null  int64
 51  연령대_50_매출_건수     101139 non-null  int64
 52  연령대_60_이상_매출_건수  101139 non-null  int64
dtypes: int64(50), object(3)
memory usage: 40.9+ MB
년분기 갯수 :  6
업종명 갯수 :  63
행정동 갯수 :  423

In [22]:
col = ['기준_년분기_코드', '행정동_코드', '행정동_코드_명', '서비스_업종_코드_명',
       '당월_매출_금액', '주중_매출_금액', '주말_매출_금액', '월요일_매출_금액',
       '화요일_매출_금액', '수요일_매출_금액', '목요일_매출_금액', '금요일_매출_금액', '토요일_매출_금액',
       '일요일_매출_금액', '시간대_00~06_매출_금액', '시간대_06~11_매출_금액', '시간대_11~14_매출_금액',
       '시간대_14~17_매출_금액', '시간대_17~21_매출_금액', '시간대_21~24_매출_금액', '남성_매출_금액',
       '여성_매출_금액', '연령대_10_매출_금액', '연령대_20_매출_금액', '연령대_30_매출_금액',
       '연령대_40_매출_금액', '연령대_50_매출_금액', '연령대_60_이상_매출_금액']

data = data[col]

In [23]:
col_name = ['년분기', '행정동_코드', '행정동', '업종명', '월매출',
       '주중매출', '주말매출', '월요일', '화요일', '수요일','목요일', '금요일', '토요일', '일요일',
       '0006','0611', '1114', '1417', '1721', '2124',
       '남성', '여성',
       'Age_10', 'Age_20', 'Age_30', 'Age_40','Age_50', 'Age_60_to_end']

data.columns = col_name

In [24]:
data.loc[data['행정동_코드'] == 11620685, '행정동'] = '관악구 신사동'
data.loc[data['행정동'] == "항동", '행정동'] = '오류2동'
data['행정동'] = data['행정동'].str.replace('?', '·', regex=False)

In [25]:
set_a = set(data['행정동'])
set_b = set(dong['행정동'])
common_values = set_a & set_b  # A와 B에 모두 있는 값
only_in_a = set_a - set_b  # A에만 있는 값
only_in_b = set_b - set_a  # B에만 있는 값

# 결과 출력
print("A와 B에 모두 있는 값:")
print(common_values)

print("\nA에만 있는 값:")
print(only_in_a)

print("\nB에만 있는 값:")
print(only_in_b)

A와 B에 모두 있는 값:
{'창3동', '사당2동', '갈현1동', '풍납1동', '위례동', '방이2동', '답십리2동', '잠원동', '신정6동', '장지동', '전농2동', '신월7동', '홍제1동', '면목2동', '수유2동', '묵2동', '이촌1동', '행당2동', '잠실2동', '돈암2동', '역촌동', '쌍문2동', '홍제2동', '송파2동', '금호4가동', '대조동', '보광동', '고덕1동', '보라매동', '숭인2동', '삼전동', '효창동', '개봉3동', '정릉3동', '이문2동', '중곡3동', '옥수동', '장위1동', '평창동', '종로1·2·3·4가동', '중계4동', '자양4동', '숭인1동', '구로2동', '등촌2동', '신월6동', '성내2동', '신당동', '서초2동', '반포4동', '영등포동', '구로5동', '인헌동', '자양2동', '흑석동', '독산3동', '우장산동', '신길6동', '중계2·3동', '등촌3동', '북아현동', '양평2동', '동화동', '응암3동', '홍은1동', '원효로1동', '목2동', '녹번동', '신도림동', '약수동', '성현동', '고덕2동', '방화2동', '대림1동', '삼청동', '신수동', '신대방2동', '영등포본동', '망우3동', '불광2동', '서교동', '혜화동', '개봉2동', '군자동', '등촌1동', '원효로2동', '방화1동', '방이1동', '잠실4동', '신촌동', '우이동', '월계1동', '여의동', '역삼2동', '묵1동', '쌍문3동', '청량리동', '삼각산동', '한남동', '청운효자동', '자양3동', '중곡2동', '행당1동', '사당5동', '북가좌1동', '서빙고동', '시흥1동', '삼선동', '하계2동', '반포3동', '미아동', '마장동', '구산동', '은천동', '신대방1동', '부암동', '도봉1동', '반포본동', '신사동', '신길7동', '신내2동', '암사2동', '목5동', '가산동', '사당4동', '면목7동', '암사3동', '대치1동', '서초3동', '번2동', '홍제3동', '반포2동', '서강동', '성수2가1동', '수서동', '망우본동', '중계1동', '휘경1동', '장안1동', '시흥3동', '독산1동', '신길1동', '시흥2동', '공릉1동', '면목5동', '가양3동', '마천2동', '응암2동', '청룡동', '방화3동', '장충동', '구로3동', '개봉1동', '중곡4동', '상계10동', '사근동', '상도4동', '신월5동', '문래동', '일원1동', '창5동', '신정3동', '창2동', '인수동', '화곡1동', '을지로동', '황학동', '구의1동', '신월4동', '월계3동', '삼성동', '종암동', '행운동', '장위3동', '용산2가동', '조원동', '신내1동', '석촌동', '천호1동', '답십리1동', '서림동', '중곡1동', '신당5동', '가양1동', '성내3동', '시흥4동', '수궁동', '당산1동', '가락본동', '상계6·7동', '신사2동', '고척2동', '낙성대동', '도봉2동', '하계1동', '제기동', '논현1동', '관악구 신사동', '가락2동', '천호3동', '화곡8동', '성수1가2동', '강일동', '성산1동', '화곡본동', '성수1가1동', '이촌2동', '풍납2동', '정릉1동', '방배1동', '신정4동', '쌍문1동', '왕십리2동', '당산2동', '방학2동', '도화동', '신정7동', '청파동', '세곡동', '송파1동', '면목4동', '화양동', '명일2동', '오류2동', '중계본동', '면목본동', '교남동', '수유3동', '중앙동', '둔촌2동', '광희동', '잠실6동', '상계1동', '청림동', '월계2동', '대림3동', '상계5동', '대림2동', '목3동', '안암동', '구의3동', '노량진1동', '개포2동', '신길5동', '도곡1동', '성북동', '난곡동', '번1동', '목1동', '명일1동', '대치4동', '서초4동', '시흥5동', '소공동', '전농1동', '성수2가3동', '삼성2동', '고척1동', '월곡2동', '노량진2동', '거여2동', '명동', '반포1동', '월곡1동', '오류1동', '중화2동', '상봉2동', '가리봉동', '공덕동', '장안2동', '불광1동', '화곡2동', '대방동', '염리동', '개포1동', '이태원2동', '방배4동', '장위2동', '북가좌2동', '돈암1동', '가회동', '서원동', '아현동', '신월1동', '한강로동', '후암동', '난향동', '방학3동', '중림동', '대치2동', '상도3동', '신림동', '상도1동', '연희동', '정릉4동', '남가좌2동', '사직동', '도림동', '암사1동', '송정동', '잠실7동', '성산2동', '구의2동', '휘경2동', '보문동', '창신2동', '공항동', '상계3·4동', '사당1동', '신길3동', '구로1동', '용답동', '논현2동', '방학1동', '창신3동', '상도2동', '이화동', '서초1동', '상계9동', '화곡6동', '대흥동', '신정2동', '충현동', '양재1동', '발산1동', '합정동', '회현동', '오륜동', '번3동', '문정2동', '오금동', '금호2·3가동', '염창동', '동선동', '문정1동', '대학동', '사당3동', '청구동', '목4동', '홍은2동', '길음1동', '창4동', '중화1동', '신월3동', '마천1동', '압구정동', '응암1동', '응봉동', '창1동', '방배본동', '상계8동', '삼양동', '상암동', '증산동', '양평1동', '신정1동', '회기동', '신길4동', '방배3동', '공릉2동', '개포4동', '수유1동', '방배2동', '신원동', '면목3·8동', '수색동', '거여1동', '광장동', '가락1동', '청담동', '신사1동', '신월2동', '자양1동', '일원2동', '삼성1동', '무악동', '천호2동', '잠실3동', '용신동', '일원본동', '독산4동', '용문동', '남가좌1동', '용강동', '창신1동', '왕십리도선동', '진관동', '이문1동', '석관동', '갈현2동', '화곡4동', '연남동', '도곡2동', '망원2동', '길동', '독산2동', '미성동', '잠실본동', '화곡3동', '다산동', '정릉2동', '상일동', '역삼1동', '가양2동', '상봉1동', '망원1동', '길음2동', '양재2동', '상계2동', '내곡동', '쌍문4동', '성내1동', '이태원1동', '송천동', '능동', '송중동', '남현동', '천연동', '필동', '구로4동', '금호1가동', '남영동', '종로5·6가동'}

A에만 있는 값:
set()

B에만 있는 값:
set()

In [ ]:
data.info()
print('년분기 갯수 : ', data['년분기'].nunique())
print('업종명 갯수 : ', data['업종명'].nunique())
print('행정동 갯수 : ', data['행정동'].nunique())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101139 entries, 0 to 101138
Data columns (total 28 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   년분기            101139 non-null  int64
 1   행정동_코드         101139 non-null  int64
 2   행정동            101139 non-null  object
 3   업종명            101139 non-null  object
 4   월매출            101139 non-null  int64
 5   주중매출           101139 non-null  int64
 6   주말매출           101139 non-null  int64
 7   월요일            101139 non-null  int64
 8   화요일            101139 non-null  int64
 9   수요일            101139 non-null  int64
 10  목요일            101139 non-null  int64
 11  금요일            101139 non-null  int64
 12  토요일            101139 non-null  int64
 13  일요일            101139 non-null  int64
 14  0006           101139 non-null  int64
 15  0611           101139 non-null  int64
 16  1114           101139 non-null  int64
 17  1417           101139 non-null  int64
 18  1721           101139 non-null  int64
 19  2124           101139 non-null  int64
 20  남성             101139 non-null  int64
 21  여성             101139 non-null  int64
 22  Age_10         101139 non-null  int64
 23  Age_20         101139 non-null  int64
 24  Age_30         101139 non-null  int64
 25  Age_40         101139 non-null  int64
 26  Age_50         101139 non-null  int64
 27  Age_60_to_end  101139 non-null  int64
dtypes: int64(26), object(2)
memory usage: 21.6+ MB
년분기 갯수 :  6
업종명 갯수 :  63
행정동 갯수 :  423

In [ ]:
#data.to_csv('Cleaned_Sales_data_2023,2024.csv',index=False)