데이터 확인 및 전처리<br>
데이터 저장 컬럼 주석처리

In [44]:
import pandas as pd

In [45]:
dong = pd.read_csv(r'D:\Work\project\project2\oos\data\거주인구\Resident_Population_Dong423.csv')

d19 = pd.read_csv('sales_2019.csv')

In [46]:
d19.info()
print('년분기 갯수 : ', d19['기준_년분기_코드'].nunique())
print('업종명 갯수 : ', d19['서비스_업종_코드_명'].nunique())
print('행정동 갯수 : ', d19['행정동_코드_명'].nunique())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65758 entries, 0 to 65757
Data columns (total 53 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   기준_년분기_코드        65758 non-null  int64
 1   행정동_코드           65758 non-null  int64
 2   행정동_코드_명         65758 non-null  object
 3   서비스_업종_코드        65758 non-null  object
 4   서비스_업종_코드_명      65758 non-null  object
 5   당월_매출_금액         65758 non-null  int64
 6   당월_매출_건수         65758 non-null  int64
 7   주중_매출_금액         65758 non-null  int64
 8   주말_매출_금액         65758 non-null  int64
 9   월요일_매출_금액        65758 non-null  int64
 10  화요일_매출_금액        65758 non-null  int64
 11  수요일_매출_금액        65758 non-null  int64
 12  목요일_매출_금액        65758 non-null  int64
 13  금요일_매출_금액        65758 non-null  int64
 14  토요일_매출_금액        65758 non-null  int64
 15  일요일_매출_금액        65758 non-null  int64
 16  시간대_00~06_매출_금액  65758 non-null  int64
 17  시간대_06~11_매출_금액  65758 non-null  int64
 18  시간대_11~14_매출_금액  65758 non-null  int64
 19  시간대_14~17_매출_금액  65758 non-null  int64
 20  시간대_17~21_매출_금액  65758 non-null  int64
 21  시간대_21~24_매출_금액  65758 non-null  int64
 22  남성_매출_금액         65758 non-null  int64
 23  여성_매출_금액         65758 non-null  int64
 24  연령대_10_매출_금액     65758 non-null  int64
 25  연령대_20_매출_금액     65758 non-null  int64
 26  연령대_30_매출_금액     65758 non-null  int64
 27  연령대_40_매출_금액     65758 non-null  int64
 28  연령대_50_매출_금액     65758 non-null  int64
 29  연령대_60_이상_매출_금액  65758 non-null  int64
 30  주중_매출_건수         65758 non-null  int64
 31  주말_매출_건수         65758 non-null  int64
 32  월요일_매출_건수        65758 non-null  int64
 33  화요일_매출_건수        65758 non-null  int64
 34  수요일_매출_건수        65758 non-null  int64
 35  목요일_매출_건수        65758 non-null  int64
 36  금요일_매출_건수        65758 non-null  int64
 37  토요일_매출_건수        65758 non-null  int64
 38  일요일_매출_건수        65758 non-null  int64
 39  시간대_건수~06_매출_건수  65758 non-null  int64
 40  시간대_건수~11_매출_건수  65758 non-null  int64
 41  시간대_건수~14_매출_건수  65758 non-null  int64
 42  시간대_건수~17_매출_건수  65758 non-null  int64
 43  시간대_건수~21_매출_건수  65758 non-null  int64
 44  시간대_건수~24_매출_건수  65758 non-null  int64
 45  남성_매출_건수         65758 non-null  int64
 46  여성_매출_건수         65758 non-null  int64
 47  연령대_10_매출_건수     65758 non-null  int64
 48  연령대_20_매출_건수     65758 non-null  int64
 49  연령대_30_매출_건수     65758 non-null  int64
 50  연령대_40_매출_건수     65758 non-null  int64
 51  연령대_50_매출_건수     65758 non-null  int64
 52  연령대_60_이상_매출_건수  65758 non-null  int64
dtypes: int64(50), object(3)
memory usage: 26.6+ MB
년분기 갯수 :  4
업종명 갯수 :  63
행정동 갯수 :  422

In [47]:
col = ['기준_년분기_코드', '행정동_코드', '행정동_코드_명', '서비스_업종_코드_명',
       '당월_매출_금액', '주중_매출_금액', '주말_매출_금액', '월요일_매출_금액',
       '화요일_매출_금액', '수요일_매출_금액', '목요일_매출_금액', '금요일_매출_금액', '토요일_매출_금액',
       '일요일_매출_금액', '시간대_00~06_매출_금액', '시간대_06~11_매출_금액', '시간대_11~14_매출_금액',
       '시간대_14~17_매출_금액', '시간대_17~21_매출_금액', '시간대_21~24_매출_금액', '남성_매출_금액',
       '여성_매출_금액', '연령대_10_매출_금액', '연령대_20_매출_금액', '연령대_30_매출_금액',
       '연령대_40_매출_금액', '연령대_50_매출_금액', '연령대_60_이상_매출_금액']

d19 = d19[col]

In [48]:
col_name = ['년분기', '행정동_코드', '행정동', '업종명', '월매출',
       '주중매출', '주말매출', '월요일', '화요일', '수요일','목요일', '금요일', '토요일', '일요일',
       '0006','0611', '1114', '1417', '1721', '2124',
       '남성', '여성',
       'Age_10', 'Age_20', 'Age_30', 'Age_40','Age_50', 'Age_60_to_end']

d19.columns = col_name

In [49]:
set_a = set(d19['행정동'])
set_b = set(dong['행정동'])
common_values = set_a & set_b  # A와 B에 모두 있는 값
only_in_a = set_a - set_b  # A에만 있는 값
only_in_b = set_b - set_a  # B에만 있는 값

# 결과 출력
print("A와 B에 모두 있는 값:")
print(common_values)

print("\nA에만 있는 값:")
print(only_in_a)

print("\nB에만 있는 값:")
print(only_in_b)

A와 B에 모두 있는 값:
{'난곡동', '반포3동', '응암3동', '압구정동', '등촌3동', '시흥1동', '화양동', '명일2동', '보문동', '성수2가3동', '일원2동', '용산2가동', '잠실2동', '수서동', '신당동', '대학동', '응암1동', '돈암2동', '자양2동', '중곡1동', '장위2동', '상계3·4동', '행당2동', '삼성1동', '여의동', '삼각산동', '신촌동', '마천2동', '남가좌1동', '홍은1동', '독산2동', '상봉1동', '상계10동', '명일1동', '이태원2동', '방학2동', '오류1동', '송중동', '잠실본동', '역촌동', '면목본동', '송천동', '쌍문1동', '구산동', '성내3동', '신정6동', '금호4가동', '인수동', '상계9동', '숭인1동', '연희동', '망원2동', '암사1동', '창신2동', '일원1동', '북아현동', '논현1동', '방학1동', '신사동', '종로5·6가동', '공릉2동', '홍제1동', '가락본동', '당산2동', '진관동', '신월7동', '송파1동', '잠실3동', '정릉4동', '양재1동', '풍납2동', '아현동', '시흥2동', '장지동', '상도3동', '갈현1동', '필동', '창2동', '전농1동', '개포1동', '흑석동', '구로3동', '화곡6동', '인헌동', '문래동', '면목4동', '청림동', '후암동', '서강동', '고덕2동', '미성동', '수색동', '천연동', '구의1동', '양재2동', '방배4동', '정릉1동', '시흥4동', '연남동', '삼청동', '둔촌2동', '도림동', '서빙고동', '면목7동', '신정2동', '수유3동', '노량진2동', '오금동', '이문1동', '신길4동', '황학동', '불광2동', '월곡2동', '창5동', '목3동', '방화3동', '역삼2동', '오륜동', '신월3동', '대치4동', '동화동', '오류2동', '녹번동', '상암동', '도봉1동', '대치2동', '상계2동', '을지로동', '상일동', '신월1동', '화곡본동', '청량리동', '신월2동', '청구동', '개포4동', '신정1동', '신길5동', '우장산동', '삼성2동', '문정2동', '교남동', '상계1동', '장안2동', '상계6·7동', '수궁동', '용신동', '등촌2동', '금호1가동', '장충동', '능동', '서초4동', '송정동', '암사3동', '성수2가1동', '사당4동', '종암동', '쌍문2동', '다산동', '옥수동', '남가좌2동', '개봉3동', '마천1동', '광희동', '부암동', '중화1동', '창신3동', '번2동', '중곡4동', '공덕동', '신수동', '송파2동', '홍은2동', '암사2동', '방화1동', '당산1동', '서초3동', '성산1동', '천호2동', '약수동', '성내2동', '광장동', '길음2동', '가락1동', '갈현2동', '대림3동', '잠실6동', '길음1동', '도봉2동', '북가좌1동', '화곡4동', '화곡1동', '풍납1동', '길동', '고척1동', '구의2동', '청룡동', '제기동', '원효로1동', '응암2동', '가양2동', '정릉2동', '역삼1동', '장위3동', '하계1동', '도곡1동', '신길3동', '강일동', '월계2동', '중곡3동', '신당5동', '화곡2동', '천호3동', '도곡2동', '신길7동', '화곡8동', '잠실4동', '응봉동', '회현동', '고척2동', '영등포동', '불광1동', '독산1동', '창1동', '면목3·8동', '보광동', '북가좌2동', '신월6동', '수유1동', '면목2동', '석관동', '홍제2동', '상도2동', '상계5동', '대림1동', '반포1동', '낙성대동', '신정7동', '삼성동', '거여1동', '행운동', '성수1가1동', '목1동', '월곡1동', '신길6동', '신도림동', '구로4동', '방배2동', '중림동', '신내2동', '가산동', '문정1동', '창4동', '반포본동', '무악동', '등촌1동', '신사1동', '남영동', '소공동', '목2동', '사직동', '왕십리2동', '전농2동', '대조동', '명동', '가양1동', '서교동', '개봉1동', '대림2동', '상도4동', '이촌1동', '자양4동', '가락2동', '망원1동', '홍제3동', '돈암1동', '시흥3동', '동선동', '이화동', '가양3동', '위례동', '금호2·3가동', '영등포본동', '한남동', '중계4동', '목4동', '서초2동', '신정4동', '신월5동', '망우본동', '가리봉동', '휘경2동', '거여2동', '조원동', '자양3동', '일원본동', '중화2동', '번3동', '독산3동', '양평1동', '구로2동', '성산2동', '방이2동', '휘경1동', '신월4동', '삼전동', '평창동', '쌍문4동', '월계3동', '한강로동', '고덕1동', '이문2동', '방배1동', '용강동', '상봉2동', '서림동', '반포2동', '합정동', '증산동', '난향동', '도화동', '세곡동', '방이1동', '방화2동', '방학3동', '대치1동', '중앙동', '개포2동', '종로1·2·3·4가동', '장안1동', '군자동', '시흥5동', '자양1동', '월계1동', '용문동', '사당5동', '행당1동', '사당1동', '석촌동', '삼선동', '내곡동', '청파동', '서원동', '잠실7동', '중계2·3동', '답십리2동', '신사2동', '삼양동', '신대방2동', '중계1동', '은천동', '상도1동', '답십리1동', '남현동', '면목5동', '대흥동', '신원동', '신정3동', '왕십리도선동', '묵2동', '이촌2동', '정릉3동', '성내1동', '염창동', '구로5동', '방배본동', '상계8동', '혜화동', '논현2동', '장위1동', '신대방1동', '청운효자동', '구의3동', '염리동', '사당3동', '망우3동', '반포4동', '사당2동', '성북동', '수유2동', '보라매동', '천호1동', '공항동', '안암동', '청담동', '쌍문3동', '공릉1동', '원효로2동', '창3동', '개봉2동', '용답동', '마장동', '신내1동', '서초1동', '효창동', '성현동', '사근동', '중계본동', '구로1동', '목5동', '양평2동', '숭인2동', '이태원1동', '성수1가2동', '화곡3동', '대방동', '회기동', '신림동', '방배3동', '우이동', '신길1동', '독산4동', '묵1동', '노량진1동', '충현동', '번1동', '미아동', '가회동', '창신1동', '발산1동', '잠원동', '하계2동', '중곡2동'}

A에만 있는 값:
set()

B에만 있는 값:
{'관악구 신사동'}

In [50]:
d19.head()

,년분기,행정동_코드,행정동,업종명,월매출,주중매출,주말매출,월요일,화요일,수요일,...,1721,2124,남성,여성,Age_10,Age_20,Age_30,Age_40,Age_50,Age_60_to_end
0,20191,11380510,녹번동,당구장,37837940,24879147,12958793,5376153,4387609,4832074,...,13373480,15820584,34640238,3197702,1479378,2968887,3477600,15936064,13514727,461284
1,20191,11380510,녹번동,치과의원,238363333,173213042,65150291,50931757,34648962,31097732,...,12014976,0,139697818,98665515,0,10321026,20131067,75675283,51982082,80253875
2,20191,11380510,녹번동,의약품,1750598130,1557762166,192835964,236871971,516899171,200977646,...,232695240,41243260,1133582246,617015884,3062407,64270186,151200223,230476397,286273750,1015315167
3,20191,11380590,응암2동,당구장,5504385,4449552,1054833,1537907,537796,752914,...,1581308,1436008,4949607,430236,0,143412,479298,781219,2241758,1734155
4,20191,11380570,대조동,커피-음료,779058661,507363643,271695018,85425895,100997214,105099351,...,187016840,105794708,334216816,444841845,20022998,281797569,203094933,142216147,100546557,31380457

In [51]:
d19.loc[d19['행정동_코드'] == 11620685, '행정동'] = '관악구 신사동'

In [52]:
set_a = set(d19['행정동'])
set_b = set(dong['행정동'])
common_values = set_a & set_b  # A와 B에 모두 있는 값
only_in_a = set_a - set_b  # A에만 있는 값
only_in_b = set_b - set_a  # B에만 있는 값

# 결과 출력
print("A와 B에 모두 있는 값:")
print(common_values)

print("\nA에만 있는 값:")
print(only_in_a)

print("\nB에만 있는 값:")
print(only_in_b)

A와 B에 모두 있는 값:
{'난곡동', '반포3동', '응암3동', '압구정동', '등촌3동', '시흥1동', '화양동', '명일2동', '보문동', '성수2가3동', '일원2동', '용산2가동', '잠실2동', '수서동', '신당동', '대학동', '응암1동', '돈암2동', '자양2동', '중곡1동', '장위2동', '상계3·4동', '행당2동', '삼성1동', '여의동', '삼각산동', '신촌동', '마천2동', '남가좌1동', '홍은1동', '독산2동', '상계10동', '상봉1동', '명일1동', '이태원2동', '방학2동', '오류1동', '송중동', '잠실본동', '역촌동', '면목본동', '송천동', '쌍문1동', '구산동', '성내3동', '신정6동', '금호4가동', '상계9동', '숭인1동', '인수동', '연희동', '망원2동', '암사1동', '창신2동', '일원1동', '논현1동', '방학1동', '북아현동', '신사동', '공릉2동', '종로5·6가동', '홍제1동', '가락본동', '당산2동', '진관동', '신월7동', '송파1동', '잠실3동', '정릉4동', '양재1동', '풍납2동', '아현동', '시흥2동', '장지동', '상도3동', '갈현1동', '필동', '창2동', '전농1동', '개포1동', '흑석동', '구로3동', '화곡6동', '인헌동', '문래동', '면목4동', '청림동', '후암동', '서강동', '고덕2동', '미성동', '수색동', '천연동', '구의1동', '양재2동', '방배4동', '정릉1동', '시흥4동', '연남동', '삼청동', '둔촌2동', '도림동', '면목7동', '서빙고동', '수유3동', '신정2동', '노량진2동', '오금동', '이문1동', '신길4동', '황학동', '불광2동', '월곡2동', '창5동', '목3동', '방화3동', '역삼2동', '오륜동', '신월3동', '대치4동', '동화동', '오류2동', '녹번동', '상암동', '도봉1동', '대치2동', '상계2동', '을지로동', '상일동', '신월1동', '화곡본동', '청량리동', '신월2동', '청구동', '개포4동', '신정1동', '삼성2동', '문정2동', '신길5동', '우장산동', '교남동', '상계1동', '상계6·7동', '장안2동', '수궁동', '용신동', '금호1가동', '등촌2동', '장충동', '능동', '서초4동', '송정동', '암사3동', '성수2가1동', '사당4동', '종암동', '쌍문2동', '다산동', '옥수동', '남가좌2동', '개봉3동', '마천1동', '광희동', '부암동', '중화1동', '창신3동', '번2동', '중곡4동', '공덕동', '신수동', '송파2동', '홍은2동', '암사2동', '방화1동', '당산1동', '서초3동', '성산1동', '천호2동', '약수동', '성내2동', '광장동', '길음2동', '가락1동', '갈현2동', '대림3동', '잠실6동', '길음1동', '도봉2동', '북가좌1동', '화곡4동', '화곡1동', '풍납1동', '길동', '고척1동', '구의2동', '청룡동', '제기동', '원효로1동', '응암2동', '가양2동', '정릉2동', '역삼1동', '장위3동', '하계1동', '도곡1동', '신길3동', '강일동', '월계2동', '중곡3동', '신당5동', '화곡2동', '천호3동', '도곡2동', '신길7동', '화곡8동', '응봉동', '잠실4동', '회현동', '고척2동', '영등포동', '불광1동', '독산1동', '창1동', '면목3·8동', '보광동', '북가좌2동', '신월6동', '수유1동', '면목2동', '석관동', '홍제2동', '상도2동', '상계5동', '대림1동', '낙성대동', '반포1동', '삼성동', '신정7동', '거여1동', '행운동', '성수1가1동', '목1동', '월곡1동', '신길6동', '신도림동', '구로4동', '방배2동', '중림동', '신내2동', '가산동', '문정1동', '창4동', '반포본동', '무악동', '등촌1동', '신사1동', '남영동', '소공동', '목2동', '사직동', '왕십리2동', '전농2동', '대조동', '명동', '가양1동', '서교동', '개봉1동', '대림2동', '상도4동', '이촌1동', '자양4동', '가락2동', '망원1동', '돈암1동', '홍제3동', '시흥3동', '동선동', '이화동', '가양3동', '위례동', '금호2·3가동', '영등포본동', '한남동', '중계4동', '목4동', '서초2동', '망우본동', '신월5동', '신정4동', '가리봉동', '휘경2동', '거여2동', '자양3동', '조원동', '일원본동', '중화2동', '번3동', '독산3동', '양평1동', '구로2동', '성산2동', '방이2동', '휘경1동', '신월4동', '삼전동', '평창동', '쌍문4동', '월계3동', '한강로동', '고덕1동', '이문2동', '방배1동', '용강동', '상봉2동', '서림동', '반포2동', '합정동', '증산동', '난향동', '도화동', '세곡동', '방이1동', '방화2동', '방학3동', '대치1동', '중앙동', '개포2동', '종로1·2·3·4가동', '장안1동', '군자동', '시흥5동', '자양1동', '월계1동', '용문동', '사당5동', '행당1동', '사당1동', '관악구 신사동', '석촌동', '삼선동', '내곡동', '청파동', '서원동', '잠실7동', '중계2·3동', '답십리2동', '신사2동', '삼양동', '신대방2동', '중계1동', '은천동', '상도1동', '답십리1동', '남현동', '면목5동', '대흥동', '신원동', '신정3동', '왕십리도선동', '묵2동', '이촌2동', '정릉3동', '성내1동', '염창동', '구로5동', '방배본동', '상계8동', '혜화동', '논현2동', '장위1동', '신대방1동', '청운효자동', '구의3동', '염리동', '사당3동', '망우3동', '반포4동', '사당2동', '성북동', '수유2동', '보라매동', '천호1동', '공항동', '안암동', '청담동', '쌍문3동', '공릉1동', '원효로2동', '창3동', '개봉2동', '용답동', '마장동', '신내1동', '서초1동', '효창동', '성현동', '사근동', '중계본동', '구로1동', '목5동', '양평2동', '숭인2동', '이태원1동', '성수1가2동', '대방동', '신림동', '화곡3동', '회기동', '방배3동', '우이동', '신길1동', '독산4동', '묵1동', '노량진1동', '충현동', '번1동', '미아동', '가회동', '창신1동', '발산1동', '잠원동', '하계2동', '중곡2동'}

A에만 있는 값:
set()

B에만 있는 값:
set()

In [53]:
d19.info()
print('년분기 갯수 : ', d19['년분기'].nunique())
print('업종명 갯수 : ', d19['업종명'].nunique())
print('행정동 갯수 : ', d19['행정동'].nunique())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65758 entries, 0 to 65757
Data columns (total 28 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   년분기            65758 non-null  int64
 1   행정동_코드         65758 non-null  int64
 2   행정동            65758 non-null  object
 3   업종명            65758 non-null  object
 4   월매출            65758 non-null  int64
 5   주중매출           65758 non-null  int64
 6   주말매출           65758 non-null  int64
 7   월요일            65758 non-null  int64
 8   화요일            65758 non-null  int64
 9   수요일            65758 non-null  int64
 10  목요일            65758 non-null  int64
 11  금요일            65758 non-null  int64
 12  토요일            65758 non-null  int64
 13  일요일            65758 non-null  int64
 14  0006           65758 non-null  int64
 15  0611           65758 non-null  int64
 16  1114           65758 non-null  int64
 17  1417           65758 non-null  int64
 18  1721           65758 non-null  int64
 19  2124           65758 non-null  int64
 20  남성             65758 non-null  int64
 21  여성             65758 non-null  int64
 22  Age_10         65758 non-null  int64
 23  Age_20         65758 non-null  int64
 24  Age_30         65758 non-null  int64
 25  Age_40         65758 non-null  int64
 26  Age_50         65758 non-null  int64
 27  Age_60_to_end  65758 non-null  int64
dtypes: int64(26), object(2)
memory usage: 14.0+ MB
년분기 갯수 :  4
업종명 갯수 :  63
행정동 갯수 :  423

In [ ]:
#d19.to_csv('Cleaned_Sales_data_2019.csv',index=False)