<h1>누락 점포수 확인 및 수정</h1>
20241202 : 데이터 매출액 평균내는 작업중 점포수가 0인 업종명 확인 편의점과 같은 프렌차이즈 업종의 경우 점포수에서 빠져있어
Sorted_Number_of_Stores_v1.1 버전에서 점포수와 프렌차이즈 점포수를 합산하여 Sorted_Number_of_Stores_v1.3으로 가져옴
하지만 기존 항동의 작업이 되어있지 않아서 오류 2동으로 변경후 합산하는 과정을 한번 더 해주었다.

In [33]:
import pandas as pd
import data_check

In [34]:
add_data = pd.read_csv(r"C:\Work\Project\teamproject_02\oos\data\hide_data\점포수\Sorted_Number_of_Stores_v1.3.csv")
base_data = pd.read_csv(r"C:\Work\Project\teamproject_02\oos\data\hide_data\병합파일\Merged_Sales_data_v2.3.csv")

In [35]:
add_data.columns

Index(['년분기', '행정동', '업종명', '점포수'], dtype='object')

In [36]:
add_data[add_data["행정동"]== "항동"] = add_data.loc[add_data['행정동'] == '항동', '행정동'] = '오류2동'
add_data[add_data["행정동"] == "오류2동"]
add_data["행정동"].unique()

array(['청운효자동', '사직동', '삼청동', '부암동', '평창동', '무악동', '교남동', '가회동',
       '종로1·2·3·4가동', '종로5·6가동', '이화동', '혜화동', '창신1동', '창신2동', '창신3동',
       '숭인1동', '숭인2동', '소공동', '회현동', '명동', '필동', '장충동', '광희동', '을지로동',
       '신당동', '다산동', '약수동', '청구동', '신당5동', '동화동', '황학동', '중림동', '후암동',
       '용산2가동', '남영동', '청파동', '원효로1동', '원효로2동', '효창동', '용문동', '한강로동',
       '이촌1동', '이촌2동', '이태원1동', '이태원2동', '한남동', '서빙고동', '보광동', '왕십리2동',
       '왕십리도선동', '마장동', '사근동', '행당1동', '행당2동', '응봉동', '금호1가동', '금호2·3가동',
       '금호4가동', '옥수동', '성수1가1동', '성수1가2동', '성수2가1동', '성수2가3동', '송정동',
       '용답동', '화양동', '군자동', '중곡1동', '중곡2동', '중곡3동', '중곡4동', '능동', '광장동',
       '자양1동', '자양2동', '자양3동', '자양4동', '구의1동', '구의2동', '구의3동', '용신동',
       '제기동', '전농1동', '전농2동', '답십리1동', '답십리2동', '장안1동', '장안2동', '청량리동',
       '회기동', '휘경1동', '휘경2동', '이문1동', '이문2동', '면목2동', '면목4동', '면목5동',
       '면목본동', '면목7동', '면목3·8동', '상봉1동', '상봉2동', '중화1동', '중화2동', '묵1동',
       '묵2동', '망우본동', '망우3동', '신내1동', '신내2동', '성북동', '삼선동', '동선동', '돈암1동',
       '돈암2동', '안암동', '보문동', '정릉1동', '정릉2동', '정릉3동', '정릉4동', '길음1동',
       '길음2동', '종암동', '월곡1동', '월곡2동', '장위1동', '장위2동', '장위3동', '석관동',
       '삼양동', '미아동', '송중동', '송천동', '삼각산동', '번1동', '번2동', '번3동', '수유1동',
       '수유2동', '수유3동', '우이동', '인수동', '창1동', '창2동', '창3동', '창4동', '창5동',
       '도봉1동', '도봉2동', '쌍문1동', '쌍문2동', '쌍문3동', '쌍문4동', '방학1동', '방학2동',
       '방학3동', '월계1동', '월계2동', '월계3동', '공릉1동', '공릉2동', '하계1동', '하계2동',
       '중계본동', '중계1동', '중계4동', '중계2·3동', '상계1동', '상계2동', '상계3·4동', '상계5동',
       '상계6·7동', '상계8동', '상계9동', '상계10동', '녹번동', '불광1동', '불광2동', '갈현1동',
       '갈현2동', '구산동', '대조동', '응암1동', '응암2동', '응암3동', '역촌동', '신사1동',
       '신사2동', '증산동', '수색동', '진관동', '천연동', '북아현동', '충현동', '신촌동', '연희동',
       '홍제1동', '홍제3동', '홍제2동', '홍은1동', '홍은2동', '남가좌1동', '남가좌2동', '북가좌1동',
       '북가좌2동', '아현동', '공덕동', '도화동', '용강동', '대흥동', '염리동', '신수동', '서강동',
       '서교동', '합정동', '망원1동', '망원2동', '연남동', '성산1동', '성산2동', '상암동', '목1동',
       '목2동', '목3동', '목4동', '목5동', '신월1동', '신월2동', '신월3동', '신월4동', '신월5동',
       '신월6동', '신월7동', '신정1동', '신정2동', '신정3동', '신정4동', '신정6동', '신정7동',
       '염창동', '등촌1동', '등촌2동', '등촌3동', '화곡1동', '화곡2동', '화곡3동', '화곡4동',
       '화곡본동', '화곡6동', '화곡8동', '가양1동', '가양2동', '가양3동', '발산1동', '우장산동',
       '공항동', '방화1동', '방화2동', '방화3동', '신도림동', '구로1동', '구로2동', '구로3동',
       '구로4동', '구로5동', '가리봉동', '고척1동', '고척2동', '개봉1동', '개봉2동', '개봉3동',
       '오류1동', '오류2동', '수궁동', '가산동', '독산1동', '독산2동', '독산3동', '독산4동',
       '시흥1동', '시흥2동', '시흥3동', '시흥4동', '시흥5동', '영등포본동', '영등포동', '여의동',
       '당산1동', '당산2동', '도림동', '문래동', '양평1동', '양평2동', '신길1동', '신길3동',
       '신길4동', '신길5동', '신길6동', '신길7동', '대림1동', '대림2동', '대림3동', '노량진1동',
       '노량진2동', '상도1동', '상도2동', '상도3동', '상도4동', '흑석동', '사당1동', '사당2동',
       '사당3동', '사당4동', '사당5동', '대방동', '신대방1동', '신대방2동', '보라매동', '청림동',
       '성현동', '행운동', '낙성대동', '청룡동', '은천동', '중앙동', '인헌동', '남현동', '서원동',
       '신원동', '서림동', '관악구 신사동', '신림동', '난향동', '조원동', '대학동', '삼성동', '미성동',
       '난곡동', '서초1동', '서초2동', '서초3동', '서초4동', '잠원동', '반포본동', '반포1동',
       '반포2동', '반포3동', '반포4동', '방배본동', '방배1동', '방배2동', '방배3동', '방배4동',
       '양재1동', '양재2동', '내곡동', '신사동', '논현1동', '논현2동', '압구정동', '청담동',
       '삼성1동', '삼성2동', '대치1동', '대치2동', '대치4동', '역삼1동', '역삼2동', '도곡1동',
       '도곡2동', '개포1동', '개포2동', '개포4동', '세곡동', '일원본동', '일원1동', '일원2동',
       '수서동', '풍납1동', '풍납2동', '거여1동', '거여2동', '마천1동', '마천2동', '방이1동',
       '방이2동', '오륜동', '오금동', '송파1동', '송파2동', '석촌동', '삼전동', '가락본동', '가락1동',
       '가락2동', '문정1동', '문정2동', '장지동', '위례동', '잠실본동', '잠실2동', '잠실3동',
       '잠실4동', '잠실6동', '잠실7동', '강일동', '상일동', '명일1동', '명일2동', '고덕1동',
       '고덕2동', '암사1동', '암사2동', '암사3동', '천호1동', '천호2동', '천호3동', '성내1동',
       '성내2동', '성내3동', '길동', '둔촌2동'], dtype=object)

In [37]:
dong2 = add_data[add_data["행정동"] == "오류2동"]
dong2[dong2["업종명"] == "자전거 및 기타운송장비"]

          년분기   행정동           업종명  점포수
16297   20191  오류2동  자전거 및 기타운송장비    4
41672   20192  오류2동  자전거 및 기타운송장비    4
67032   20193  오류2동  자전거 및 기타운송장비    4
92452   20194  오류2동  자전거 및 기타운송장비    4
117791  20201  오류2동  자전거 및 기타운송장비    4
143203  20202  오류2동  자전거 및 기타운송장비    4
168606  20203  오류2동  자전거 및 기타운송장비    4
194069  20204  오류2동  자전거 및 기타운송장비    4
219403  20211  오류2동  자전거 및 기타운송장비    4
244850  20212  오류2동  자전거 및 기타운송장비    4
270264  20213  오류2동  자전거 및 기타운송장비    4
295776  20214  오류2동  자전거 및 기타운송장비    4
321176  20221  오류2동  자전거 및 기타운송장비    4
346620  20222  오류2동  자전거 및 기타운송장비    4
372053  20223  오류2동  자전거 및 기타운송장비    4
397517  20224  오류2동  자전거 및 기타운송장비    4
422859  20231  오류2동  자전거 및 기타운송장비    4
448292  20232  오류2동  자전거 및 기타운송장비    4
473660  20233  오류2동  자전거 및 기타운송장비    4
499026  20234  오류2동  자전거 및 기타운송장비    4
524395  20241  오류2동  자전거 및 기타운송장비    4
549793  20242  오류2동  자전거 및 기타운송장비    4

In [38]:
add_data2 = add_data.groupby(["년분기", "행정동", "업종명"])["점포수"].sum().reset_index()

In [39]:
add_data2

          년분기   행정동      업종명  점포수
0       20191  가락1동       가방    1
1       20191  가락1동     가전제품    1
2       20191  가락1동      네일숍    1
3       20191  가락1동      노래방    1
4       20191  가락1동     미곡판매    7
...       ...   ...      ...  ...
557714  20242   흑석동      한의원   10
557715  20242   흑석동      핸드폰   11
557716  20242   흑석동  호프-간이주점   27
557717  20242   흑석동      화장품   15
557718  20242   흑석동       화초   15

[557719 rows x 4 columns]

In [40]:
col = ['년분기', '행정동_코드', '행정동', '업종명', '월매출', '주중매출', '주말매출', '인구수', '점포수_A',
       '지역생활인구', '장기외국인', '단기외국인', '주차장면적(면)', '주차장개수(개소)', '학교수', '학생수',
       '버스정류장수']
base_data.columns = col

In [41]:
new_data = base_data.merge( add_data2, how="left", on=["년분기", "행정동", "업종명"] )

In [42]:
new_data[(new_data["점포수_A"] == 0)]

,년분기,행정동_코드,행정동,업종명,월매출,주중매출,주말매출,인구수,점포수_A,지역생활인구,장기외국인,단기외국인,주차장면적(면),주차장개수(개소),학교수,학생수,버스정류장수,점포수
5343,20191,11500604,가양2동,편의점,3097976872,2189886236,908090636,15562,0,348496,3904,889,5405,47,2,933,13,6
5362,20192,11500604,가양2동,편의점,3479682222,2469593951,1010088271,15413,0,326377,3601,781,5405,47,2,933,13,6
5378,20193,11500604,가양2동,편의점,3485325555,2485937899,999387656,15301,0,361107,4291,804,5405,47,2,906,13,7
5400,20194,11500604,가양2동,편의점,3204255360,2282318407,921936953,15140,0,348095,3844,806,5405,47,2,906,13,6
5433,20201,11500604,가양2동,편의점,3213255825,2282881233,930374592,15032,0,352058,3478,1186,7495,52,3,978,13,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371363,20242,11170580,효창동,편의점,881345275,664839659,216505616,10772,0,226079,5433,718,2994,301,0,0,16,9
371925,20224,11170510,후암동,편의점,1792810835,1264737868,528072967,16812,0,326624,15258,11756,4578,739,2,702,19,20
371978,20231,11170510,후암동,편의점,1828140463,1281120134,547020329,16740,0,323425,15035,3922,4239,745,2,653,19,19
372019,20232,11170510,후암동,편의점,2624284311,1865072320,759211991,16638,0,297439,13336,5035,4239,745,2,653,19,20
372055,20233,11170510,후암동,편의점,2746876624,1932619044,814257580,16540,0,293659,13540,4463,4239,745,2,649,19,20

In [43]:
new_data[(new_data["점포수"] == 0)]

Empty DataFrame
Columns: [년분기, 행정동_코드, 행정동, 업종명, 월매출, 주중매출, 주말매출, 인구수, 점포수_A, 지역생활인구, 장기외국인, 단기외국인, 주차장면적(면), 주차장개수(개소), 학교수, 학생수, 버스정류장수, 점포수]
Index: []

In [44]:
new_data[(new_data["점포수_A"] == 0) & (new_data["점포수"] == 0)]

Empty DataFrame
Columns: [년분기, 행정동_코드, 행정동, 업종명, 월매출, 주중매출, 주말매출, 인구수, 점포수_A, 지역생활인구, 장기외국인, 단기외국인, 주차장면적(면), 주차장개수(개소), 학교수, 학생수, 버스정류장수, 점포수]
Index: []

In [45]:
new_data = new_data[['년분기', '행정동_코드', '행정동', '업종명', '월매출', '주중매출', '주말매출', '인구수', '점포수',
       '지역생활인구', '장기외국인', '단기외국인', '주차장면적(면)', '주차장개수(개소)', '학교수', '학생수',
       '버스정류장수']]

In [46]:
new_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374581 entries, 0 to 374580
Data columns (total 17 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   년분기        374581 non-null  int64
 1   행정동_코드     374581 non-null  int64
 2   행정동        374581 non-null  object
 3   업종명        374581 non-null  object
 4   월매출        374581 non-null  int64
 5   주중매출       374581 non-null  int64
 6   주말매출       374581 non-null  int64
 7   인구수        374581 non-null  int64
 8   점포수        374581 non-null  int64
 9   지역생활인구     374581 non-null  int64
 10  장기외국인      374581 non-null  int64
 11  단기외국인      374581 non-null  int64
 12  주차장면적(면)   374581 non-null  int64
 13  주차장개수(개소)  374581 non-null  int64
 14  학교수        374581 non-null  int64
 15  학생수        374581 non-null  int64
 16  버스정류장수     374581 non-null  int64
dtypes: int64(15), object(2)
memory usage: 48.6+ MB

In [47]:
new_data.to_csv("Merged_Sales_data_v2.4.csv", index = False)