In [235]:
import pandas as pd
import my_def

In [236]:
data = pd.read_csv("Merged_Sales_data_v2.6(selected_store).csv")

In [237]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 335256 entries, 0 to 335255
Data columns (total 13 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   년분기        335256 non-null  int64
 1   행정동        335256 non-null  object
 2   업종명        335256 non-null  object
 3   월매출(점포)    335256 non-null  int64
 4   인구수        335256 non-null  int64
 5   지역생활인구     335256 non-null  int64
 6   장기외국인      335256 non-null  int64
 7   단기외국인      335256 non-null  int64
 8   주차장면적(면)   335256 non-null  int64
 9   주차장개수(개소)  335256 non-null  int64
 10  학교수        335256 non-null  int64
 11  학생수        335256 non-null  int64
 12  버스정류장수     335256 non-null  int64
dtypes: int64(11), object(2)
memory usage: 33.3+ MB

In [238]:
my_def.reduce_memory_usage(data)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 335256 entries, 0 to 335255
Data columns (total 13 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   년분기        335256 non-null  int16
 1   행정동        335256 non-null  object
 2   업종명        335256 non-null  object
 3   월매출(점포)    335256 non-null  int64
 4   인구수        335256 non-null  int32
 5   지역생활인구     335256 non-null  int32
 6   장기외국인      335256 non-null  int32
 7   단기외국인      335256 non-null  int32
 8   주차장면적(면)   335256 non-null  int32
 9   주차장개수(개소)  335256 non-null  int16
 10  학교수        335256 non-null  int16
 11  학생수        335256 non-null  int16
 12  버스정류장수     335256 non-null  int16
dtypes: int16(5), int32(5), int64(1), object(2)
memory usage: 17.3+ MB
None

,년분기,행정동,업종명,월매출(점포),인구수,지역생활인구,장기외국인,단기외국인,주차장면적(면),주차장개수(개소),학교수,학생수,버스정류장수
0,20191,가락1동,미곡판매,2796909658,20186,523724,13892,1772,20942,83,3,1586,14
1,20191,가락1동,분식전문점,54333333,20186,523724,13892,1772,20942,83,3,1586,14
2,20191,가락1동,편의점,806489641,20186,523724,13892,1772,20942,83,3,1586,14
3,20191,가락1동,한식음식점,180429821,20186,523724,13892,1772,20942,83,3,1586,14
4,20191,가락1동,의약품,7641042,20186,523724,13892,1772,20942,83,3,1586,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...
335251,20242,흑석동,서적,4235333,32491,848734,77201,6202,16937,298,0,0,59
335252,20242,흑석동,화장품,33030239,32491,848734,77201,6202,16937,298,0,0,59
335253,20242,흑석동,가구,42377763,32491,848734,77201,6202,16937,298,0,0,59
335254,20242,흑석동,철물점,4751411,32491,848734,77201,6202,16937,298,0,0,59
335255,20242,흑석동,인테리어,12612194,32491,848734,77201,6202,16937,298,0,0,59

In [239]:
data["년분기"].unique()

array([20191, 20192, 20193, 20194, 20201, 20202, 20203, 20204, 20211,
       20212, 20213, 20214, 20221, 20222, 20223, 20224, 20231, 20232,
       20233, 20234, 20241, 20242], dtype=int16)

In [240]:
# 년분기 리스트
year_quarters = [20191, 20192, 20193, 20194, 20201, 20202, 20203, 20204, 20211,
                 20212, 20213, 20214, 20221, 20222, 20223, 20224, 20231, 20232,
                 20233, 20234, 20241, 20242]

# 년분기에서 2분기 뒤의 값을 매칭하는 함수
def get_target_year_quarter(current_quarter):
    try:
        current_index = year_quarters.index(current_quarter)
        target_index = current_index + 2
        if target_index < len(year_quarters):
            return year_quarters[target_index]
        else:
            return None  # 리스트 범위를 벗어난 경우 None 반환
    except ValueError:
        return None  # 리스트에 없는 값인 경우 None 반환

# 타겟년분기 컬럼 추가
# data['타겟년분기'] = data['년분기'].apply(get_target_year_quarter)
data['타겟년분기'] = data['년분기'].map(get_target_year_quarter)

# 결과 확인
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 335256 entries, 0 to 335255
Data columns (total 14 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   년분기        335256 non-null  int16
 1   행정동        335256 non-null  object
 2   업종명        335256 non-null  object
 3   월매출(점포)    335256 non-null  int64
 4   인구수        335256 non-null  int32
 5   지역생활인구     335256 non-null  int32
 6   장기외국인      335256 non-null  int32
 7   단기외국인      335256 non-null  int32
 8   주차장면적(면)   335256 non-null  int32
 9   주차장개수(개소)  335256 non-null  int16
 10  학교수        335256 non-null  int16
 11  학생수        335256 non-null  int16
 12  버스정류장수     335256 non-null  int16
 13  타겟년분기      304766 non-null  float64
dtypes: float64(1), int16(5), int32(5), int64(1), object(2)
memory usage: 19.8+ MB

In [241]:
data.head(3)

,년분기,행정동,업종명,월매출(점포),인구수,지역생활인구,장기외국인,단기외국인,주차장면적(면),주차장개수(개소),학교수,학생수,버스정류장수,타겟년분기
0,20191,가락1동,미곡판매,2796909658,20186,523724,13892,1772,20942,83,3,1586,14,20193.0
1,20191,가락1동,분식전문점,54333333,20186,523724,13892,1772,20942,83,3,1586,14,20193.0
2,20191,가락1동,편의점,806489641,20186,523724,13892,1772,20942,83,3,1586,14,20193.0

In [242]:
import pandas as pd

# 타겟년분기 매출액을 매칭하는 코드
# 원본 데이터를 기준으로 병합을 수행하여 타겟년분기와 매칭되는 월매출을 타겟매출액 컬럼에 저장합니다.

# 원본 데이터프레임과 '년분기'를 '타겟년분기'로 매칭하는 데이터프레임을 병합합니다.
merged_data = data.merge(data[['년분기', '행정동', '업종명', '월매출(점포)']],
                         left_on=['타겟년분기', '행정동', '업종명'],
                         right_on=['년분기', '행정동', '업종명'],
                         how='left',
                         suffixes=('', '_타겟'))

# 타겟매출액 컬럼에 매칭된 월매출(점포)_타겟 값을 저장합니다.
merged_data['타겟매출액'] = merged_data['월매출(점포)_타겟']

# 필요 없는 중복된 '년분기_타겟' 컬럼 제거
# merged_data = merged_data.drop(columns=['년분기_타겟'])

# 결과 데이터프레임 확인
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 355840 entries, 0 to 355839
Data columns (total 17 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   년분기         355840 non-null  int16
 1   행정동         355840 non-null  object
 2   업종명         355840 non-null  object
 3   월매출(점포)     355840 non-null  int64
 4   인구수         355840 non-null  int32
 5   지역생활인구      355840 non-null  int32
 6   장기외국인       355840 non-null  int32
 7   단기외국인       355840 non-null  int32
 8   주차장면적(면)    355840 non-null  int32
 9   주차장개수(개소)   355840 non-null  int16
 10  학교수         355840 non-null  int16
 11  학생수         355840 non-null  int16
 12  버스정류장수      355840 non-null  int16
 13  타겟년분기       325350 non-null  float64
 14  년분기_타겟      319466 non-null  float64
 15  월매출(점포)_타겟  319466 non-null  float64
 16  타겟매출액       319466 non-null  float64
dtypes: float64(4), int16(5), int32(5), int64(1), object(2)
memory usage: 29.2+ MB

In [243]:
merged_data.loc[merged_data.index[merged_data.isna().sum(axis=1) > 0]]

,년분기,행정동,업종명,월매출(점포),인구수,지역생활인구,장기외국인,단기외국인,주차장면적(면),주차장개수(개소),학교수,학생수,버스정류장수,타겟년분기,년분기_타겟,월매출(점포)_타겟,타겟매출액
44,20194,가락1동,의료기기,5666666,27716,699589,13726,3373,20942,83,3,1780,14,20202.0,NaN,NaN,NaN
93,20203,가락1동,의료기기,5666666,27977,669652,12799,5048,20268,57,3,2078,14,20211.0,NaN,NaN,NaN
131,20212,가락1동,의료기기,5666666,27484,665152,12099,3965,20389,58,3,2266,14,20214.0,NaN,NaN,NaN
187,20221,가락1동,의료기기,11333333,27548,670643,12571,4173,15237,60,3,2440,14,20223.0,NaN,NaN,NaN
296,20241,가락1동,한의원,5093839,27552,745423,16229,1951,11607,995,0,0,14,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355835,20242,흑석동,서적,4235333,32491,848734,77201,6202,16937,298,0,0,59,NaN,NaN,NaN,NaN
355836,20242,흑석동,화장품,33030239,32491,848734,77201,6202,16937,298,0,0,59,NaN,NaN,NaN,NaN
355837,20242,흑석동,가구,42377763,32491,848734,77201,6202,16937,298,0,0,59,NaN,NaN,NaN,NaN
355838,20242,흑석동,철물점,4751411,32491,848734,77201,6202,16937,298,0,0,59,NaN,NaN,NaN,NaN
355839,20242,흑석동,인테리어,12612194,32491,848734,77201,6202,16937,298,0,0,59,NaN,NaN,NaN,NaN

In [244]:
merged_data[~merged_data['타겟매출액'].isna()]

,년분기,행정동,업종명,월매출(점포),인구수,지역생활인구,장기외국인,단기외국인,주차장면적(면),주차장개수(개소),학교수,학생수,버스정류장수,타겟년분기,년분기_타겟,월매출(점포)_타겟,타겟매출액
0,20191,가락1동,미곡판매,2796909658,20186,523724,13892,1772,20942,83,3,1586,14,20193.0,20193.0,2.071529e+09,2.071529e+09
1,20191,가락1동,분식전문점,54333333,20186,523724,13892,1772,20942,83,3,1586,14,20193.0,20193.0,3.260000e+07,3.260000e+07
2,20191,가락1동,편의점,806489641,20186,523724,13892,1772,20942,83,3,1586,14,20193.0,20193.0,3.757572e+08,3.757572e+08
3,20191,가락1동,한식음식점,180429821,20186,523724,13892,1772,20942,83,3,1586,14,20193.0,20193.0,1.481760e+08,1.481760e+08
4,20191,가락1동,의약품,7641042,20186,523724,13892,1772,20942,83,3,1586,14,20193.0,20193.0,6.511450e+06,6.511450e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355761,20234,흑석동,화장품,36361726,32231,852263,85095,6528,16937,298,4,2698,59,20242.0,20242.0,3.303024e+07,3.303024e+07
355762,20234,흑석동,가구,30110515,32231,852263,85095,6528,16937,298,4,2698,59,20242.0,20242.0,4.237776e+07,4.237776e+07
355763,20234,흑석동,철물점,3757768,32231,852263,85095,6528,16937,298,4,2698,59,20242.0,20242.0,4.751411e+06,4.751411e+06
355764,20234,흑석동,인테리어,3010871,32231,852263,85095,6528,16937,298,4,2698,59,20242.0,20242.0,1.261219e+07,1.261219e+07
355765,20234,흑석동,세탁소,102053,32231,852263,85095,6528,16937,298,4,2698,59,20242.0,20242.0,5.239350e+05,5.239350e+05

2분기 미루기 (원빈)

In [245]:
data = pd.read_csv("Merged_Sales_data_v2.6(selected_store).csv")

In [246]:
categories = {
    "식음료": [
        "커피-음료", "치킨전문점", "패스트푸드점", "분식전문점", "한식음식점",
        "양식음식점", "일식음식점", "호프-간이주점", "제과점", "중식음식점"
    ],
    "의료_건강": [
        "의약품", "치과의원", "일반의원", "한의원", "피부관리실", "의료기기"
    ],
    "소매_편의": [
        "미곡판매", "편의점", "슈퍼마켓", "반찬가게", "육류판매",
        "수산물판매", "문구", "청과상"
    ],
    "미용_패션": [
        "미용실", "화장품", "네일숍", "신발", "일반의류"
    ],
    "교육_학원": [
        "일반교습학원", "스포츠강습", "예술학원", "외국어학원"
    ],
    "취미_레저": [
        "PC방", "스포츠클럽", "골프연습장", "완구", "당구장", "노래방",
        "화초", "운동/경기용품", "자전거 및 기타운송장비", "애완동물", "서적"
    ],
    "생활서비스": [
        "세탁소", "철물점", "안경", "인테리어", "자동차미용",
        "가전제품수리", "조명용품", "섬유제품", "전자상거래업"
    ],
    "가구_전자기기": [
        "가구", "가전제품", "핸드폰", "시계및귀금속", "컴퓨터및주변장치판매", "가방"
    ],
    "부동산_숙박": [
        "부동산중개업", "여관", "고시원"
    ]
}

In [247]:
def categorize_merged_data(merged_data):
    for category, biz_list in categories.items():
        if merged_data in biz_list:
            return category
    return "기타"

In [248]:
data['업종별카테고리'] = data['업종명'].apply(categorize_merged_data)
merged_data = data
merged_data

,년분기,행정동,업종명,월매출(점포),인구수,지역생활인구,장기외국인,단기외국인,주차장면적(면),주차장개수(개소),학교수,학생수,버스정류장수,업종별카테고리
0,20191,가락1동,미곡판매,2796909658,20186,523724,13892,1772,20942,83,3,1586,14,소매_편의
1,20191,가락1동,분식전문점,54333333,20186,523724,13892,1772,20942,83,3,1586,14,식음료
2,20191,가락1동,편의점,806489641,20186,523724,13892,1772,20942,83,3,1586,14,소매_편의
3,20191,가락1동,한식음식점,180429821,20186,523724,13892,1772,20942,83,3,1586,14,식음료
4,20191,가락1동,의약품,7641042,20186,523724,13892,1772,20942,83,3,1586,14,의료_건강
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335251,20242,흑석동,서적,4235333,32491,848734,77201,6202,16937,298,0,0,59,취미_레저
335252,20242,흑석동,화장품,33030239,32491,848734,77201,6202,16937,298,0,0,59,미용_패션
335253,20242,흑석동,가구,42377763,32491,848734,77201,6202,16937,298,0,0,59,가구_전자기기
335254,20242,흑석동,철물점,4751411,32491,848734,77201,6202,16937,298,0,0,59,생활서비스
335255,20242,흑석동,인테리어,12612194,32491,848734,77201,6202,16937,298,0,0,59,생활서비스

In [249]:
grouped_df = merged_data.groupby(['년분기', '행정동', '업종별카테고리']).agg({
    '월매출(점포)': 'sum',
    # '주중매출': 'sum',
    # '주말매출': 'sum',
    # '점포수': 'sum',
    '지역생활인구': 'mean',
    '장기외국인': 'mean',
    '단기외국인': 'mean',
    '주차장면적(면)': 'mean',
    '주차장개수(개소)': 'mean',
    '학교수': 'mean',
    '학생수': 'mean',
    '버스정류장수': 'mean'	
}).reset_index()

grouped_df

,년분기,행정동,업종별카테고리,월매출(점포),지역생활인구,장기외국인,단기외국인,주차장면적(면),주차장개수(개소),학교수,학생수,버스정류장수
0,20191,가락1동,기타,3975118,523724.0,13892.0,1772.0,20942.0,83.0,3.0,1586.0,14.0
1,20191,가락1동,소매_편의,6565196464,523724.0,13892.0,1772.0,20942.0,83.0,3.0,1586.0,14.0
2,20191,가락1동,식음료,404795979,523724.0,13892.0,1772.0,20942.0,83.0,3.0,1586.0,14.0
3,20191,가락1동,의료_건강,170057995,523724.0,13892.0,1772.0,20942.0,83.0,3.0,1586.0,14.0
4,20191,가락2동,가구_전자기기,10626421,722081.0,8185.0,1925.0,14340.0,1058.0,2.0,1867.0,26.0
...,...,...,...,...,...,...,...,...,...,...,...,...
80593,20242,흑석동,생활서비스,52455262,848734.0,77201.0,6202.0,16937.0,298.0,0.0,0.0,59.0
80594,20242,흑석동,소매_편의,460400862,848734.0,77201.0,6202.0,16937.0,298.0,0.0,0.0,59.0
80595,20242,흑석동,식음료,331108691,848734.0,77201.0,6202.0,16937.0,298.0,0.0,0.0,59.0
80596,20242,흑석동,의료_건강,963794015,848734.0,77201.0,6202.0,16937.0,298.0,0.0,0.0,59.0
80597,20242,흑석동,취미_레저,24619516,848734.0,77201.0,6202.0,16937.0,298.0,0.0,0.0,59.0

In [250]:
# 월매출과 년분기를 한 분기씩 미룸

def shift_within_group(group):
    group = group.sort_values('년분기')  
    group['년분기_미룸'] = group['년분기'].shift(-2)
    group['월매출_shift2'] = group['월매출(점포)'].shift(-2)
    return group

In [251]:
test_data = grouped_df.groupby(['행정동', '업종별카테고리'], group_keys=False).apply(shift_within_group)
test_data

C:\Users\human\AppData\Local\Temp\ipykernel_7928\3275938425.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  test_data = grouped_df.groupby(['행정동', '업종별카테고리'], group_keys=False).apply(shift_within_group)

,년분기,행정동,업종별카테고리,월매출(점포),지역생활인구,장기외국인,단기외국인,주차장면적(면),주차장개수(개소),학교수,학생수,버스정류장수,년분기_미룸,월매출_shift2
0,20191,가락1동,기타,3975118,523724.0,13892.0,1772.0,20942.0,83.0,3.0,1586.0,14.0,20193.0,1.351685e+06
1,20191,가락1동,소매_편의,6565196464,523724.0,13892.0,1772.0,20942.0,83.0,3.0,1586.0,14.0,20193.0,5.496023e+09
2,20191,가락1동,식음료,404795979,523724.0,13892.0,1772.0,20942.0,83.0,3.0,1586.0,14.0,20193.0,3.146153e+08
3,20191,가락1동,의료_건강,170057995,523724.0,13892.0,1772.0,20942.0,83.0,3.0,1586.0,14.0,20193.0,1.250242e+08
4,20191,가락2동,가구_전자기기,10626421,722081.0,8185.0,1925.0,14340.0,1058.0,2.0,1867.0,26.0,20193.0,1.635133e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80593,20242,흑석동,생활서비스,52455262,848734.0,77201.0,6202.0,16937.0,298.0,0.0,0.0,59.0,NaN,NaN
80594,20242,흑석동,소매_편의,460400862,848734.0,77201.0,6202.0,16937.0,298.0,0.0,0.0,59.0,NaN,NaN
80595,20242,흑석동,식음료,331108691,848734.0,77201.0,6202.0,16937.0,298.0,0.0,0.0,59.0,NaN,NaN
80596,20242,흑석동,의료_건강,963794015,848734.0,77201.0,6202.0,16937.0,298.0,0.0,0.0,59.0,NaN,NaN
80597,20242,흑석동,취미_레저,24619516,848734.0,77201.0,6202.0,16937.0,298.0,0.0,0.0,59.0,NaN,NaN

In [252]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 80598 entries, 0 to 80597
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   년분기         80598 non-null  int64
 1   행정동         80598 non-null  object
 2   업종별카테고리     80598 non-null  object
 3   월매출(점포)     80598 non-null  int64
 4   지역생활인구      80598 non-null  float64
 5   장기외국인       80598 non-null  float64
 6   단기외국인       80598 non-null  float64
 7   주차장면적(면)    80598 non-null  float64
 8   주차장개수(개소)   80598 non-null  float64
 9   학교수         80598 non-null  float64
 10  학생수         80598 non-null  float64
 11  버스정류장수      80598 non-null  float64
 12  년분기_미룸      73099 non-null  float64
 13  월매출_shift2  73099 non-null  float64
dtypes: float64(10), int64(2), object(2)
memory usage: 11.2+ MB

In [253]:
back_data = test_data[(test_data["년분기"] == 20241) | (test_data["년분기"] == 20242)]
front_data = test_data[~((test_data["년분기"] == 20241) | (test_data["년분기"] == 20242))]

In [254]:
front_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 73279 entries, 0 to 73278
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   년분기         73279 non-null  int64
 1   행정동         73279 non-null  object
 2   업종별카테고리     73279 non-null  object
 3   월매출(점포)     73279 non-null  int64
 4   지역생활인구      73279 non-null  float64
 5   장기외국인       73279 non-null  float64
 6   단기외국인       73279 non-null  float64
 7   주차장면적(면)    73279 non-null  float64
 8   주차장개수(개소)   73279 non-null  float64
 9   학교수         73279 non-null  float64
 10  학생수         73279 non-null  float64
 11  버스정류장수      73279 non-null  float64
 12  년분기_미룸      73099 non-null  float64
 13  월매출_shift2  73099 non-null  float64
dtypes: float64(10), int64(2), object(2)
memory usage: 8.4+ MB