In [344]:
import numpy as np
import pandas as pd

In [345]:
# lines = []
# with open("living ppl (local)/2019/LOCAL_PEOPLE_DONG_201901.csv", encoding="utf-8") as f:
#     columns = f.readline().replace("\"", "").replace("\n","").split(",")
#     while True:
#         line = f.readline()
#         if not line:
#             break
#         line2 = line.replace(",\"\"", "").replace("\n", "").replace("\"", "")
#         lines.append(line2.split(","))

# pd.DataFrame(lines, columns=columns)

In [346]:
all_lines = []

for month in range(202404, 202407):
    file_path = f"living ppl (local)/2024/LOCAL_PEOPLE_DONG_{month}.csv"

    with open(file_path, encoding="utf-8") as f:
        columns = f.readline().replace("\"", "").replace("\n","").split(",")
        while True:
            line = f.readline()
            if not line:
                break
            line2 = line.replace(",\"\"", "").replace("\n", "").replace("\"", "")
            all_lines.append(line2.split(","))

local = pd.DataFrame(all_lines, columns=columns)

In [347]:
# local.head()

In [348]:
# local.columns

In [349]:
local.columns = local.columns.str.strip()  # 열 이름의 공백 제거
local.columns = local.columns.str.replace('\ufeff', '')  # BOM 제거

In [350]:
local_1 = local.drop(columns=['기준일ID'], axis=1)

In [351]:
local_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 926016 entries, 0 to 926015
Data columns (total 31 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   시간대구분            926016 non-null  object
 1   행정동코드            926016 non-null  object
 2   총생활인구수           926016 non-null  object
 3   남자0세부터9세생활인구수    926016 non-null  object
 4   남자10세부터14세생활인구수  926016 non-null  object
 5   남자15세부터19세생활인구수  926016 non-null  object
 6   남자20세부터24세생활인구수  926016 non-null  object
 7   남자25세부터29세생활인구수  926016 non-null  object
 8   남자30세부터34세생활인구수  926016 non-null  object
 9   남자35세부터39세생활인구수  926016 non-null  object
 10  남자40세부터44세생활인구수  926016 non-null  object
 11  남자45세부터49세생활인구수  926016 non-null  object
 12  남자50세부터54세생활인구수  926016 non-null  object
 13  남자55세부터59세생활인구수  926016 non-null  object
 14  남자60세부터64세생활인구수  926016 non-null  object
 15  남자65세부터69세생활인구수  926016 non-null  object
 16  남자70세이상생활인구수     926016 non-null  object
 17  여자0세부터9세생활인구수    926016 non-null  object
 18  여자10세부터14세생활인구수  926016 non-null  object
 19  여자15세부터19세생활인구수  926016 non-null  object
 20  여자20세부터24세생활인구수  926016 non-null  object
 21  여자25세부터29세생활인구수  926016 non-null  object
 22  여자30세부터34세생활인구수  926016 non-null  object
 23  여자35세부터39세생활인구수  926016 non-null  object
 24  여자40세부터44세생활인구수  926016 non-null  object
 25  여자45세부터49세생활인구수  926016 non-null  object
 26  여자50세부터54세생활인구수  926016 non-null  object
 27  여자55세부터59세생활인구수  926016 non-null  object
 28  여자60세부터64세생활인구수  926016 non-null  object
 29  여자65세부터69세생활인구수  926016 non-null  object
 30  여자70세이상생활인구수     926016 non-null  object
dtypes: object(31)
memory usage: 219.0+ MB

In [352]:
local_2 = local_1.map(lambda v: float(str(v).replace(",","")))
local_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 926016 entries, 0 to 926015
Data columns (total 31 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   시간대구분            926016 non-null  float64
 1   행정동코드            926016 non-null  float64
 2   총생활인구수           926016 non-null  float64
 3   남자0세부터9세생활인구수    926016 non-null  float64
 4   남자10세부터14세생활인구수  926016 non-null  float64
 5   남자15세부터19세생활인구수  926016 non-null  float64
 6   남자20세부터24세생활인구수  926016 non-null  float64
 7   남자25세부터29세생활인구수  926016 non-null  float64
 8   남자30세부터34세생활인구수  926016 non-null  float64
 9   남자35세부터39세생활인구수  926016 non-null  float64
 10  남자40세부터44세생활인구수  926016 non-null  float64
 11  남자45세부터49세생활인구수  926016 non-null  float64
 12  남자50세부터54세생활인구수  926016 non-null  float64
 13  남자55세부터59세생활인구수  926016 non-null  float64
 14  남자60세부터64세생활인구수  926016 non-null  float64
 15  남자65세부터69세생활인구수  926016 non-null  float64
 16  남자70세이상생활인구수     926016 non-null  float64
 17  여자0세부터9세생활인구수    926016 non-null  float64
 18  여자10세부터14세생활인구수  926016 non-null  float64
 19  여자15세부터19세생활인구수  926016 non-null  float64
 20  여자20세부터24세생활인구수  926016 non-null  float64
 21  여자25세부터29세생활인구수  926016 non-null  float64
 22  여자30세부터34세생활인구수  926016 non-null  float64
 23  여자35세부터39세생활인구수  926016 non-null  float64
 24  여자40세부터44세생활인구수  926016 non-null  float64
 25  여자45세부터49세생활인구수  926016 non-null  float64
 26  여자50세부터54세생활인구수  926016 non-null  float64
 27  여자55세부터59세생활인구수  926016 non-null  float64
 28  여자60세부터64세생활인구수  926016 non-null  float64
 29  여자65세부터69세생활인구수  926016 non-null  float64
 30  여자70세이상생활인구수     926016 non-null  float64
dtypes: float64(31)
memory usage: 219.0 MB

In [353]:
local_2['행정동코드'].nunique()

424

In [354]:
local_3 = local_2.astype({"시간대구분":"str", "행정동코드":"str"})
print(local_3)

       시간대구분       행정동코드      총생활인구수  남자0세부터9세생활인구수  남자10세부터14세생활인구수  \
0        0.0  11440585.0  16690.3005       489.5882         241.8582
1        0.0  11290640.0  17254.8326       265.4667         136.9782
2        0.0  11260590.0  24836.1736       575.5669         243.5089
3        0.0  11530540.0  26975.9704       677.5741         279.8057
4        0.0  11500540.0  49512.7524      1540.8540         551.2752
...      ...         ...         ...            ...              ...
926011  23.0  11350612.0  18094.3592       544.1694         481.1237
926012  23.0  11290650.0  20452.8865       912.0771         478.4290
926013  23.0  11170625.0  34726.3273       927.7187         391.4425
926014  23.0  11680565.0  28320.7584      1203.5840         574.8188
926015  23.0  11710642.0  32430.4040       599.7553         263.1578

        남자15세부터19세생활인구수  남자20세부터24세생활인구수  남자25세부터29세생활인구수  남자30세부터34세생활인구수  \
0              321.7900         354.3263         503.1719         615.9802
1              936.3727        2108.2782         993.1308         489.6211
2              341.0603         962.4267        1496.3834        1380.9687
3              332.3631         700.5115        1785.0252        1670.2933
4              689.7894        1323.5019        2398.6313        2653.4434
...                 ...              ...              ...              ...
926011         719.1886         444.1076         490.8203         484.6863
926012         501.0677         637.5735         516.4938         475.2802
926013         789.5582        2139.9138        1619.6511        1891.9664
926014         622.8997         835.5084         837.2567         894.3722
926015         516.1470         709.7014        1487.7289        1951.4783

        남자35세부터39세생활인구수  ...  여자25세부터29세생활인구수  여자30세부터34세생활인구수  \
0              844.4646  ...         750.5231         790.1085
1              516.1633  ...         732.8108         488.7919
2             1256.6995  ...        2043.5564        1615.6401
3             1807.7630  ...        1510.6376        1321.0909
4             2585.2139  ...        3170.3796        2592.4259
...                 ...  ...              ...              ...
926011         547.2287  ...         535.2381         558.1766
926012         675.8082  ...         623.9649         577.6787
926013        2088.6210  ...        1893.9523        1810.8718
926014        1381.0495  ...        1050.7526        1171.0772
926015        2254.0862  ...        1976.0827        2027.4927

        여자35세부터39세생활인구수  여자40세부터44세생활인구수  여자45세부터49세생활인구수  여자50세부터54세생활인구수  \
0              839.8785         697.5542         790.7150         636.1098
1              414.1525         376.4850         365.5632         455.2348
2             1424.6506         831.8179         784.6880         769.7451
3             1352.3565        1060.4784        1042.7210         782.7908
4             2458.9594        1956.3342        1870.8576        1692.5864
...                 ...              ...              ...              ...
926011         758.0697         723.4133         991.6360         844.9649
926012         830.1286         835.8627         833.2079         913.0864
926013        2164.5206        1484.0963        1374.5210        1203.6807
926014        1421.1631        1497.6666        1526.5694        1276.3072
926015        1942.5084        1547.7064        1253.1738         949.8271

        여자55세부터59세생활인구수  여자60세부터64세생활인구수  여자65세부터69세생활인구수  여자70세이상생활인구수
0              619.3970         593.8115         441.4222     1172.2903
1              540.8218         412.3597         282.3098     1102.3257
2              859.3055         761.8320         514.3764     1342.1258
3              823.7957         799.9066         553.7243     1267.0419
4             1928.3318        1546.4568        1473.8741     3217.3606
...                 ...              ...              ...           ...
926011         766.3540         725.8189         436.4442     1280.0178
926012         774.5984         758.7454         661.8495     1682.0383
926013        1103.6159         870.2952         659.3539     1425.9705
926014        1088.6692         714.7586         612.6973     1420.9477
926015         873.1810         777.1835         595.4623     1547.0511

[926016 rows x 31 columns]

In [355]:
local_4 = local_3.groupby(['시간대구분','행정동코드']).mean().reset_index()

In [356]:
# 1. 값 확인
print(local_4['시간대구분'].unique())  # 데이터 확인

# 2. 데이터 변환 (float으로 먼저 변환한 뒤 int로 변환)
local_4['시간대구분'] = local_4['시간대구분'].astype(float).astype(int)

# 3. 정렬
sorted_df = local_4.sort_values(by='시간대구분').reset_index(drop=True)

print(sorted_df)

['0.0' '1.0' '10.0' '11.0' '12.0' '13.0' '14.0' '15.0' '16.0' '17.0'
 '18.0' '19.0' '2.0' '20.0' '21.0' '22.0' '23.0' '3.0' '4.0' '5.0' '6.0'
 '7.0' '8.0' '9.0']
       시간대구분       행정동코드        총생활인구수  남자0세부터9세생활인구수  남자10세부터14세생활인구수  \
0          0  11110515.0  14890.126262     530.064978       337.758711
1          0  11560550.0  22125.062644     757.616576       262.757495
2          0  11560540.0  53280.351602    1974.046527       953.116118
3          0  11560535.0  39370.256800     914.814527       359.448575
4          0  11560515.0  18306.674496     485.209921       185.152945
...      ...         ...           ...            ...              ...
10171     23  11305590.0  18948.910567     377.559635       237.144184
10172     23  11305575.0  22458.917548    1352.150345       756.625525
10173     23  11305555.0  26179.334393     886.135369       489.913152
10174     23  11350560.0  23016.945201     754.421937       388.037180
10175     23  11740700.0  25801.231577    1245.066879       628.079374

       남자15세부터19세생활인구수  남자20세부터24세생활인구수  남자25세부터29세생활인구수  남자30세부터34세생활인구수  \
0           546.683737       377.599558       404.859536       356.434913
1           397.758131       600.894952      1157.997153      1325.113786
2          1127.035490      1120.128481      1685.950571      2177.003893
3           520.503270      1222.079924      2986.176759      2975.148112
4           367.592263       464.784995       995.620547       904.967208
...                ...              ...              ...              ...
10171       360.896286       783.005487       896.008275       697.252556
10172       642.852444       430.980266       387.172937       404.128448
10173       618.229660       688.013442       728.288266       666.466333
10174      1084.538418      1962.116875      1047.810441       689.081293
10175       726.294752       599.708182       780.433831       815.391967

       남자35세부터39세생활인구수  ...  여자25세부터29세생활인구수  여자30세부터34세생활인구수  \
0           499.597858  ...       426.952058       549.112418
1          1298.876129  ...      1389.507678      1371.181595
2          2922.192076  ...      1948.086956      2052.000202
3          2612.798651  ...      3621.642481      2872.053327
4           971.287277  ...       986.779571       851.960123
...                ...  ...              ...              ...
10171       754.114052  ...       921.337179       643.721051
10172       779.800833  ...       450.616542       536.056620
10173       976.043420  ...       720.767615       734.744166
10174       844.857500  ...       697.307707       627.592211
10175      1135.937716  ...       818.460668       825.587377

       여자35세부터39세생활인구수  여자40세부터44세생활인구수  여자45세부터49세생활인구수  여자50세부터54세생활인구수  \
0           637.480289       694.796296       838.333014       651.933852
1          1337.404756       859.349323       846.522922       683.705855
2          2792.911975      2450.513409      2485.278631      1811.410763
3          2048.968067      1392.672296      1023.582699       905.211041
4           884.692810       658.640681       641.823385       615.511453
...                ...              ...              ...              ...
10171       603.675908       597.967393       703.769265       717.130374
10172       941.727685       986.447393      1238.187784      1137.524025
10173      1036.091688       953.967045      1091.068530      1144.475736
10174       767.538334       711.268196       861.384281       693.562858
10175      1035.603795       989.635716      1098.691953      1044.598803

       여자55세부터59세생활인구수  여자60세부터64세생활인구수  여자65세부터69세생활인구수  여자70세이상생활인구수
0           626.268716       521.621373       336.664318   1125.876738
1           742.920636       615.556421       503.475019   1146.311676
2          1711.757663      1340.081348      1057.489297   3172.492604
3           888.678559       699.118688       558.442075   1283.036556
4           770.814479       596.507365       431.308258   1050.037191
...                ...              ...              ...           ...
10171       824.253095       670.249969       501.995614   1555.279658
10172       813.694060       614.798645       536.291570   1544.745001
10173      1261.413640      1043.936359       817.222729   2394.296034
10174       768.338989       735.689074       563.931201   1571.496741
10175      1107.935385       957.580081       735.501001   1948.527742

[10176 rows x 31 columns]

In [357]:
sorted_df.to_csv('living_local_end/local_20242.csv', index=False)