In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
people_csv = pd.read_csv('data-files/people.csv')
people_csv.head()

,기준_년분기_코드,상권_구분_코드,상권_구분_코드_명,상권배후지_코드,상권배후지_코드_명,총_상주인구_수,남성_상주인구_수,여성_상주인구_수,연령대_10_상주인구_수,연령대_20_상주인구_수,...,남성연령대_60_이상_상주인구_수,여성연령대_10_상주인구_수,여성연령대_20_상주인구_수,여성연령대_30_상주인구_수,여성연령대_40_상주인구_수,여성연령대_50_상주인구_수,여성연령대_60_이상_상주인구_수,총_가구_수,아파트_가구_수,비_아파트_가구_수
0,20194,A,골목상권,3110001,이북5도청사,3414,1638,1776,599,455,...,395,284,211,181,310,336,454,1286,0,1286
1,20194,A,골목상권,3110002,독립문역 1번,6543,3042,3501,1241,730,...,711,663,410,363,598,529,938,2463,0,2463
2,20194,A,골목상권,3110003,세검정초등학교,8048,3818,4230,1384,1117,...,852,691,546,506,706,771,1010,3099,0,3099
3,20194,A,골목상권,3110004,대신고등학교,8390,3893,4497,1213,1028,...,961,609,543,558,699,709,1379,3913,0,3913
4,20194,A,골목상권,3110005,세검정,6224,2909,3315,1020,886,...,662,509,437,412,558,564,835,2568,0,2568

In [4]:
(people_csv['기준_년분기_코드']<20194).sum()

0

In [5]:
cell_csv = pd.read_csv('data-files/cell.csv')
cell_csv.head()

,기준_년분기_코드,행정동_코드,행정동_코드_명,서비스_업종_코드,서비스_업종_코드_명,당월_매출_금액,당월_매출_건수,주중_매출_금액,주말_매출_금액,월요일_매출_금액,...,시간대_건수~21_매출_건수,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수
0,20231,11110515,청운효자동,CS100001,한식음식점,4044405878,128881,2933978151,1110427727,515654088,...,38021,4814,57702,59544,618,22428,28949,22890,24205,18154
1,20231,11110515,청운효자동,CS100003,일식음식점,440409096,17294,303271351,137137745,26966279,...,4766,233,6519,9708,266,6051,4598,2503,2118,689
2,20231,11110515,청운효자동,CS100004,양식음식점,2079840033,36469,1261311797,818528236,160368115,...,13732,3049,11639,22519,208,12284,11402,4560,4137,1567
3,20231,11110515,청운효자동,CS100005,제과점,833615483,61657,498790912,334824571,89378438,...,16121,381,19895,40766,341,13420,17153,12246,11275,6222
4,20231,11110515,청운효자동,CS100006,패스트푸드점,31372426,2752,23495453,7876973,6264218,...,300,0,1083,1497,100,656,684,727,313,100

In [6]:
cell_csv['행정동_코드_명'].nunique()

423

In [7]:
cell_csv.tail()

,기준_년분기_코드,행정동_코드,행정동_코드_명,서비스_업종_코드,서비스_업종_코드_명,당월_매출_금액,당월_매출_건수,주중_매출_금액,주말_매출_금액,월요일_매출_금액,...,시간대_건수~21_매출_건수,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수
101134,20242,11740700,둔촌2동,CS300028,화초,328112541,7432,210773705,117338836,24130642,...,1973,26,3476,3607,33,392,1297,1119,1552,2691
101135,20242,11740700,둔촌2동,CS300029,애완동물,169538667,5118,109352634,60186033,24569884,...,1966,265,2502,2427,0,427,1146,945,1230,1181
101136,20242,11740700,둔촌2동,CS300031,가구,16988783,37,7138470,9850313,0,...,10,0,15,22,0,0,0,9,10,18
101137,20242,11740700,둔촌2동,CS300033,철물점,105579457,1376,101017842,4561615,39779336,...,238,0,758,471,0,34,358,169,288,380
101138,20242,11740700,둔촌2동,CS300043,전자상거래업,4300647,15,4300647,0,2257839,...,10,0,5,5,0,0,5,5,0,0

In [10]:
print(len(cell_csv['서비스_업종_코드_명'].unique()))
cell_csv['서비스_업종_코드_명'].unique()

63

array(['한식음식점', '일식음식점', '양식음식점', '제과점', '패스트푸드점', '분식전문점', '호프-간이주점',
       '커피-음료', '일반교습학원', '예술학원', '스포츠 강습', '일반의원', '치과의원', '자동차미용',
       '미용실', '피부관리실', '세탁소', '슈퍼마켓', '편의점', '미곡판매', '육류판매', '수산물판매',
       '청과상', '반찬가게', '일반의류', '신발', '안경', '시계및귀금속', '의약품', '서적', '섬유제품',
       '화초', '인테리어', '전자상거래업', '중식음식점', '치킨전문점', '한의원', '당구장', '스포츠클럽',
       '자동차수리', '네일숍', '여관', '노래방', '가방', '의료기기', '문구', '화장품', '외국어학원',
       '철물점', '골프연습장', '가전제품수리', '고시원', '컴퓨터및주변장치판매', '핸드폰', '가전제품',
       '조명용품', '운동/경기용품', 'PC방', '가구', '애완동물', '부동산중개업', '완구',
       '자전거 및 기타운송장비'], dtype=object)